.button-group
  .popover.popover--left.js-popover
    button.button.button--narrow.button--small.u-spacer--none.js-popover__toggle
      span Downloaden
      i.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
    ul.popover__content
      li
        a.popover__link(href='#') CSV file (excel)
      li
        a.popover__link(href='#') JSON file
      li
        a.popover__link(href="#") Turtle file
