.temporary-select__wrapper.temporary-select__wrapper--block.u-border--light--round(data-content='', aria-labelledby='', data-show='true', aria-hidden='false', style="margin-bottom: 30rem;")
    .u-padding--round--tiny
        input.js-tag-input.input-field(type='text', name='tag-input-demo', placeholder='Voeg tags toe')

    .select__search-results
        .select__list-wrapper(role='listbox')
            section.select__list(data-records='')
                .select__item
                    button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen (provincieraad)', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                        span.select__cta__title <strong>Antw</strong>erpen (provincieraad)
                .select__item
                    button.select__cta(type='button', data-index='6', data-value='ANT', data-label='Antwerpen (districtsraad)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (districtsraad)
                .select__item
                    button.select__cta(type='button', data-index='7', data-value='ANT', data-label='Antwerpen (districtscollege)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (districtscollege)
                .select__item
                    button.select__cta(type='button', data-index='8', data-value='ANT', data-label='Antwerpen (gemeenteraad)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (gemeenteraad)
                .select__item
                    button.select__cta(type='button', data-index='9', data-value='ANT', data-label='Antwerpen (college)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (college)
                .select__item
                    button.select__cta(type='button', data-index='10', data-value='ANT', data-label='Antwerpen (OCMW)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (OCMW)
                .select__item
                    button.select__cta(type='button', data-index='11', data-value='ARE', data-label='Arendonk', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Arendonk
                .select__item
                    button.select__cta(type='button', data-index='12', data-value='BAA', data-label='Baarle-Hertog', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Baarle-Hertog
                .select__item
                    button.select__cta(type='button', data-index='13', data-value='BAL', data-label='Balen', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Balen
                .select__item
                    button.select__cta(type='button', data-index='14', data-value='BEE', data-label='Beerse', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Beerse
                .select__item
                    button.select__cta(type='button', data-index='15', data-value='BER', data-label='Berlaar', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Berlaar
                .select__item
                    button.select__cta(type='button', data-index='16', data-value='BOE', data-label='Boechout', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Boechout
                .select__item
                    button.select__cta(type='button', data-index='17', data-value='BON', data-label='Bonheiden', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Bonheiden
                .select__item
                    button.select__cta(type='button', data-index='18', data-value='BOO', data-label='Boom', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Boom
                .select__item
                    button.select__cta(type='button', data-index='19', data-value='BOR', data-label='Bornem', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Bornem
                .select__item
                    button.select__cta(type='button', data-index='20', data-value='BOS', data-label='Borsbeek', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Borsbeek
                .select__item
                    button.select__cta(type='button', data-index='21', data-value='BRA', data-label='Brasschaat', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Brasschaat
                .select__item
                    button.select__cta(type='button', data-index='22', data-value='BRE', data-label='Brecht', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Brecht


.temporary-select__wrapper.temporary-select__wrapper--block.u-border--light--round(data-content='', aria-labelledby='', data-show='true', aria-hidden='false', style="margin-bottom: 30rem;")
    .u-padding--round--tiny
        input.js-tag-input.input-field(type='text', name='tag-input-demo', placeholder='Voeg tags toe')

    .select__search-results
        .select__list-wrapper(role='listbox')
            section.select__list(data-records='')
                .select__item
                    button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen (provincieraad)', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                        span.select__cta__title <strong>Antw</strong>erpen (provincieraad)
                .select__item
                    button.select__cta(type='button', data-index='6', data-value='ANT', data-label='Antwerpen (districtsraad)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (districtsraad)
                .select__item
                    button.select__cta(type='button', data-index='7', data-value='ANT', data-label='Antwerpen (districtscollege)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (districtscollege)
                .select__item
                    button.select__cta(type='button', data-index='8', data-value='ANT', data-label='Antwerpen (gemeenteraad)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (gemeenteraad)
                .select__item
                    button.select__cta(type='button', data-index='9', data-value='ANT', data-label='Antwerpen (college)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (college)
                .select__item
                    button.select__cta(type='button', data-index='10', data-value='ANT', data-label='Antwerpen (OCMW)', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title <strong>Antw</strong>erpen (OCMW)
                .select__item
                    button.select__cta(type='button', data-index='11', data-value='ARE', data-label='Arendonk', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Arendonk
                .select__item
                    button.select__cta(type='button', data-index='12', data-value='BAA', data-label='Baarle-Hertog', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Baarle-Hertog
                .select__item
                    button.select__cta(type='button', data-index='13', data-value='BAL', data-label='Balen', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Balen
                .select__item
                    button.select__cta(type='button', data-index='14', data-value='BEE', data-label='Beerse', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Beerse
                .select__item
                    button.select__cta(type='button', data-index='15', data-value='BER', data-label='Berlaar', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Berlaar
                .select__item
                    button.select__cta(type='button', data-index='16', data-value='BOE', data-label='Boechout', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Boechout
                .select__item
                    button.select__cta(type='button', data-index='17', data-value='BON', data-label='Bonheiden', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Bonheiden
                .select__item
                    button.select__cta(type='button', data-index='18', data-value='BOO', data-label='Boom', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Boom
                .select__item
                    button.select__cta(type='button', data-index='19', data-value='BOR', data-label='Bornem', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Bornem
                .select__item
                    button.select__cta(type='button', data-index='20', data-value='BOS', data-label='Borsbeek', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Borsbeek
                .select__item
                    button.select__cta(type='button', data-index='21', data-value='BRA', data-label='Brasschaat', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Brasschaat
                .select__item
                    button.select__cta(type='button', data-index='22', data-value='BRE', data-label='Brecht', data-record='', data-focus='', role='option', tabindex='-1')
                        span.select__cta__title Brecht
