.grid
  .col--6-12
    a.toggle--arrow-down(href='#link-to-detailpage', data-drawer-id='123', data-drawer-content-id='74adf8')
      | Toon inhoud in drawer component Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, atque.
  .col--6-12
    a.toggle--arrow-down(href='#link-to-detailpage', data-drawer-id='123', data-drawer-content-id='3456gs')
      | Toon andere inhoud in drawer component Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum tempora consequuntur, labore eaque magni numquam.
.drawer(data-drawer='123', tabindex='-1')
  a.link--icon--close.drawer__close.js-drawer__close(href='')
    span.u-visually-hidden Venster sluiten
  .layout.layout--wide
    .drawer__content(data-drawer-content='74adf8')
      h1.h2 Inhoud
      .typography
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis iste sed sit repudiandae velit optio temporibus numquam, quidem minus obcaecati facilis excepturi nihil hic id quod maxime officiis! Fuga debitis esse rem blanditiis aut minima earum dolor aspernatur atque doloremque recusandae, excepturi cum vel consectetur? Unde fuga consectetur aperiam, dolore illo harum sequi! Quas dolor provident suscipit unde consequatur incidunt quos, voluptate debitis officia a! Ad in tempora fuga nesciunt ullam similique at! Recusandae hic adipisci, eligendi ea ad quidem, repellendus? Aperiam accusantium fugiat dolorem reprehenderit perferendis. Incidunt cumque, animi aperiam eveniet unde dicta rerum illum voluptate, repudiandae porro excepturi!
    .drawer__content(data-drawer-content='3456gs')
      h1.h2 Andere inhoud
      .typography
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, reiciendis error molestias adipisci deleniti nostrum quam similique et distinctio laudantium velit numquam iure in amet, iste quae veniam sint! Ducimus.
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in animi, doloribus qui aperiam labore aliquam consequuntur, quasi sint molestiae officia harum quis fugiat atque voluptatibus, dignissimos voluptatum repudiandae corporis amet nobis odio! Velit consequuntur accusamus, ratione dolores omnis, deserunt ad laudantium dignissimos magni qui impedit maiores optio quibusdam vero quis iste fuga, excepturi quasi culpa facilis ab. Nemo mollitia modi natus, iste sapiente reiciendis nisi temporibus error soluta ut. Accusantium ratione ipsum recusandae provident nam tempora quia distinctio placeat sequi velit expedita non alias pariatur possimus unde vitae laudantium quae dignissimos ducimus, quos maiores earum aliquid officiis molestias. Unde.
