.grid
  .col--6-12
    <div class="popover popover--left js-popover">
      <button class="button button--narrow js-popover__toggle" type="button">Popover aan linkerkant uitgelijnd</button>
      <ul class="popover__content">
        <li>
          <a class="popover__link" href="#">Lorem ipsum</a>
        </li>
        <li>
          <a class="popover__link" href="#">Test link</a>
        </li>
        <li>
          <a class="popover__link popover__link--active" href="#">Active link</a>
        </li>
        <li>
          <a class="popover__link" href="#">Dolor sit</a>
        </li>
        <li>
          <a class="popover__link popover__link--separated" href="#">Amet consectetur</a>
        </li>
      </ul>
    </div>
    br
    br

  .col--6-12
    <div class="popover popover--right js-popover">
      <button class="button button--narrow js-popover__toggle" type="button">Popover aan rechterkant uitgelijnd</button>
      <ul class="popover__content">
        <li>
          <a class="popover__link" href="#">Lorem ipsum</a>
        </li>
        <li>
          <a class="popover__link" href="#">Test link</a>
        </li>
        <li>
          <a class="popover__link popover__link--active" href="#">Actieve link</a>
        </li>
        <li>
          <a class="popover__link" href="#">Dolor sit</a>
        </li>
        <li>
          <a class="popover__link popover__link--separated" href="#">Amet consectetur</a>
        </li>
      </ul>
    </div>


  .col--6-12
    .popover.popover--left.js-popover
      button.data-table__action__toggle.data-table__action__toggle--arrow.js-popover__toggle Downloaden
      ul.popover__content
        li
          a.popover__link(href='#') CSV file (excel)
        li
          a.popover__link(href='#') JSON file
        li
          a.popover__link(href="#") Turtle file

br
br
br
br
br
br
