form.form(action='')
  .range.js-range
    .range__from
      label.u-hidden-text(for='from')
      input#from.input-field.input-field--small.js-range__from(name='from', type='number', value='0')
    .range__to
      label.u-hidden-text(for='to')
      input#to.input-field.input-field--small.js-range__to(type='number', name='to', value='999')
    .range__slider-wrapper
      .js-range__slider
