.badge.badge--s
  img.badge__img(src='https://placehold.it/150x150', alt='badge example')
.badge.badge--m
  img.badge__img(src='https://placehold.it/150x150', alt='badge example')
.badge.badge--l
  img.badge__img(src='https://placehold.it/150x150', alt='badge example')
.badge.badge--xl
  img.badge__img(src='https://placehold.it/150x150', alt='badge example')
