.modal-dialog.modal-dialog--static.modal-dialog--sectioned
    .modal-dialog__header
        .grid
            .col--10-12
                h2.h2 Filter mandatendatabank
            .col--2-12.u-align-right
                a.link--icon--close.toggle-modal(href="#")
                    span.u-visually-hidden Venster sluiten
    .modal-dialog__content
        .grid.u-spacer--bottom--tiny

            .col--1-1

                label.label--subtle.u-spacer--bottom--tiny.u-display--block Fractie of politieke partij
                .temporary-select__wrapper.u-spacer--bottom--tiny(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
                    .input-field-icon-container--right
                        input.toggle-search-fracties.input-field.input-field--small.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek fractie', value="Alle fracties & partijen", autofocus, onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
                        i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
                        span#selectFormInputDescriptionselecterken.u-visually-hidden
                            | U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

                    .select__search-results.search-results-fracties.u-hidden
                        .select__list-wrapper(role='listbox')
                            section.select__list.select__list--checkboxes(data-records='')
                                .select__item
                                    button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title(href="/mandatendatabank/mandatendatabank-search.html") N-VA
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title(href="/mandatendatabank/mandatendatabank-search.html") HELEMAAL HASSELT
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title(href="/mandatendatabank/mandatendatabank-search.html") CD&amp;V
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title(href="/mandatendatabank/mandatendatabank-search.html") GROEI met Open Vld
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title(href="/mandatendatabank/mandatendatabank-search.html") Vlaams Belang

            .col--1-1
                label.label--subtle.u-spacer--bottom--tiny.u-display--block Mandatarissen
                .js-select__input.js-select__input--small.js-select__input--multi.toggle-search-mandataris(data-focus='')
                    .pill.pill--closable
                        span Alfons Froidmont
                        a.pill__close(href='#', data-value='6') verwijder optie
                    .pill.pill--closable
                        span Koen Beulen
                        a.pill__close(href='#', data-value='5') verwijder optie
                .temporary-select__wrapper.u-spacer--bottom--tiny
                    .select__search-results.search-results-mandataris.u-hidden
                        .select__list-wrapper(role='listbox')
                            section.select__list.select__list--checkboxes(data-records='')
                                .select__item
                                    button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Alfons Froidmont
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Antoine Guido Fissette
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Bert Maria Lambrechts
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Brigitta Johanna Grosemans
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Brigitte Marie Smets
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Carlo Joseph Gysens
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Christa Hermine Tuch
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Derya Erdogan
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Elisabeth Alice Jans
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Eric Ghislain Jorissen
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Frank Joseph Vandenhoudt
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Frank Henri Troosters
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Frank Leon Keunen
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Gerald Maurice Corthouts
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Habib El Ouakili
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Hubert Jan Lenssen
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Ivo Jean Konings
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Ivo Maria Belet
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Jan Wouters
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Jean Joseph Lambrecks
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Joost Geert Venken
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Jose Nelly Dexters
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Karolien Louis Mondelaers
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Katrijn Otte
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Kevin Schouterden
                                .select__item
                                    button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Koen Beulen
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Kristel Virginie Vanquaethoven
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Laurence Françoise Libert
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Lutgardis Maria Creemers
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Marc Antoine Collett
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Marijke Jordens
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Michiel Rosalie Liefsoens
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Nadja Emiel Vananroye
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Peter Edmond Liefsoens
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Peter Jean Ramaekers
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Pieter Kris Cuppens
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Rik Dehollogne
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Rob Beenders
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Steven Hubert Vandeput
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Sylvia Stefanie Feytons
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Tom Jozef Vandeput
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Valerie An Del Re

            .col--1-1

                label.label--subtle.u-spacer--bottom--tiny.u-display--block Bevoegdheden
                .temporary-select__wrapper.u-spacer--bottom--tiny(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
                    .input-field-icon-container--right
                        input.toggle-search-bevoegdheden.input-field.input-field--small.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek fractie', value="Alle bevoegdheden", autofocus, onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
                        i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
                        span#selectFormInputDescriptionselecterken.u-visually-hidden
                            | U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

                    .select__search-results.search-results-bevoegdheden.u-hidden
                        .select__list-wrapper(role='listbox')
                            section.select__list.select__list--checkboxes(data-records='')
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Administratieve vereenvoudiging
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Bevolking
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Burgerlijke stand
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Cultuur
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Dierenwelzijn
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Domeinen
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Duurzaamheid
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Energie
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Evenementen
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Financiën
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Gezin
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Groenbeleid
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Jeugd
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Juridische zaken
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Kerkfabrieken
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Landbouw
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Leefmilieu
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Mobiliteit
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Nutsvoorzieningen
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Onderwijs
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Ontmoetingscentra
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Ontwikkelingssamenwerking
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Openbare Werken
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Parking
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Patrimonium
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Personeel
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Ruim- en reinigingsdienst
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Senioren
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Sociale huisvesting
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Sport
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Toerisme
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Verkiezingen
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Welzijn
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title Wonen

            .col--1-1

                label.label--subtle.u-spacer--bottom--tiny.u-display--block Kies bestuur of een orgaan
                .button-group__inline.button-group__inline--tiny.u-spacer--bottom--tiny.u-clearfix
                    button.button.button--narrow.button--alt.button--small.button--active Bestuur
                    button.button.button--narrow.button--alt.button--small Gemeenteraad
                    button.button.button--narrow.button--alt.button--small College
                    button.button.button--narrow.button--alt.button--small Burgemeester
                    button.button.button--narrow.button--alt.button--small OCMW

            .col--1-1
                label.label--subtle.u-spacer--bottom--tiny.u-display--block Mandaten
                .button-group__inline.button-group__inline--tiny.u-spacer--bottom--tiny.u-clearfix
                    button.button.button--narrow.button--alt.button--small Alle
                    button.button.button--narrow.button--alt.button--small.button--active Schepen
                    button.button.button--narrow.button--alt.button--small Raadslid
                    button.button.button--narrow.button--alt.button--small Burgemeester
                    button.button.button--narrow.button--alt.button--small Voorzitter


            .col--1-1
                label.label--subtle.u-spacer--bottom--tiny.u-display--block Bestuursperiode
                .temporary-select__wrapper.u-spacer--bottom--tiny(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
                    .input-field-icon-container--right
                        input.toggle-search-bestuursperiode.input-field.input-field--small.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek fractie', value="2013 — 2018", autofocus, onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
                        i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
                        span#selectFormInputDescriptionselecterken.u-visually-hidden
                            | U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

                    .select__search-results.search-results-bestuursperiode.u-hidden
                        .select__list-wrapper(role='listbox')
                            section.select__list.select__list--radios(data-records='')
                                .select__item
                                    button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title 2013 &mdash; 2018
                                .select__item
                                    button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
                                        a.select__cta__title 2019 &mdash; 2024
    .modal-dialog__footer
        .button-group
            button.button.button--narrow.u-spacer--none Herstel alle filters
            button.button.button--narrow.button--link.button--link--dark.u-spacer--none.toggle-modal
                i(aria-hidden="true").vi.vi-cross.vi-u-link
                span Sluit venster
