table.data-table
    thead
        tr.data-table__header
            th(style="width: 150px !important;").data-table__header-title
                a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort', style="width: 150px !important;")
                    | Orgaan
            th.data-table__header-title
                a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort', style="width: 150px !important;")
                    | Fractie
            th(style="width: 150px !important;").data-table__header-title
                a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort', style="width: 150px !important;")
                    | Naam
                    i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow.vi-u-180deg
            th(style="width: 150px !important;").data-table__header-title
                a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort', style="width: 150px !important;")
                    | Familienaam
            th(style="width: 150px !important;").data-table__header-title
                a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort', style="width: 80px !important;")
                    | Geslacht
            th(style="width: 150px !important;").data-table__header-title
                a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort', style="width: 150px !important;")
                    | Mandaten
            th.data-table__header-title Bevoegdheden
            th(style="width: 150px !important;").data-table__header-title
                a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort', style="width: 150px !important;")
                    | Start&nbsp;mandaat
            th(style="width: 150px !important;").data-table__header-title
                a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort', style="width: 150px !important;")
                    | Einde&nbsp;mandaat
    tbody
        tr
            td(style="width: 150px !important;")
                a(href="mandatendatabank/mandatendatabank-orgaan.html") Gemeenteraad
            td(style="width: 150px !important;")
                a(href="/mandatendatabank/mandatendatabank-fractie.html") N-VA
            td
                a(href="/mandatendatabank/mandatendatabank-mandataris.html") Antoine Guido
            td(style="width: 150px !important;")
                a(href="/mandatendatabank/mandatendatabank-mandataris.html") Fissette
            td(style="width: 150px !important;") Man
            td(style="width: 150px !important;")
                a(href="/mandatendatabank/mandatendatabank-mandaat.html") Gemeenteraadslid
            td
            td(style="width: 150px !important;") 01/01/2013
            td(style="width: 150px !important;") 31/12/2018

        tr
            td
                a(href="mandatendatabank/mandatendatabank-orgaan.html") Gemeenteraad
            td
                a(href="/mandatendatabank/mandatendatabank-fractie.html") HELEMAAL HASSELT
            td
                a(href="/mandatendatabank/mandatendatabank-mandataris.html") Frank Leon
            td
                a(href="/mandatendatabank/mandatendatabank-mandataris.html") Keunen
            td Man
            td
                a(href="/mandatendatabank/mandatendatabank-mandaat.html") Gemeenteraadslid
            td
            td 25/10/2016
            td 31/12/2018
