.modal-dialog.modal-dialog--static(tabindex='-1', role='document', aria-hidden='true')
  h2.modal-dialog__title
    | Modal titel
  .modal-dialog__content
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolore, cumque ex, amet beatae doloremque at? Quis libero ipsam illo consectetur sed aut dicta inventore eum deleniti repellendus, aliquid perferendis.
  .modal-dialog__buttons
    a.button.modal-dialog__button(href='#', role='button') Call to action
    a.modal-dialog__button(href='#', role='button')
      i.vi.vi-cross.vi-u-link
      | Dismiss
