<label for="textarea" class="form__label form__label--block">Uw bericht: </label>
<!-- textarea--error component -->
<textarea class="textarea textarea--error textarea--block" name="text-area-demo" id="textarea" cols="40" rows="4"></textarea>
<div class="form__error">Error bericht</div>
