div(style="min-height: 40rem;")
  .toaster
    .alert.alert--tiny.alert--success
      .grid
        .col--10-12
          .alert__icon(aria-hidden='true')
          .alert__content
            .alert__title Wijzigingen opgeslagen.
            .alert__message
              p Uw wijzigingen werden opgeslagen.
        .col--2-12.u-align--right
          a.link--icon--close.delete-me-close-toaster
            span.u-visually-hidden Venster sluiten

  .toaster
    .alert.alert--tiny.alert--warning
      .grid
        .col--10-12
          .alert__icon(aria-hidden='true')
          .alert__content
            .alert__title Alert met succes indicatie
            .alert__message
              p Er liep iets fout met het opslaan. Probeer het later opnieuw.
        .col--2-12.u-align--right
          a.link--icon--close.delete-me-close-toaster
            span.u-visually-hidden Venster sluiten

  .toaster
    .alert.alert--tiny.alert--error
      .grid
        .col--10-12
          .alert__icon(aria-hidden='true')
          .alert__content
            .alert__title Uw wijzigingen werden niet opgeslagen.
        .col--2-12.u-align--right
          a.link--icon--close.delete-me-close-toaster
            span.u-visually-hidden Venster sluiten

  .toaster
    .alert.alert--tiny.alert--success
      .grid
        .col--10-12
          .alert__icon(aria-hidden='true')
          .alert__content
            .alert__title Wijzigingen opgeslagen.
        .col--2-12.u-align--right
          a.link--icon--close.delete-me-close-toaster
            span.u-visually-hidden Venster sluiten
