<div class="upload js-upload" data-upload-t-close="Sluiten" data-upload-t-drop="Laat de bijlage hier los om op te laden" data-upload-allow-drop>
  <div class="upload__element">
    <input class="upload__element__input" type="file" id="files2[0]" name="files2[0]" id="file2"data-upload-multiple-caption="{count} files selected" multipledata-upload-error-message-filesize="Het bestand mag max :maxFsz zijn."data-upload-max-size="20000000" accept=".jpg, .pdf, .txt"  />
    <label class="upload__element__label" for="files2[0]">
      <i class="vi vi-paperclip"></i><span>Bijlage toevoegen</span>
      <small>Sleep de bijlage naar hier om toe te voegen</small>
    </label>
  </div>
</div>
