.button-group
  button.button.button--x-large button x-large normal
  button.button.button--secondary.button--x-large button x-large secondary
  button.button.button--alt.button--x-large button x-large alt
  button.button.button--alt.button--alt--blue.button--x-large button x-large alt blue
  button.button.button--alt.button--alt--fancy.button--x-large button x-large alt fancy
  button.button.button--dark.button--x-large button x-large dark
  button.button.button--disabled.button--x-large button x-large disabled

.button-group
  a.button.button--x-large button x-large normal
  a.button.button--secondary.button--x-large button x-large secondary
  a.button.button--alt.button--x-large button x-large alt
  a.button.button--alt.button--alt--blue.button--x-large button x-large alt blue
  a.button.button--alt.button--alt--fancy.button--x-large button x-large alt fancy
  a.button.button--dark.button--x-large button x-large dark
  a.button.button--disabled.button--x-large button x-large disabled
