.button-group
  button.button.button--tiny button tiny
  button.button.button--secondary.button--tiny button tiny secondary
  button.button.button--alt.button--tiny button tiny alt
  button.button.button--alt.button--alt--blue.button--tiny button tiny alt blue
  button.button.button--alt.button--alt--fancy.button--tiny button tiny alt fancy
  button.button.button--dark.button--tiny button tiny dark
  button.button.button--disabled.button--tiny button tiny disabled

.button-group
  a.button.button--tiny button tiny
  a.button.button--secondary.button--tiny button tiny secondary
  a.button.button--alt.button--tiny button tiny alt
  a.button.button--alt.button--alt--blue.button--tiny button tiny alt blue
  a.button.button--alt.button--alt--fancy.button--tiny button tiny alt fancy
  a.button.button--dark.button--tiny button tiny dark
  a.button.button--disabled.button--tiny button tiny disabled
