.button-group
  button.button.button--huge button huge normal
  button.button.button--secondary.button--huge button huge secondary
  button.button.button--alt.button--huge button huge alt
  button.button.button--alt.button--alt--blue.button--huge button huge alt blue
  button.button.button--alt.button--alt--fancy.button--huge button huge fancy
  button.button.button--dark.button--huge button huge dark
  button.button.button--disabled.button--huge button huge disabled

.button-group
  a.button.button--huge button huge normal
  a.button.button--secondary.button--huge button huge secondary
  a.button.button--alt.button--huge button huge alt
  a.button.button--alt.button--alt--blue.button--huge button huge alt blue
  a.button.button--alt.button--alt--fancy.button--huge button huge fancy
  a.button.button--dark.button--huge button huge dark
  a.button.button--disabled.button--huge button huge disabled
