.button-group
  button.button.button--normal button normal normal
  button.button.button--secondary.button--normal button normal secondary
  button.button.button--alt.button--normal button normal alt
  button.button.button--alt.button--alt--blue.button--normal button normal alt blue
  button.button.button--alt.button--alt--fancy.button--normal button normal alt fancy
  button.button.button--dark.button--normal button normal dark
  button.button.button--disabled.button--normal button normal disabled

.button-group
  a.button.button--normal button normal normal
  a.button.button--secondary.button--normal button normal secondary
  a.button.button--alt.button--normal button normal alt
  a.button.button--alt.button--alt--blue.button--normal button normal alt blue
  a.button.button--alt.button--alt--fancy.button--normal button normal alt fancy
  a.button.button--dark.button--normal button normal dark
  a.button.button--disabled.button--normal button normal disabled
