.button-group
  button.button.button--small button small normal
  button.button.button--secondary.button--small button small secondary
  button.button.button--alt.button--small button small alt
  button.button.button--alt.button--alt--blue.button--small button small alt blue
  button.button.button--alt.button--alt--fancy.button--small button small alt fancy
  button.button.button--dark.button--small button small dark
  button.button.button--disabled.button--small button small disabled

.button-group
  a.button.button--small button small normal
  a.button.button--secondary.button--small button small secondary
  a.button.button--alt.button--small button small alt
  a.button.button--alt.button--alt--blue.button--small button small alt blue
  a.button.button--alt.button--alt--fancy.button--small button small alt fancy
  a.button.button--dark.button--small button small dark
  a.button.button--disabled.button--small button small disabled
