.button-group
  button.button.button--large button large normal
  button.button.button--secondary.button--large button large secondary
  button.button.button--alt.button--large button large alt
  button.button.button--alt.button--alt--blue.button--large button large alt blue
  button.button.button--alt.button--alt--fancy.button--large button large alt fancy
  button.button.button--dark.button--large button large dark
  button.button.button--disabled.button--large button large disabled

.button-group
  a.button.button--large button large normal
  a.button.button--secondary.button--large button large secondary
  a.button.button--alt.button--large button large alt
  a.button.button--alt.button--alt--blue.button--large button large alt blue
  a.button.button--alt.button--alt--fancy.button--large button large alt fancy
  a.button.button--dark.button--large button large dark
  a.button.button--disabled.button--large button large disabled
