.button-group
  button.button.button--alt.button--alt--blue.button--tiny button alt blue tiny
  button.button.button--alt.button--alt--blue.button--small button alt blue small
  button.button.button--alt.button--alt--blue button alt blue normal
  button.button.button--alt.button--alt--blue.button--large button alt blue large
  button.button.button--alt.button--alt--blue.button--x-large button alt blue x-large
  button.button.button--alt.button--alt--blue.button--huge button alt blue huge
  button.button.button--alt.button--alt--blue.button--disabled button alt blue disabled
