.button-group
  button.button.button--secondary.button--tiny button alt blue tiny
  button.button.button--secondary.button--small button alt blue small
  button.button.button--secondary button alt blue normal
  button.button.button--secondary.button--large button alt blue large
  button.button.button--secondary.button--x-large button alt blue x-large
  button.button.button--secondary.button--huge button alt blue huge
  button.button.button--secondary.button--disabled button alt blue disabled
