.button-group
  button.button.button--alt.button--alt--warning.button--tiny button alt warning tiny
  button.button.button--alt.button--alt--warning.button--small button alt warning small
  button.button.button--alt.button--alt--warning button alt warning normal
  button.button.button--alt.button--alt--warning.button--large button alt warning large
  button.button.button--alt.button--alt--warning.button--x-large button alt warning x-large
  button.button.button--alt.button--alt--warning.button--huge button alt warning huge
  button.button.button--alt.button--alt--warning.button--disabled button alt warning disabled
