.button-group
  button.button.button--dark.button--tiny button dark tiny
  button.button.button--dark.button--small button dark small
  button.button.button--dark button dark normal
  button.button.button--dark.button--large button dark large
  button.button.button--dark.button--x-large button dark x-large
  button.button.button--dark.button--huge button dark huge
  button.button.button--dark.button--disabled button dark disabled
