.button-group
  button.button.button--alt.button--tiny button alt tiny
  button.button.button--alt.button--small button alt small
  button.button.button--alt button alt normal
  button.button.button--alt.button--large button alt large
  button.button.button--alt.button--x-large button alt x-large
  button.button.button--alt.button--huge button alt huge
  button.button.button--alt.button--disabled button alt disabled
