.button-group
  button.button.button--tiny.button--link.button--link--dark button link tiny
  button.button.button--small.button--link.button--link--dark button link small
  button.button.button--link.button--link--dark button link normal
  button.button.button--large.button--link.button--link--dark button link large
  button.button.button--x-large.button--link.button--link--dark button link x large
  button.button.button--huge.button--link.button--link--dark button link huge
  button.button.button--disabled.button--link.button--link--dark button link disabled
