p not sure if we need it
//- .link-group
//-   a regular link (inline example)
//-   a.link--dark.link--dark--light regular link dark light

//- div
//-   a.link--dark.link--dark--light.link--block regular link dark light block
