.button-group
  a.button.button--narrow button info normal
    span.button__info.button__info--below alt + s
  button.button.button--narrow.button--secondary button info secondary
    span.button__info.button__info--below alt + s
  button.button.button--narrow.button--alt button info alt
    span.button__info.button__info--below alt + s

br

.button-group
  button.button.button--narrow.button--alt.button--alt--blue button info alt blue
    span.button__info.button__info--below alt + s
  button.button.button--narrow.button--alt.button--alt--fancy button info fancy
    span.button__info.button__info--below alt + s
  button.button.button--narrow.button--dark button info dark
    span.button__info.button__info--below alt + s
  button.button.button--narrow.button--disabled button info disabled
    span.button__info.button__info--below alt + s

br

.button-group
    button.button <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below alt + s
    button.button
        span.button__info.button__info--below alt + s
        i.vi.vi-magnifier(aria-hidden='true')
    button.button
        span.button__info.button__info--below alt + s
        i.vi.vi-cross(aria-hidden='true')
br

.button-group
    button.button.button--narrow.button--link button info link
        span.button__info.button__info--below alt + s
    button.button.button--narrow.button--secondary button info secondary
        span.button__info.button__info--below alt + s
    button.button.button--narrow.button--alt button info alt
        span.button__info.button__info--below alt + s
br
br
br

.button-group
    button.button.button--tiny button tiny info
        span.button__info.button__info--below alt + s
    button.button.button--small button small info
        span.button__info.button__info--below alt + s
    button.button button normal info
        span.button__info.button__info--below alt + s
br

.button-group
    button.button.button--large button large info
        span.button__info.button__info--below alt + s
    button.button.button--x-large button x large info
        span.button__info.button__info--below alt + s
    button.button.button--huge button huge info
        span.button__info.button__info--below alt + s

