.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--huge <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--huge
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--huge
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--x-large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--x-large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--x-large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--small <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--small
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--small
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--tiny <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--tiny
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--tiny
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br
br
br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--huge <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--huge
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--huge
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--x-large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--x-large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--x-large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--small <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--small
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--small
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--tiny <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--tiny
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--tiny
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br
br
br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--huge <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--blue.button--huge
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--huge
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--x-large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--blue.button--x-large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--x-large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--blue.button--large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--blue <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--blue
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--blue
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--small <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--blue.button--small
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--small
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--tiny <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--blue.button--tiny
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--blue.button--tiny
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br
br
br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--huge <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--fancy.button--huge
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--huge
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--x-large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--fancy.button--x-large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--x-large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--fancy.button--large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--fancy <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--fancy
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--fancy
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--small <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--fancy.button--small
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--small
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--tiny <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--alt.button--alt--fancy.button--tiny
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--alt.button--alt--fancy.button--tiny
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br
br
br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--dark.button--huge <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--dark.button--huge
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--dark.button--huge
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--dark.button--x-large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--dark.button--x-large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--dark.button--x-large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--dark.button--large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--dark.button--large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--dark.button--large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--dark <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--dark
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--dark
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--dark.button--small <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--dark.button--small
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--dark.button--small
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--dark.button--tiny <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--dark.button--tiny
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--dark.button--tiny
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br
br
br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--secondary.button--huge <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--secondary.button--huge
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--secondary.button--huge
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--secondary.button--x-large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--secondary.button--x-large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--secondary.button--x-large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--secondary.button--large <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--secondary.button--large
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--secondary.button--large
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--secondary <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--secondary
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--secondary
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--secondary.button--small <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--secondary.button--small
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--secondary.button--small
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc

br

.button-group__inline.u-clearfix
    button(href="#").button.button--narrow.button--secondary.button--tiny <strong>Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
        span.u-visually-hidden Kies deze optie
    button(href="#").button--active.button.button--narrow.button--secondary.button--tiny
        i.vi.vi-magnifier(aria-hidden='true')
        span.u-visually-hidden Zoek verder
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
    button(href="#").button.button--narrow.button--secondary.button--tiny
        i.vi.vi-cross(aria-hidden='true')
        span.u-visually-hidden negeer
        span.button__info.button__info--below esc













br
br


.button-group__inline.button-group__inline--rounded.u-clearfix
    button(href="#").button.button--tiny.button--alt.button--alt--blue <strong> Datum: 20 oktober 2018</strong>
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;j
    button(href="#").button.button--tiny.button--alt
        i.vi.vi-magnifier(aria-hidden='true')
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
        span.u-visually-hidden Zoek verder
    button(href="#").button.button--tiny.button--alt
        i.vi.vi-cross(aria-hidden='true')
        span.button__info.button__info--below esc
        span.u-visually-hidden Negeer

br

.button-group__inline.button-group__inline--rounded.u-clearfix
    button(href="#").button.button--tiny.button--alt.button--alt--blue <strong>Eri</strong>ka Pauwels
        small(style='font-size: 12px; line-height: 13px;') secre...
    button(href="#").button.button--tiny.button--alt.button--alt--blue <strong>Er</strong>kan hovered
        small(style='font-size: 12px; line-height: 13px;') burgemeester, voorzitter
    button(href="#").button.button--tiny.button--alt
        i.vi.vi-magnifier(aria-hidden='true')
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
        span.u-visually-hidden Zoek verder
    button(href="#").button.button--tiny.button--alt
        i.vi.vi-cross(aria-hidden='true')
        span.button__info.button__info--below esc
        span.u-visually-hidden Negeer

br

.button-group__inline.button-group__inline--rounded.u-clearfix
    button(href="#").button.button--tiny.button--disabled.button--alt.button--alt--blue
        i.vi.vi-arrow.vi-u-180deg
    button(href="#").button.button--tiny.button--alt.button--alt--blue <strong>Eri</strong>ka Pauwels
        small(style='font-size: 12px; line-height: 13px;') secre...
    button(href="#").button.button--tiny.button--alt.button--alt--blue <strong>Er</strong>kan hovered
        small(style='font-size: 12px; line-height: 13px;') burgemeester, voorzitter
    button(href="#").button.button--tiny.button--alt.button--alt--blue
        i.vi.vi-arrow
    button(href="#").button.button--tiny.button--alt
        i.vi.vi-magnifier(aria-hidden='true')
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
        span.u-visually-hidden Zoek verder
    button(href="#").button.button--tiny.button--alt
        i.vi.vi-cross(aria-hidden='true')
        span.button__info.button__info--below esc
        span.u-visually-hidden Negeer

br

.button-group__inline.button-group__inline--rounded.u-clearfix
    button(href="#").button.button--tiny.button--alt.button--alt--blue <strong>Erik</strong>a Pauwels
        small(style='font-size: 12px; line-height: 13px;') burgemeester, voorzitter
    button(href="#").button.button--tiny.button--alt
        i.vi.vi-magnifier(aria-hidden='true')
        span.button__info.button__info--below ctrl&hairsp;+&hairsp;f
        span.u-visually-hidden Zoek verder
    button(href="#").button.button--tiny.button--alt
        i.vi.vi-cross(aria-hidden='true')
        span.button__info.button__info--below esc
        span.u-visually-hidden Negeer
