form(action='').form
  div.checkbox--switch__wrapper
    input(type='checkbox', name='toggle', id='toggle-1', value='', checked).checkbox--switch
    label(for='toggle-1').checkbox--switch__label
    span iOS toggle switch (Checkbox) checked

  div.checkbox--switch__wrapper
    input(type='checkbox', name='toggle', id='toggle-2', value='').checkbox--switch
    label(for='toggle-2').checkbox--switch__label
    span iOS toggle switch (Checkbox) unchecked
