form.form
  label.checkbox
    input(type='checkbox', name='checkbox', value='1').checkbox__toggle
    span
    span Dit is de eerste checkbox

  label.checkbox
    input(type='checkbox', name='checkbox', value='2').checkbox__toggle
    span
    span Dit is de tweede checkbox

  label.checkbox.checkbox--disabled
    input(type='checkbox', name='checkbox', value='3', disabled).checkbox__toggle
    span
    span Deze checkbox is uitgegrijsd
