form.form
  div.u-spacer--small
    label.checkbox.checkbox--block
      input(type='checkbox', name='checkbox', value='0', checked).checkbox__toggle
      span
      span Dit is de eerste checkbox

    label.checkbox.checkbox--block
      input(type='checkbox', name='checkbox', value='1').checkbox__toggle
      span
      span Dit is de tweede checkbox

    label.checkbox.checkbox--block
      input(type='checkbox', name='checkbox', value='2').checkbox__toggle
      span
      span Dit is de derde checkbox
