form.form
  label.checkbox.checkbox--block.checkbox--error
    input(type='checkbox', name='checkbox', value='0').checkbox__toggle
    span
    span Lorem ipsum dolor sit amet, consectetur adipisicing elit.

  div.form__error Dit is een foutmelding.

  label.checkbox.checkbox--block.checkbox--error
    input(type='checkbox', name='checkbox', value='1').checkbox__toggle
    span
    span Ik begrijp en accepteer de <a href="">gebruiksvoorwaarden</a>

  div.form__error Gelieve de #[a(href="#") gebruiksvoorwaarden] te accepteren.
