<ul class="steps steps--has-line">
  <li class="step step--highlighted">
    <div class="step__icon">1</div>
    <div class="step__wrapper">
      <div class="step__header">
        <div class="step__header__titles">
          <h3 class="step__title">Stap 1: assumenda dolores eius expedita explicabo<span class="step__title__annotation">Annotatie</span></h3>
          <h4 class="step__subtitle">Dit is een subtitel.</h4>
        </div>

      </div>
      <div class="step__content-wrapper">
        <div class="step__content">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi esse excepturi quibusdam! Accusamus, assumenda dolores eius expedita explicabo fugit praesentium quaerat quas quasi quod recusandae, sunt tempore voluptatem voluptatibus voluptatum?
        </div>
      </div>
    </div>
  </li>
  <li class="step">
    <div class="step__icon">2</div>
    <div class="step__wrapper">
      <div class="step__header">
        <div class="step__header__titles">
          <h3 class="step__title">Stap 2: aecenas ac dui maximus</h3>
        </div>
        <a class="step__header__action" href="#">Call to action</a>
      </div>
    </div>
  </li>
  <li class="step step--disabled">
    <div class="step__icon">3</div>
    <div class="step__wrapper">
      <div class="step__header">
        <div class="step__header__titles">
          <h3 class="step__title">Stap 3: nulla eget lectus lectus</h3>
        </div>
      </div>
    </div>
  </li>
</ul>
