extends /templates/_templates/header-loket

block loketoverview
	.container-flex--scroll
		header.functional-header
			h1.functional-header__title.u-padding--rl Loket

		h2.h1.u-padding--round Loket: Aanmelden

		a(href="loket/loket-toezicht.html")
			img(src="images/login.png")

		script(type='text/javascript', src='//widgets.vlaanderen.be/widget/live/36cb38a7d97d4ea29cde109aa0994201')
