/* ==========================================================================
  radio buttons
  Style radio buttons here.
 ========================================================================== */

.radio.radio--small {
	font-size: 1.4rem;
	line-height: 1.7;
	margin-left: 2.25rem;
	margin-right: 2rem;

	.radio__toggle + span {
		width: 1.4rem;
		height: 1.4rem;
		left: -2.05rem;
	}
}

.radio.radio--large {
	font-size: 2rem;
	line-height: 1.4;
	margin-bottom: 1rem;

	.radio__toggle + span {
		width: 1.8rem;
		height: 1.8rem;
		top: 0.6rem;
	}
}
