/* ==========================================================================
  Style the layout of the app here
 ========================================================================== */


/* General
 ========================================================================== */

html,
body {
  min-height: 100%;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}


/* General
 ========================================================================== */

.data-table__scroll {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  overflow: auto;

  &.tab__pane {
    display: none;
  }

  &.tab__pane[data-show=true] {
    display: flex;
  }
}

.container-flex--scroll {
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.container-flex--contain {
  position: relative;
  display: flex;
  flex: 1;
  min-height: 0;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  > .grid {
    min-height: 0;
    height: 100%;

    > div[class^="col--"] {
      min-height: 0;
      height: 100%;
    }
  }

  &.tab__pane[data-show=false] {
    display: none;
  }

  &.tab__pane[data-show=true] {
    display: flex;
  }
}


