/* ==========================================================================
  Document miniature
  Style the document miniature here.
 ========================================================================== */

.document-miniature.document-miniature--small {
	vertical-align: top;

	&:last-child {
		padding-bottom: 0;
	}

	.document-miniature__type {
		padding: 0rem 0.9rem;
		min-height: 4rem;
	}

	.document-miniature__type:before {
		font-size: 3rem;
		color: $gray-dark;
		left: 0;
		top: 0;
	}

	.document-miniature__type__text {
		font-size: 1.3rem;
		color: $white;
		letter-spacing: 1px;
		background-color: $gray;

		border: 1px solid $gray;
		border-radius: 2px;

		position: relative;
		width: auto;

		left: 0.6rem;
		top: 1rem;
		padding: 0.2rem 3px 0.2rem 4px;
	}

	.document-miniature__content {
		padding-top: 1rem;

		.document-miniature__title {
			margin-bottom: 0;
			display: inline-block;
		}

		.document-miniature__metadata {
			font-size: 1.4rem;
			display: inline-block;
		}
	}
}

.document-miniature.document-miniature--tiny {
	position: relative;
	margin-bottom: 1rem;
	line-height: 1.2;

	&:last-child {
		margin-bottom: 0;
	}

	.document-miniature__type {
		margin: 0;
		padding: 0 0.3rem 0 0;
		min-height: 0;
		width: 6.2rem;
		position: relative;

		left: 0;
	}

	.document-miniature__type:before {
		font-size: 1.8rem;
		color: $gray-dark;
		line-height: 1.2;
		position: relative;
		display: inline-block;

		left: 0;
		top: 0.05rem;
	}

	.document-miniature__type__text {
		font-size: 1.3rem;
		color: $white;
		letter-spacing: 1px;

		position: absolute;
		left: 1.5rem;
		top: 0.3rem;
		padding: 0.1rem 0.2rem 0.1rem 0.3rem;
		width: 3.8rem;

		border: none;
		border-radius: 0;
		background-color: $gray;
		display: inline-block;
	}

	.document-miniature__content {

		.document-miniature__title {
			margin-bottom: 0;
			display: inline-block;
			font-weight: 400;
		}

		.document-miniature__metadata {
			font-size: 1.4rem;
			line-height: 1.4;
			display: inline-block;
		}
	}

	@include for-phone-only	{
		.document-miniature__type {
			display: none;
		}
	}
}
