/* ==========================================================================
  Toolbar
  Style the toolbar here.
 ========================================================================== */

 /* TODO: make styling editor specific */

.toolbar {
	border-bottom: 1px solid $blue-gray-light;
	padding: 0.9rem 1.5rem 0;
	height: 55px;

	button.button {
		margin-bottom: 0;
	}

	.toolbar__styling-tools button.button {
		&.active,
		&:hover {
			background-color: $blue-gray-lighter;
			color: $black;
		}

		&:focus {
			outline: none;
		}
	}

	.button-group {
		border-right: 1px solid $blue-gray-light;
		padding: 0 0.5em 0 0.1em;

		.button {
			margin: 0;
		}

		&:last-child {
			border: none;
			padding-right: 0;

			.button {
				margin: 0 0 0 0.5em;
			}
		}
	}

	.button i {
	  padding: 0;
	}

 	.col*:first-child .button-group {

		.button {
			margin-right: 0;
		}
	}
}
