/* ==========================================================================
  Style the layout of the header here
 ========================================================================== */

/* Temporary header topbar
 ========================================================================== */

.temporary-header {
  height: 38px;

  @include for-tablet-portrait-up {
    height: 46px;
  }
}

.temporary-header {
  border-bottom: 1px solid $blue-gray-light;

  > div[class^="temporary-header__"] {
    display: inline-block;
  }
}

.temporary-header__logo {
  width: 45px;
  height: 37px;
  background-color: $white;
  float: left;
  background-image: url(http://lblod.miet.be/images/be-lion.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: 1rem;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 29.5px;
    top: -4px;
    height: 44px;
    width: 1px;
    background-image: none !important;
    background-color: $blue-gray-light;
    transform: rotate(-19deg);
    transform-origin: top left;
  }

  &:before {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-top: 38px solid $white;
    border-left: 12.70687px solid transparent;
  }


  &:hover {
    background-color: $primary-yellow;
    cursor: pointer;

    &:after {
      display: none;
    }
  }

  @include for-tablet-portrait-up {
    width: 47px;
    height: 45px;

    &:after {
      left: 29.5px;
      top: -4px;
      height: 53px;
      transform: rotate(-19deg);
    }

    &:before {
      border-top: 44px solid $white;
      border-left: 14.70687px solid transparent;
    }
  }
}

.temporary-header__vlaanderen {
  height: 43px;
  float: left;
  padding: 1rem 1.5rem 1rem 0.7rem;
  font-weight: 500;
}

.temporary-header__name {
  height: 43px;
  float: left;
  padding: 0.8rem 1.5rem 1rem 2.3rem;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;

  &:before {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
    width: 1px;
    background-color: $blue-gray-light;
    transform: rotate(-20deg);
    transform-origin: top left;
  }

  p {
    margin: 0.3rem 0 0 1rem;
  }

  a {
    display: inline-block;
    padding: 0.3rem 0.3rem 0;
    margin: 0 1rem;
    text-decoration: none;
    color: $gray-dark;

    &:hover {
      color: $black;
      background-color: $primary-yellow;
    }

    &.active {
      box-shadow: 0 3px 0 $primary-yellow;
    }
  }
}

.temporary-header__info {
  height: 45px;
  padding: 0.9rem 1.5rem 0 2.5rem;
  background-color: $blue-gray-lightest;
  float: right;
  position: relative;

  p:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 44px solid $white;
    border-right: 14.70687px solid transparent;
  }
}



/* Header hero
 ========================================================================== */

.content-header--large,
.content-header--small {
  max-height: none;
  display: block;
}
