/* ==========================================================================
  Side navigation
  Style the Side navigation here.
 ========================================================================== */

/* Side navigation for
 ========================================================================== */

.sidebar .side-navigation {
	max-height: none;
	overflow: initial;
	border: none;
}

.sidebar__content {
	display: flex;
	flex: 1;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;

	.side-navigation__content {
		border-bottom: 0;
	}

	.side-navigation:not(:last-child) .side-navigation__content {
		padding-bottom: 0.5rem;
	}
}


.sidebar .side-navigation__group {
	padding-top: 1rem;
	border: none;
}

.side-navigation__item {
	padding: 0;
}

.side-navigation__item a {
	padding: 0.4em 0.4em 0.35em 1em;
	line-height: 1.2;
}

.side-navigation__item a.active {
	background-color: $blue-gray-lightest;
	color: $black;
	font-weight: 500;
	box-shadow: inset 3px 0 0 $primary-blue;
}

.side-navigation__item a.message {
	position: relative;

	&:after {
		content:"";
		display: inline-block;
		position: absolute;
		z-index: 100;
		width: 0.6rem;
		height: 0.6rem;
		border-radius: 1rem;
		// top: 0.7rem;
		background-color: $primary-blue;
		left: 0.8rem;
	}
}

.side-navigation--large li.side-navigation__item a {
	font-size: 1.8rem;

	&.active {
		box-shadow: inset 5px 0 0 $primary-blue;
	}
}
