/* ==========================================================================
  Dropdown navigation
  Style the dropdown navigation here.
 ========================================================================== */

.dropdown-navigation {
	cursor: pointer;
	display: inline-block;
}

.dropdown-navigation__title {
	line-height: 1;
}
