/* ==========================================================================
  Typography
  Redefine typographic elements here.
 ========================================================================== */


// /* Headers
//  ========================================================================== */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

	&.sans-serif {
		font-family: "flanders-sans", sans-serif;
	}
}

.h1 {
	line-height: 1;
}

.h2,
.h3,
.h4,
.h5,
.h6 {
	line-height: 1.1;
}

.h2,
.h3,
.h4,
.h5,
.h6 {
	line-height: 1.1;
}

.h2,
.br-content .h2 {
	font-size: 3.6rem;
	font-weight: 500;
}

.h3,
.br-content .h3 {
	font-size: 3rem;
}

.h5,
.br-content .h5 {
	font-size: 2.4rem;
}

.h5,
.br-content .h5 {
	font-size: 2.1rem;
	font-weight: 400;
}


.h6,
.br-content .h6 {
	font-size: 1.8rem;
	font-weight: 500;
}

/* Paragraph
 ========================================================================== */


ul.small li,
a.small,
p.small {
	font-size: 0.9em;
}


ul.smaller li,
a.smaller,
p.smaller {
	font-size: 0.8em;
}


ul.smallest li,
a.smallest,
p.smallest {
	font-size: 0.7em;
}

// TODO: put list sizes in styleguide

.text-light {
	font-weight: 300;
}

small {
	font-size: 0.8em !important;

	i.vi.vi-u-link:before,
	i.fa:before {
		font-size: 0.8em;
	}

	i.toggle__icon:before {
		font-size: 0.7rem;
		position: relative;
		margin-top: -1.5px;
	}
}

.uppercase,
p.uppercase {
	text-transform: uppercase;
	letter-spacing: 1.5px;

	&:after,
	&:before,
	:after,
	:before {
		text-transform: initial;
		letter-spacing: 0;
	}
}

.text-fade {
	color: darken($gray-light, 7%);
}

.text-cap-width {
	max-width: 45rem;
}

// /* Definition list
//  ========================================================================== */

.description-data__subdata {
	line-height: 1.4;
}

.description-data__label .toggle--plus-minus i.toggle__icon {
	top: -1px;
}

// /* Capping content
//  ========================================================================== */

.text-overflow-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	a,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

&.text-overflow-ellipsis--30 {
	max-width: 30rem;
}

&.text-overflow-ellipsis--40 {
	max-width: 40rem;
}
