/* ==========================================================================
  Helpers
  Code helper classes here.
 ========================================================================== */

/* Visibility
 ========================================================================== */

.u-hidden--s,
.u-hidden--mobile {
	@include for-phone-only	{
		display: none !important;
	}
}

.u-hidden--tablet-portrait-up {
	@include for-tablet-portrait-up {
	    display: none !important;
	}
}

.u-hidden--tablet-landscape-up {
	@include for-tablet-landscape-up {
	    display: none !important;
	}
}

.u-visible--tablet-portrait-up {
	display: none !important;

	@include for-tablet-portrait-up	{
		display: block !important;
	}
}

th,
td {
	&.u-visible--tablet-portrait-up {
		display: none !important;

		@include for-tablet-portrait-up	{
			display: table-cell !important;
		}
	}
}

span {
	&.u-visible--tablet-portrait-up {
		display: none !important;

		@include for-tablet-portrait-up	{
			display: inline-block !important;
		}
	}
}

.u-visible--tablet-landscape-up {
	display: none !important;

	@include for-tablet-landscape-up	{
		display: block !important;
	}
}

th,
td {
	&.u-visible--tablet-landscape-up {
		display: none !important;

		@include for-tablet-landscape-up	{
			display: table-cell !important;
		}
	}
}

span {
	&.u-visible--tablet-landscape-up {
		display: none !important;

		@include for-tablet-landscape-up	{
			display: inline-block !important;
		}
	}
}

.u-visible--desktop-up {
	display: none !important;

	@include for-desktop-up	{
		display: block !important;
	}
}

th,
td {
	&.u-visible--desktop-up {
		display: none !important;

		@include for-desktop-up	{
			display: table-cell !important;
		}
	}
}

span {
	&.u-visible--desktop-up {
		display: inline-block !important;

		@include for-desktop-up	{
			display: table-cell !important;
		}
	}
}

.u-visible--s,
.u-visible-mobile {
    display: none !important;

	@include for-phone-only {
    	display: block !important;
    }
}

span,
.button {
	&.u-visible--s,
	&.u-visible-mobile {
	    display: none !important;

		@include for-phone-only {
	    	display: inline-block !important;
	    }
	}
}

th,
td {
	&.u-visible--s,
	&.u-visible-mobile {
	    display: none !important;

		@include for-phone-only {
	    	display: table-cell !important;
	    }
	}
}

.u-display--block {
	display: block;
}

.u-display--block-100 {
	display: block;
	width: 100%;
}

.u-display--inline {
	display: inline;
}

.u-display--inline-block {
	display: inline-block;
}

th.u-hidden,
td.u-hidden,
.u-hidden {
    display: none !important;
}

/* Positioning
 ========================================================================== */

.u-position--relative {
	position: relative;
}

.u-position--absolute {
	position: absolute;
}

/* Alignment
 ========================================================================== */

.u-align--right {
	text-align: right !important;
}

.u-align-right--tablet-portrait-up {
	@include for-tablet-portrait-up {
		text-align: right !important;
	}
}

.u-align-right--tablet-landscape-up {
	@include for-tablet-landscape-up {
		text-align: right !important;
	}
}

.u-align-right--desktop-up {
	@include for-desktop-up {
		text-align: right !important;
	}
}

/* Borders
 ========================================================================== */

.u-border,
.u-border--round {
    border: 1px solid $gray-light;
}

.u-border--none {
	border: none !important;
}

.u-border--right {
	border-right: 1px solid $gray-light;
}

.u-border--left {
	border-left: 1px solid $gray-light;
}

.u-border--top {
	border-top: 1px solid $gray-light;
}

.u-border--bottom {
	border-bottom: 1px solid $gray-light;
}

.u-border--tb {
	border-bottom: 1px solid $gray-light;
	border-top: 1px solid $gray-light;
}

.u-border--rl {
	border-right: 1px solid $gray-light;
	border-left: 1px solid $gray-light;
}

.u-border--light,
.u-border--light--round {
    border: 1px solid $blue-gray-light;
}

.u-border--light--none {
	border: none !important;
}

.u-border--light--right {
	border-right: 1px solid $blue-gray-light;
}

.u-border--light--left {
	border-left: 1px solid $blue-gray-light;
}

.u-border--light--top {
	border-top: 1px solid $blue-gray-light;
}

.u-border--light--bottom {
	border-bottom: 1px solid $blue-gray-light;
}

.u-border--fat--bottom {
    border-bottom: 3px solid $gray-lighter;
}

/* Backgrounds
 ========================================================================== */

.u-background--gray {
	background-color: $blue-gray;
}

.u-background--gray-light {
	background-color: $blue-gray-light;
}

.u-background--gray-lighter {
	background-color: $blue-gray-lighter;
}

.u-background--gray-lightest {
	background-color: $blue-gray-lightest;
}

/* Margin
 ========================================================================== */

/* top */

.u-spacer--top {
	margin-top: 3rem !important;
}

.u-spacer--top--tinier {
	margin-top: 0.5rem !important;
}

.u-spacer--top--tiny {
	margin-top: 1rem !important;
}

.u-spacer--top--small {
	margin-top: 2rem !important;
}

.u-spacer--top--large {
	margin-top: 4rem !important;
}

.u-spacer--top--none {
	margin-top: 0 !important;
}

/* right */

.u-spacer--right {
	margin-right: 3rem !important;
}

.u-spacer--right--tinier {
	margin-right: 0.5rem !important;
}

.u-spacer--right--tiny {
	margin-right: 1rem !important;
}

.u-spacer--right--small {
	margin-right: 2rem !important;
}

.u-spacer--right--large {
	margin-right: 4rem !important;
}

.u-spacer--right--none {
	margin-right: 0 !important;
}

/* bottom */


.u-spacer--bottom {
	margin-bottom: 3rem !important;
}

.u-spacer--bottom--tinier {
	margin-bottom: 0.5rem !important;
}

.u-spacer--bottom--tiny {
	margin-bottom: 1rem !important;
}

.u-spacer--bottom--small {
	margin-bottom: 2rem !important;
}

.u-spacer--bottom--large {
	margin-bottom: 4rem !important;
}

.u-spacer--bottom--none {
	margin-bottom: 0 !important;
}

/* left */

.u-spacer--left {
	margin-left: 3rem !important;
}

.u-spacer--left--tinier {
	margin-left: 0.5rem !important;
}

.u-spacer--left--tiny {
	margin-left: 1rem !important;
}

.u-spacer--left--small {
	margin-left: 2rem !important;
}

.u-spacer--left--large {
	margin-left: 4rem !important;
}

.u-spacer--left--none {
	margin-left: 0 !important;
}

/* round */

.u-spacer--none,
.u-spacer--round--none {
	margin: 0 !important;
}

.u-spacer--round {
	margin: 3rem !important;
}

.u-spacer--round--tinier {
	margin: 0.5rem !important;
}

.u-spacer--round--tiny {
	margin: 1rem !important;
}

.u-spacer--round--small {
	margin: 2rem !important;
}

.u-spacer--round--large {
	margin: 4rem !important;
}

/* top and bottom */

.u-spacer--tb {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
}

.u-spacer--tb--tinier {
	margin-top: 0.5rem !important;
	margin-bottom: 0.5rem !important;
}

.u-spacer--tb--tiny {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}

.u-spacer--tb--small {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}

.u-spacer--tb--large {
	margin-top: 4rem !important;
	margin-bottom: 4rem !important;
}

/* Padding
 ========================================================================== */

.u-padding--none {
	padding: 0;
}

/* top */

.u-padding--top {
	padding-top: 3rem !important;
}

.u-padding--top--tinier {
	padding-top: 0.5rem !important;
}

.u-padding--top--tiny {
	padding-top: 1rem !important;
}

.u-padding--top--small {
	padding-top: 2rem !important;
}

.u-padding--top--large {
	padding-top: 4rem !important;
}

.u-padding--top--none {
	padding-top: 0 !important;
}

/* right */

.u-padding--right {
	padding-right: 3rem !important;
}

.u-padding--right--tinier {
	padding-right: 0.5rem !important;
}

.u-padding--right--tiny {
	padding-right: 1rem !important;
}

.u-padding--right--small {
	padding-right: 2rem !important;
}

.u-padding--right--large {
	padding-right: 4rem !important;
}

.u-padding--right--none {
	padding-right: 0 !important;
}

/* bottom */


.u-padding--bottom {
	padding-bottom: 3rem !important;
}

.u-padding--bottom--tinier {
	padding-bottom: 0.5rem !important;
}

.u-padding--bottom--tiny {
	padding-bottom: 1rem !important;
}

.u-padding--bottom--small {
	padding-bottom: 2rem !important;
}

.u-padding--bottom--large {
	padding-bottom: 4rem !important;
}

.u-padding--bottom--none {
	padding-bottom: 0 !important;
}

/* left */

.u-padding--left {
	padding-left: 3rem !important;
}

.u-padding--left--tinier {
	padding-left: 0.5rem !important;
}

.u-padding--left--tiny {
	padding-left: 1rem !important;
}

.u-padding--left--small {
	padding-left: 2rem !important;
}

.u-padding--left--large {
	padding-left: 4rem !important;
}

.u-padding--left--none {
	padding-left: 0 !important;
}

/* round */

.u-padding--round {
	padding: 3rem !important;
}

.u-padding--round--tinier {
	padding: 0.5rem !important;
}

.u-padding--round--tiny {
	padding: 1rem !important;
}

.u-padding--round--small {
	padding: 2rem !important;
}

.u-padding--round--large {
	padding: 4rem !important;
}

.u-padding--round--none {
	padding: 0 !important;
}

/* trl */

.u-padding--trl {
	padding-top: 3rem !important;
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}

.u-padding--trl--tinier {
	padding-top: 0.5rem !important;
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}

.u-padding--trl--tiny {
	padding-top: 1rem !important;
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.u-padding--trl--small {
	padding-top: 2rem !important;
	padding-right: 2rem !important;
	padding-left: 2rem !important;
}

.u-padding--trl--large {
	padding-top: 4rem !important;
	padding-right: 4rem !important;
	padding-left: 4rem !important;
}


/* right and left */

.u-padding--rl {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
}

.u-padding--rl--tiny {
	padding-right: 1rem !important;
	padding-left: 1rem !important;
}

.u-padding--rl--small {
	padding-right: 2rem !important;
	padding-left: 2rem !important;
}

.u-padding--rl--large {
	padding-right: 4rem !important;
	padding-left: 4rem !important;
}

/* top and bottom */

.u-padding--tb {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}

.u-padding--tb--tinier {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
}

.u-padding--tb--tiny {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}

.u-padding--tb--small {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}

.u-padding--tb--large {
	padding-top: 4rem !important;
	padding-bottom: 4rem !important;
}
