form.form
  label.checkbox.checkbox--star
    input.checkbox__toggle(type='checkbox', name='star', value='1', data-table-checkbox='', checked)
    span
      i.fa.fa-star
    span Voeg toe als favoriet checked
  label.checkbox.checkbox--star
    input.checkbox__toggle(type='checkbox', name='star', value='2', data-table-checkbox='')
    span
      i.fa.fa-star
    span Voeg toe als favoriet unchecked
