nav.dropdown-navigation
  h2.h2.dropdown-navigation__title Dropdown navigatie
  .dropdown-navigation__wrapper.js-popover
    button.dropdown-navigation__toggle.js-popover__toggle Open navigatie
    ul.dropdown-navigation__dropdown
      li
        a.dropdown-navigation__link(href='#') Lorem ipsum
      li
        a.dropdown-navigation__link(href='#') Test link
      li
        a.dropdown-navigation__link.dropdown-navigation__link--active(href='#') Actieve link
      li
        a.dropdown-navigation__link(href='#') Dolor sit
      li
        a.dropdown-navigation__link(href='#') Amet consectetur
      li
        a.dropdown-navigation__link(href='#') Lorem ipsum

nav.dropdown-navigation
  h2.h2.dropdown-navigation__title Dropdown navigatie
  .dropdown-navigation__wrapper.js-popover
    button.dropdown-navigation__toggle.dropdown-navigation__toggle--light.js-popover__toggle Open navigatie
    ul.dropdown-navigation__dropdown
      li
        a.dropdown-navigation__link(href='#') Lorem ipsum
      li
        a.dropdown-navigation__link(href='#') Test link
      li
        a.dropdown-navigation__link.dropdown-navigation__link--active(href='#') Actieve link
      li
        a.dropdown-navigation__link(href='#') Dolor sit
      li
        a.dropdown-navigation__link(href='#') Amet consectetur
      li
        a.dropdown-navigation__link(href='#') Lorem ipsum

br
br
br
br
br
br
br
