.data-table__scroll
  table.data-table
    thead
      tr.data-table__header
        th.data-table__header-title(style='width: 10%;')
          a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
            | Lijst
            span.u-visually-hidden Aflopend sorteren
            i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
        th.data-table__header-title
          a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
            | Fractie
            span.u-visually-hidden Oplopend sorteren
            i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow.vi-u-180deg
        th.data-table__header-title
          a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
            | Naam, voornaam
        th.data-table__header-title
          a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
            | Geslacht
        th.data-table__header-title
          a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
            | Mandaten
        th.data-table__header-title
          a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
            | Start&nbsp;mandaat
        th.data-table__header-title
          a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
            | Einde&nbsp;mandaat
        th.data-table__header-title
          a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
            | Bevoegdheden
            span.u-visually-hidden Aflopend sorteren
            i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
    tbody
      tr
        td
          a N-VA
        td
          a N-VA
        td
          a Fissette, Antoine Guido
        td Man
        td
          a Gemeenteraadslid
        td 01/01/2013
        td 31/12/2018
        td
      tr
        td
          a HELEMAAL HASSELT
        td
          a HELEMAAL HASSELT
        td
          a Keunen, Frank Leon
        td Man
        td
          a Gemeenteraadslid
        td 25/10/2016
        td 31/12/2018
        td
      tr
        td
          a CD&V
        td
          a CD&V
        td
          a Jordens, Marijke
        td Vrouw
        td
          a Gemeenteraadslid
        td 01/01/2013
        td 31/12/2018
        td

      tr.u-border-none
        td
          a HELEMAAL HASSELT
        td
          a HELEMAAL HASSELT
        td
          a Venken, Joost Geert
        td Man
        td
          a Gemeenteraadslid
        td 25/02/2014
        td 31/12/2018
        td
          a Ontwikkelingssamenwerking
          br
          a Domeinen
          br
          a Leefmilieu
      tr
        td(colspan="4")
        td
          a Schepen
        td 25/02/2014
        td 31/12/2018
        td
          a Dierenwelzijn
          br
          a Duurzaamheid
          br
          a Energie
      tr
        td
          a N-VA
        td
          a N-VA
        td
          a Lambrechts, Bert Maria
        td Man
        td
          a Gemeenteraadslid
        td 01/01/2013
        td 31/12/2018
        td
