.grid
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        article.spotlight
            h1.spotlight__title grid/column information
            h2.spotlight__subtitle this item will always reside in the first column
            .spotlight__data
                .spotlight__data__value
                    ul
                        li
                            | default: 3 columns (4-col wide)
                            code .col--4-12
                        li
                            | small screen: 2 columns (6-col wide)
                            code .col--6-12--s
                        li
                            | extra small screen: 1 column (12-col wide)
                            code .col--1-1--xs
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        article.spotlight
            h1.spotlight__title in second column by default
            h2.spotlight__subtitle in column 1 on S and XS screens
            .spotlight__data
                .spotlight__data__value
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium repudiandae quisquam illum quo omnis beatae necessitatibus repellendus possimus reprehenderit ab, ullam consequuntur nostrum iste dolorem tempora temporibus commodi, minus, alias!
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        article.spotlight.spotlight--alt
            h1.spotlight__title in third column by default
            h2.spotlight__subtitle in column 1 on S and XS screens
            .spotlight__data
                .spotlight__data__value
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem hic earum porro iste, officia aperiam, expedita ex eum ea praesentium quisquam asperiores repudiandae! Quo ducimus, atque temporibus nam eveniet commodi.
    .col--4-12.col--6-12--m.col--6-12--s.col--1-1--xs
        article.spotlight.spotlight--alt
            h1.spotlight__title in first column by default
            h2.spotlight__subtitle in second column on small screens
            .spotlight__data
                .spotlight__data__value
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt cum vero, reiciendis libero, dolorem fugit. Quia ab odio ex veritatis molestiae, aut ut quas pariatur, quaerat animi modi expedita ea?
// end grid demo
