extends /templates/_layouts/master

block body

	.skiplink
		a(href='#main') Overslaan en naar de algemene inhoud gaan

	.container
		.block-globalheader
			script(type='text/javascript', src='//widgets.vlaanderen.be/widget/live/1f2f13286a664241801cf21cd5a12316')

		.container-flex--contain

			.toaster.u-hidden
				.alert.alert--tiny.alert--success
					.grid
						.col--10-12
							.alert__icon(aria-hidden='true')
							.alert__content
								.alert__title Wijzigingen opgeslagen.
								.alert__message
									p Uw wijzigingen werden opgeslagen.
						.col--2-12.u-align--right
							a.link--icon--close.delete-me-close-toaster
								span.u-visually-hidden Venster sluiten

			.toaster.u-hidden
				.alert.alert--tiny.alert--warning
					.grid
						.col--10-12
							.alert__icon(aria-hidden='true')
							.alert__content
								.alert__title Alert met succes indicatie
								.alert__message
									p Er liep iets fout met het opslaan. Probeer het later opnieuw.
						.col--2-12.u-align--right
							a.link--icon--close.delete-me-close-toaster
								span.u-visually-hidden Venster sluiten

			.toaster.u-hidden
				.alert.alert--tiny.alert--error
					.grid
						.col--10-12
							.alert__icon(aria-hidden='true')
							.alert__content
								.alert__title Uw wijzigingen werden niet opgeslagen.
						.col--2-12.u-align--right
							a.link--icon--close.delete-me-close-toaster
								span.u-visually-hidden Venster sluiten

			.toaster.u-hidden
				.alert.alert--tiny
					.grid
						.col--10-12
							.alert__icon(aria-hidden='true')
							.alert__content
								.alert__title Concept verwijderd.
						.col--2-12.u-align--right
							a.link--icon--close.delete-me-close-toaster
								span.u-visually-hidden Venster sluiten

			block loketoverview

			//- .block-globalfooter
				script(type='text/javascript', src='//widgets.vlaanderen.be/widget/live/36cb38a7d97d4ea29cde109aa0994201')



		// - modal for closing

		.modal-overlay.modal-overlay-save.u-hidden
			.modal-dialog
				h2.modal-dialog__title Wil u de aangebrachte wijzigingen bewaren?
				.modal-dialog__content.u-spacer De wijzigingen zullen verloren gaan als u niet op bewaren klikt.
				.modal-dialog__buttons
					a.button.modal-dialog__button.delete-me-toggle-modal-save.delete-me-toggle-save-toasters Bewaar
					a.button.button--narrow.button--alt.modal-dialog__button.delete-me-toggle-modal-save Annuleer
					a.modal-dialog__button.delete-me-toggle-modal-save
						i.vi.vi-cross.vi-u-link
						| Verwerp wijzigingen

		// - modal for closing

		.modal-overlay.modal-overlay-delete-concept.u-hidden
			.modal-dialog
				h2.modal-dialog__title Bent u zeker dat u het concept wil verwijderen?
				.modal-dialog__content.u-spacer Deze actie is onomkeerbaar.
				.modal-dialog__buttons
					a.button.modal-dialog__button.delete-me-toggle-modal-delete-concept.delete-me-toggle-save-toasters Verwijder
					a.button.button--narrow.button--alt.modal-dialog__button.delete-me-toggle-modal-delete-concept Annuleer

		// - modal berichtencentrum settings

		.modal-overlay.modal-overlay-configure-berichtencentrum.u-hidden
			.modal-dialog.modal-dialog--sectioned
				.modal-dialog__header
					.grid
						.col--10-12
							h2.h3 Configureer berichtencentrum
						.col--2-12.u-align-right
							a.link--icon--close.modal-overlay-configure-berichtencentrum(href="#")
								span.u-visually-hidden Venster sluiten
				.modal-dialog__content
					h3.h4.u-spacer--small Mail instellingen

					.form__row
						.form__label
							label.checkbox.checkbox--block
								input.checkbox__toggle(type='checkbox', name='checkbox', value='1', checked)
								span
								span Ontvang mails bij nieuwe berichten

					.form__row
						.form__label
							label Mailadres
							input#input-field.input-field.input-field--block(type='text', placeholder='mail@adres.com', value='mail@adres.com')
							//- Disabled when checkbox is unchecked: .input-field--disabled + "disabled"

				.modal-dialog__footer
					a.button.modal-dialog__button.delete-me-toggle-configure-berichtencentrum.delete-me-toggle-save-toasters Bewaar
					a.button.button--narrow.button--alt.modal-dialog__button.delete-me-toggle-configure-berichtencentrum Annuleer
					a.modal-dialog__button.delete-me-toggle-configure-berichtencentrum
						i.vi.vi-cross.vi-u-link
						| Verwerp wijzigingen

	script.
		$('.delete-me-toggle-sidebar--slide').on('click', function(e) {
			$('.sidebar--slide').toggleClass("sidebar--slide--in");
			e.preventDefault();
		});

		$(function(){
			$('.delete-me-toggle-save-toasters').on("click", function () {
				$('.toaster').removeClass("u-hidden");
				setTimeout(addClass, 5000);
			});

			function addClass() {
				$('.toaster').addClass("u-hidden");
			}
		});

		$('.delete-me-close-toaster').on('click', function(e) {
			$('.toaster').addClass("u-hidden");
		});

		$(".delete-me-toggle-modal-save").click(function(){
			$(".modal-overlay-save").toggleClass("u-hidden");
		});

		$(".delete-me-toggle-modal-delete-concept").click(function(){
			$(".modal-overlay-delete-concept").toggleClass("u-hidden");
		});

		$(".delete-me-toggle-configure-berichtencentrum").click(function(){
			$(".modal-overlay-configure-berichtencentrum").toggleClass("u-hidden");
		});
