extends /templates/_templates/header-loket

block loketoverview
	nav.sidebar.sidebar--slide--wide.sidebar--slide.sidebar--slide--in(role='navigation')
		.sidebar__header
			.grid.grid--collapse
				.col--10-12.u-padding--trl--tiny
					h1.h3.sans-serif Menu
				.col--2-12.u-padding--trl--tiny.u-align-right.delete-me-toggle-sidebar--slide
					i.vi.vi-cross
					span.u-visually-hidden sluit navigatie

		.sidebar__content
			ul.side-navigation__group
				//- li.side-navigation__item
					a(href="/loket/loket-inbox.html") Inbox
				li.side-navigation__item
					a(href="/loket/loket-toezicht.html") Toezicht
				li.side-navigation__item
					a.active(href="/loket/loket-mandatenbeheer.html") Mandatenbeheer
				li.side-navigation__item
					a(href="/loket/loket-bbcdr.html") BBC DR
				//- li.side-navigation__item
					a(href="/loket/loket-organenbeheer.html") Organenbeheer
				//- li.side-navigation__item
					a(href="/loket/loket-leidinggevenden.html") Leidinggevenden
				//- li.side-navigation__item
					a(href="/loket/loket-personeelsaantallen.html") Personeelsaantallen
				//- li.side-navigation__item
					a(href="/loket/loket-administratievegegevens.html") Administratieve gegevens

		.sidebar__footer
			button.button.button--block.button--alt Persoonlijke gegevens
	.grid.grid--collapse
		.col--2-12.col--3-12--m.u-hidden--s
			.container-flex--contain
				.sidebar
					.sidebar__content
						nav.side-navigation
							.side-navigation__content
								ul.side-navigation__group
									// li.side-navigation__item
										a.message(href="/loket/loket-inbox.html") Inbox
									li.side-navigation__item
										a(href="/loket/loket-toezicht.html") Toezicht
									li.side-navigation__item
										a.active(href="/loket/loket-mandatenbeheer.html") Mandatenbeheer
									li.side-navigation__item
										a(href="/loket/loket-bbcdr.html") BBC DR
									//- li.side-navigation__item
										a(href="/loket/loket-organenbeheer.html") Organenbeheer
									//- li.side-navigation__item
										a(href="/loket/loket-leidinggevenden.html") Leidinggevenden
									//- li.side-navigation__item
										a(href="/loket/loket-personeelsaantallen.html") Personeelsaantallen
									//- li.side-navigation__item
										a(href="/loket/loket-administratievegegevens.html") Administratieve gegevens

					.sidebar__footer
						button.button.button--block.button--alt Persoonlijke gegevens


		// TODO: LOGGING
		.col--10-12.col--9-12--m.col--1-1--s.delete-me-person-edit-table.u-border--light--right.delete-me-overview-personen.u-hidden
			.container-flex--contain
				.u-border--light--bottom
					.u-padding--round--small.delete-me-person-edit-table__header(id="main", itemprop="mainContentOfPage", role="main", tabindex="-1", class="main-content")

						h1.h4 Gegevens mandatarissen Gemeente Hasselt

						.grid
							.col--6-12
								.input-field-icon-container--right
									input#input-field.input-field.input-field--block(type='text', placeholder='Naam, familienaam, roepnaam, rijksregisternummer ', style="min-width: 35rem;")
									i.input-field__icon.vi.vi-magnifier(aria-hidden='true')
							.col--6-12.u-align-right
								a.button.button--narrow.button--link.button--link--dark.delete-me-toggle-overview-personen.delete-me-person-edit-data Bekijk mandatenbeheer
								a.button.button--narrow.delete-me-toggle-person-new.delete-me-toggle-person-new--person Voeg persoon toe

				.container-flex--scroll
					table.data-table.data-table--nowrap
						thead
							tr.data-table__header
								th.data-table__header-title
									a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
										| Naam
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.data-table__header-title
									a.data-table__header-title--sortable(href='#', title='sort')
										| Familienaam
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.delete-me-person-edit-data.data-table__header-title
									a.data-table__header-title--sortable(href='#', title='sort')
										|  Roepnaam
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow.vi-u-180deg
								th.data-table__header-title
									a.data-table__header-title--sortable(href='#', title='sort')
										| Rijksregisternummer
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.delete-me-person-edit-data.data-table__header-title
									a.data-table__header-title--sortable(href='#', title='sort')
										|  Geboortedatum
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.delete-me-person-edit-data.data-table__header-title
									a.data-table__header-title--sortable(href='#', title='sort')
										|  Geslacht
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.data-table__header-title
									a.data-table__header-title--sortable(href='#', title='sort')
										|  Bron
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow.vi-u-180deg
						tbody
							tr(data-table-selectable, class="person-edit-data-active")
								td Joost Geert
								td Venken
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Man
								td Lijst

							tr
								td Joost Geert
								td Venken
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Man
								td Manuele ingave
									br
									a.delete-me-toggle-person-edit Bewerk
							tr
								td Nadja Emiel
								td Vananroye
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Vrouw
								td Manuele ingave
									br
									a.delete-me-toggle-person-edit Bewerk
							tr
								td Tom Jozef
								td Vandeput
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Man
								td Lijst
							tr
								td Habib
								td El Ouakili
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Vrouw
								td Lijst
							tr
								td Alfons Michel
								td Froidmont
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Man
								td Lijst
							tr
								td Gerald Maurice
								td Corthouts
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Man
								td Lijst

							tr
								td Brigitte Marie
								td Smets
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Vrouw
								td Lijst
							tr
								td Karolien Louis
								td Mondelaers
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Vrouw
								td Lijst
							tr
								td Kevin
								td Schouterden
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Man
								td Lijst
							tr
								td Valerie An
								td Del Re
								td.delete-me-person-edit-data Roepnaam
								td 87.04.13-231.78
								td.delete-me-person-edit-data 13-14-1987
								td.delete-me-person-edit-data Vrouw
								td Manuele ingave
									br
									a.delete-me-toggle-person-edit Bewerk

				.pager.u-padding--round--tiny.u-border--light--top
					ul.pager__list.pager__list-right
						li.pager__element
							span.u-visually-hidden Rij
							strong 11 - 20
							|  van 673
						li.pager__element
							a(href='')
								i.vi.vi-arrow.vi-u-180deg.vi-u-s(aria-hidden='true')
								|  vorige
								span.u-visually-hidden  10 rijen
						li.pager__element
							a(href='') volgende
								span.u-visually-hidden  10 rijen
								i.vi.vi-arrow.vi-u-s(aria-hidden='true')





		// TODO: LOGGING
		.col--10-12.col--9-12--m.col--1-1--s.delete-me-mandate-edit-table.u-border--light--right.delete-me-overview-mandatarissen
			.container-flex--contain
				.sidebar__toggle-menu.delete-me-toggle-sidebar--slide.u-visible-mobile.u-padding--tb--tiny.u-padding--rl--small.u-background--gray-lighter(type='button', title='Pas bestuur aan')
					h2.h2.sidebar__toggle-value Menu
				.u-border--light--bottom
					.grid.u-padding--round--small.delete-me-mandate-edit-table__header
						.col--12-12

							h1.h4.u-spacer--tiny.u-hidden-mobile Mandatenbeheer Gemeente Hasselt

							//.sidebar__toggle-wrapper.delete-me-toggle-sidebar--slide.u-visible-mobile(type='button', title='Pas bestuur aan')
								h2.h2.sidebar__toggle-value Mandatenbeheer Gemeente Hasselt
								span.u-visually-hidden Pas bestuur aan

							p Bestuursperiode 2014 &mdash; 2018

							.js-accordion.u-spacer--top--tiny
								a.small.link--dark--light.toggle.toggle--arrow-down.js-accordion__toggle
									i.toggle__icon(aria-hidden='true')
									| Toon / verberg totalen
								.accordion__content.u-spacer--top--tiny.u-bg-block
									ul.inline-list.inline-list--bordered
										li
											a(href="#") 34 gemeenteraadsleden
										li
											a(href="#") 2 voorzitter(s) gemeenteraad
										li
											a(href="#") 2 OCMW-voorzitter gemeenteraad
										li
											a(href="#") 1 burgemeester
											span.text-fade (max 1)
										li
											a(href="#") 7 schepenen
											span.text-fade (max 8)
						.col--6-12
							.input-field-icon-container--right
								input#input-field.input-field.input-field--block(type='text', placeholder='Mandataris, fractie, of mandaat', style="min-width: 35rem;")
								i.input-field__icon.vi.vi-magnifier(aria-hidden='true')
						.col--6-12.u-align-right
							a.button.button--narrow.button--link.button--link--dark.delete-me-toggle-overview-personen.delete-me-mandate-edit-data Bekijk gegevens mandatarissen
							a.button.button--narrow.toggle-mandate-new Voeg mandaten toe

				.data-table__scroll
						table.data-table
							thead
								tr.data-table__header
									th.data-table__header-title
										a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
											| Naam
											i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
									th.data-table__header-title
										a.data-table__header-title--sortable(href='#', title='sort')
											| Familienaam
											i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
									th.data-table__header-title
										a.data-table__header-title--sortable(href='#', title='sort')
											| Fractie
											i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
									th.data-table__header-title
										a.data-table__header-title--sortable(href='#', title='sort')
											|  Mandaat
											i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
									th.delete-me-mandate-edit-data.data-table__header-title.u-visible--tablet-landscape-up
										a.data-table__header-title--sortable(href='#', title='sort')
											|  Status
											i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow.vi-u-180deg
									th.delete-me-mandate-edit-data.data-table__header-title.u-visible--tablet-landscape-up
										a.data-table__header-title--sortable(href='#', title='sort')
											|  Start
											i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
									th.delete-me-mandate-edit-data.data-table__header-title
										a.data-table__header-title--sortable(href='#', title='sort')
											|  Einde
											i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow.vi-u-180deg
									th
							tbody
								tr(data-table-selectable, class="mandate-edit-data-active")
									td Joost Geert
									td Venken
									td HELEMAAL HASSELT
									td Schepen
									td.delete-me-mandate-edit-data Titelvoerend
									td.delete-me-mandate-edit-data.u-visible--tablet-landscape-up 25.02.2014
									td.delete-me-mandate-edit-data.u-visible--tablet-landscape-up 31.12.2018
									td
										a.delete-me-toggle-mandate-edit Bewerk

								tr(data-table-selectable, class="mandate-edit-data-active")
									td Joost Geert
									td Venken
									td HELEMAAL HASSELT
									td Gemeenteraadslid
									td.delete-me-mandate-edit-data Effectief
									td.delete-me-mandate-edit-data.u-visible--tablet-landscape-up 25.02.2014
									td.delete-me-mandate-edit-data.u-visible--tablet-landscape-up 31.12.2018
									td
										a.delete-me-toggle-mandate-edit Bewerk

				.pager.u-padding--round--tiny.u-border--top
					ul.pager__list.pager__list-right
						li.pager__element
							span.u-visually-hidden Rij
							strong 11 - 20
							|  van 673
						li.pager__element
							a(href='')
								i.vi.vi-arrow.vi-u-180deg.vi-u-s(aria-hidden='true')
								|  vorige
								span.u-visually-hidden  10 rijen
						li.pager__element
							a(href='') volgende
								span.u-visually-hidden  10 rijen
								i.vi.vi-arrow.vi-u-s(aria-hidden='true')

		.col--5-12.col--9-12--m.col--1-1--s.u-hidden.u-hidden.delete-me-mandate-edit-detail.container-flex--contain
			// mandaat edit
			.u-padding--trl--small.u-border--light--bottom
				.grid
					.col--9-12
						h2.h3 Bewerk mandaten van Joost Geert Venken
					.col--3-12.u-align-right.delete-me-toggle-mandate-edit.delete-me-toggle-modal-save
						a.link--icon--close(href='')
							span.u-visually-hidden Venster sluiten

			.container-flex--scroll.u-padding--trl--small

				.u-spacer--bottom--small
					.grid
						.col--6-12
							.description-data__label Rijksregisternummer
							.description-data__value 87.04.13-231.78
						.col--6-12
							.description-data__label Geslacht
							.description-data__value Man
						.col--6-12
							.description-data__label Geboortedatum
							.description-data__value 13-04-1987
						.col--6-12
							.description-data__label Roepnaam
							.description-data__value Johnny

				.alert.alert--small.alert--warning
					.alert__content
						.alert__message
							small Corrigeer enkel bij fouten. Bij wijziging van mandaat, fractie, beleidsdomein, rangorde of status: beëindig het mandaat en start een nieuw mandaat om de historiek te bewaren.
							//- small Bij wijziging : <strong>beëindig het mandaat en maak een nieuw mandaat aan</strong> om de historiek te bewaren.

				ul.link-list.link-list--bordered

					li.link-list__item
						.js-accordion
							.grid
								.col--5-12
									p
										strong Gemeenteraadslid
								.col--7-12.u-align-right
									a.button.button--small.button--narrow.u-spacer--bottom--tiny.js-accordion__toggle Bewerk
								.col--12-12
									p 01.01.2016 &mdash; 01.01.2017
									p NV-A

							.accordion__content.form__group.u-padding--round--tiny.u-spacer--top--tiny
								.u-padding--round--tiny

									.grid
										.col--6-12
											p.u-spacer--tiny Om een <strong>status, fractie, rangorde of bevoegdheid</strong> te veranderen, <strong>beëindig</strong> je op de juiste datum, en je <strong>start een nieuw mandaat</strong>.
										.col--6-12
											p.u-spacer--tiny Een mandaat dat <strong>fouten</strong> bevat, en niet goed ingevoerd werd in het verleden, kan je hier <strong>corrigeren</strong>.
										.col--6-12
											a.button.button--small.button--narrow.u-spacer--bottom--tiny.js-accordion__toggle Beïndig mandaat
										.col--6-12
											a.button.button--small.button--narrow.button--alt.js-accordion__toggle Corrigeer fouten


					li.link-list__item
						.js-accordion
							.grid
								.col--5-12
									p
										strong Gemeenteraadslid
								.col--7-12.u-align-right
									a.button.button--small.button--narrow.u-spacer--bottom--tiny.js-accordion__toggle Beïndig mandaat
									a.button.button--small.button--narrow.button--alt Corrigeer
								.col--12-12
									p 01.01.2016 &mdash; 01.01.2017
									p NV-A

							.accordion__content.form__group.u-padding--round--tiny.u-spacer--top--tiny
								.u-padding--round--tiny.u-spacer--bottom--small

									.grid.u-spacer--bottom--small
										.col--6-12
											label.form__label(for='datepicker-from') Start
											.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
												input#datepicker-from.input-field.input-field--block.input-field--disabled(type='text', placeholder='01.01.2016', name='datepicker-from', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2017', disabled)
										.col--6-12
											label.form__label(for='datepicker-to') Einde
											.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
												input#datepicker-to.input-field.input-field--block(type='text', placeholder='01.01.2017', name='datepicker-to', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2018')

									.u-spacer--top--small
										a.button.button--small.button--narrow.js-accordion__toggle Beeïndig mandaat
										a.button.button--small.button--narrow.button--alt.js-accordion__toggle Annuleer

					li.link-list__item
						.js-accordion
							.grid
								.col--5-12
									p
										strong Burgemeester
								.col--7-12.u-align-right
									a.button.button--small.button--narrow.u-spacer--bottom--tiny Beïndig mandaat
									a.button.button--small.button--narrow.button--alt.js-accordion__toggle Corrigeer
								.col--12-12
									p Effectief
									p 01.01.2016 &mdash; 01.01.2017
									p NV-A

							.accordion__content.form__group.u-padding--round--tiny.u-spacer--top--tiny
								.u-padding--round--tiny.u-spacer--bottom--small
									label.form__label Mandaat
									.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
										.input-field-icon-container--right.input-field-icon-container--block
											input#mandaat.delete-me-toggle-search-mandaat.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek mandaat', value="Burgemeester", onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
											i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
											span#selectFormInputDescriptionselecterken.u-visually-hidden
												| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

										.select__search-results.delete-me-search-results-mandaat.u-hidden
											.select__list-wrapper(role='listbox')
												section.select__list(data-records='')
													.select__item
														button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Burgemeester
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Schepen
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Voorzitter
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Secretaris
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Gemeenteraadslid
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title OCMW-voorzitter

									label.form__label(for='mandataris-status') Status
									input#mandataris-status.input-field.input-field--block.u-spacer--bottom--small(name='mandataris-status', placeholder='Titelvoerend, effectief, waarnemend', value="Effectief")

									.grid.u-spacer--bottom--small
										.col--6-12
											label.form__label(for='datepicker-from') Start
											.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
												input#datepicker-from.input-field.input-field--block(type='text', placeholder='01.01.2016', name='datepicker-from', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2017')
										.col--6-12
											label.form__label(for='datepicker-to') Einde
											.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
												input#datepicker-to.input-field.input-field--block(type='text', placeholder='01.01.2017', name='datepicker-to', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2018')

									label.form__label Fractie
									.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
										.input-field-icon-container--right.input-field-icon-container--block
											input#fractie.delete-me-toggle-search-fracties.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek fractie', value="N-VA", onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
											i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
											span#selectFormInputDescriptionselecterken.u-visually-hidden
												| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

										.select__search-results.delete-me-search-results-fracties.u-hidden
											.select__list-wrapper(role='listbox')
												section.select__list(data-records='')
													.select__item.u-border--light--bottom
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Onafhankelijk
													.select__item
														button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title N-VA
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title HELEMAAL HASSELT
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title CD&amp;V
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title GROEI met Open Vld
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Vlaams Belang

									.u-spacer--top--small
										a.button.button--small.button--narrow.js-accordion__toggle Corrigeer informatie
										a.button.button--small.button--narrow.button--alt.js-accordion__toggle Verwerp wijzigingen


					li.link-list__item
						.js-accordion
							.grid
								.col--5-12
									p
										strong Schepen
								.col--7-12.u-align-right
									a.button.button--small.button--narrow.u-spacer--bottom--tiny.js-accordion__toggle Beïndig mandaat
									a.button.button--small.button--narrow.button--alt.js-accordion__toggle Corrigeer
								.col--12-12
									p 01.01.2016 &mdash; 01.01.2017
									p Geluk
									p 7de rang
									p NV-A


							.accordion__content.form__group.u-padding--round--tiny.u-spacer--top--tiny
								.u-padding--round--tiny.u-spacer--bottom--small
									label.form__label Mandaat
									.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
										.input-field-icon-container--right.input-field-icon-container--block
											input#mandaat.delete-me-toggle-search-mandaat.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek mandaat', value="Schepen", onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
											i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
											span#selectFormInputDescriptionselecterken.u-visually-hidden
												| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

										.select__search-results.delete-me-search-results-mandaat.u-hidden
											.select__list-wrapper(role='listbox')
												section.select__list(data-records='')
													.select__item
														button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Burgemeester
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Schepen
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Voorzitter
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Secretaris
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Gemeenteraadslid
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title OCMW-voorzitter

									label.form__label Bevoegdheden
									// javascript enriched multiselect component
									.js-select.u-spacer--bottom--small
										select#select-demo.select(multiple='', name='select-demo', data-multiselect='')
											option(value='', data-placeholder='') -- selecteer bevoegdheden --
											option(value='1', selected='') Geluk
											option(value='2') Creëer nieuwe bevoegdheid "Geluk"

									label.form__label(for='mandataris-rangorde') Rangorde
									input#mandataris-rangorde.input-field.input-field--block.u-spacer--bottom--small(name='mandataris-rangorde', placeholder='Eerste schepen', value="Eerste" data-pattern='iban')

									.grid.u-spacer--bottom--small
										.col--6-12
											label.form__label(for='datepicker-from') Start
											.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
												input#datepicker-from.input-field.input-field--block(type='text', placeholder='01.01.2016', name='datepicker-from', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2017')
										.col--6-12
											label.form__label(for='datepicker-to') Einde
											.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
												input#datepicker-to.input-field.input-field--block(type='text', placeholder='01.01.2017', name='datepicker-to', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2018')

									label.form__label Fractie
									.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
										.input-field-icon-container--right.input-field-icon-container--block
											input#fractie.delete-me-toggle-search-fracties.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek fractie', value="N-VA", onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
											i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
											span#selectFormInputDescriptionselecterken.u-visually-hidden
												| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

										.select__search-results.delete-me-search-results-fracties.u-hidden
											.select__list-wrapper(role='listbox')
												section.select__list(data-records='')
													.select__item.u-border--light--bottom
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Onafhankelijk
													.select__item
														button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title N-VA
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title HELEMAAL HASSELT
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title CD&amp;V
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title GROEI met Open Vld
													.select__item
														button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
															a.select__cta__title Vlaams Belang

									.u-spacer--top--small
										a.button.button--small.button--narrow.js-accordion__toggle Corrigeer informatie
										a.button.button--small.button--narrow.button--alt.js-accordion__toggle Verwerp wijzigingen

				.js-accordion
					// toggle
					.accordion__content
						.u-bg-block.u-padding--round--small.u-spacer--bottom--small
							label.form__label Mandaat
							.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
								.input-field-icon-container--right.input-field-icon-container--block
									input#mandaat.delete-me-toggle-search-mandaat.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek mandaat', onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
									i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
									span#selectFormInputDescriptionselecterken.u-visually-hidden
										| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

								.select__search-results.delete-me-search-results-mandaat.u-hidden
									.select__list-wrapper(role='listbox')
										section.select__list(data-records='')
											.select__item
												button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Burgemeester
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Schepen
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Voorzitter
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Secretaris
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Gemeenteraadslid
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title OCMW-voorzitter

							label.form__label Bevoegdheden
							// javascript enriched multiselect component
							.js-select.u-spacer--bottom--small
								select#select-demo.select(multiple='', name='select-demo', data-multiselect='')
									option(value='', data-placeholder='') -- selecteer bevoegdheden --
									option(value='1') Geluk
									option(value='2') Creëer nieuwe bevoegdheid "Geluk"

							label.form__label(for='mandataris-rangorde') Rangorde
							input#mandataris-rangorde.input-field.input-field--block.u-spacer--bottom--small(name='mandataris-rangorde', placeholder='Eerste schepen' data-pattern='iban')

							//.grid.u-spacer--bottom--small
								.col--6-12
									.description-data__label Geplande start
									.description-data__value 01.01.2013
								.col--6-12
									.description-data__label Gepland einde
									.description-data__value 31-12-2018

							label.form__label(for='mandataris-status') Status
							input#mandataris-status.input-field.input-field--block.u-spacer--bottom--small(name='mandataris-status', placeholder='Titelvoerend, effectief, waarnemend', value="Effectief")

							//.u-spacer--small
								label.form__label.checkbox.checkbox--block.u-spacer--small
									input.checkbox__toggle(type='checkbox', name='checkbox', data-show-checked-target='showmoretarget', value='1')
									span
									span Tijdelijk vervangen door
								.js-show-checked(data-show-checked-trigger='showmoretarget')
									input#mandataris-vervanger.input-field.input-field--block.u-spacer--tiny(name='mandataris-vervanger', placeholder='Naam Familienaam', data-pattern='iban')

							.grid.u-spacer--bottom--small
								.col--6-12
									label.form__label(for='datepicker-from') Start
									.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
										input#datepicker-from.input-field.input-field--block(type='text', placeholder='01.01.2016', name='datepicker-from', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2017')
								.col--6-12
									label.form__label(for='datepicker-to') Einde
									.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
										input#datepicker-to.input-field.input-field--block(type='text', placeholder='01.01.2017', name='datepicker-to', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2018')

							label.form__label Fractie
							.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
								.input-field-icon-container--right.input-field-icon-container--block
									input#fractie.delete-me-toggle-search-fracties.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek fractie', onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
									i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
									span#selectFormInputDescriptionselecterken.u-visually-hidden
										| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

								.select__search-results.delete-me-search-results-fracties.u-hidden
									.select__list-wrapper(role='listbox')
										section.select__list(data-records='')
											.select__item.u-border--light--bottom
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Onafhankelijk
											.select__item
												button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title N-VA
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title HELEMAAL HASSELT
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title CD&amp;V
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title GROEI met Open Vld
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Vlaams Belang

							.u-spacer--top--small
								a.button.button--small.button--narrow Voeg toe
								a.button.button--small.button--narrow.button--alt Annuleer

					a.button.button--alt.button--block.u-spacer--bottom--small
						i.vi.vi-plus(aria-hidden='true')
						| Voeg nieuw mandaat toe

				.alert.alert--error
					.alert__icon(aria-hidden='true')
					.alert__content
						.alert__title U kan deze mandaten niet combineren.
						.alert__message
							p Voeg een ander mandaat toe, of beëindig een van de andere mandaten.

			.u-padding--round--small.u-border--light--top

				.u-align-right
					a.button.button--narrow.button--alt.delete-me-toggle-mandate-edit Annuleer
					//- a.button.button--narrow.button--alt.delete-me-toggle-mandate-edit Verwerp wijzigingen
					a.button.button--narrow.delete-me-toggle-mandate-edit Bewaar



		.col--5-12.col--9-12--m.col--1-1--s.u-hidden.delete-me-mandate-edit-new.container-flex--contain
			.u-padding--trl--small.u-border--light--bottom
				.grid
					.col--9-12
						h2.h3 Voeg mandaten toe aan een persoon
					.col--3-12.u-align-right.toggle-mandate-new.delete-me-toggle-modal-save
						a.link--icon--close(href='')
							span.u-visually-hidden Venster sluiten

				.u-spacer--bottom--small
					.h4.sans-serif.u-spacer--bottom--tiny Zoek mandataris
					.form__row
						.grid
							.col--6-12
								label(for='mandataris-pattern') Naam
								input#mandataris-pattern.delete-me-toggle-mandate-new-search.input-field.input-field--block.u-spacer--tiny(name='mandataris-pattern', placeholder='Naam')
							.col--6-12
								label(for='mandataris-pattern') Familienaam
								input#mandataris-pattern.delete-me-toggle-mandate-new-found.input-field.input-field--block.u-spacer--tiny(name='mandataris-pattern', placeholder='Familienaam')

						label(for='mandataris-pattern') Rijksregisternummer
						input#mandataris-pattern.delete-me-toggle-mandate-new-unexisting.input-field.input-field--block.u-spacer--tiny(name='mandataris-pattern', placeholder='Rijksregisternummer')

			.container-flex--scroll.u-padding--round--small.u-position--relative

				.mandate-new-info
					p.text-fade Zoek een persoon op naam of op rijksregisternummer.

				.mandate-new-unexisting.u-hidden
					.mandate-new-unexisting-step-1
						h2.h4.u-spacer De zoekterm "Josiane" leverde geen resultaten op.

						p Zorg ervoor de naam en/of het rijksregisternummer correct is of
							a.delete-me-toggle-person-new.delete-me-toggle-person-new--mandate voeg een nieuwe persoon toe

				.u-hidden.mandate-new-loading.loader-container
					h2.text-fade Zoeken
					.loader
						span.u-visually-hidden Aan het laden

				.u-hidden.mandate-new-found

					.u-border--light--bottom.u-padding--bottom--small
						.grid
							.col--9-12
								.description-data__value Joost Geert Venken
								.description-data__label.js-accordion
									a.link--dark--light.toggle.toggle--arrow-down.js-accordion__toggle
										i.toggle__icon(aria-hidden='true')
										| 87&hairsp;.&hairsp;04&hairsp;.&hairsp;13&hairsp;-&hairsp;231&hairsp;.&hairsp;78
									.accordion__content.form__group.u-padding--round--tiny.u-spacer--none
										p Man, 13 April 1987

							.col--3-12.u-align--right
								a.button.button--narrow.u-spacer--top--tiny.delete-me-toggle-mandate-new-next Selecteer

					.u-border--light--bottom.u-padding--tb--small
						.grid
							.col--9-12
								.description-data__value Greta Joost Venken
								.description-data__label.js-accordion
									a.link--dark--light.toggle.toggle--arrow-down.js-accordion__toggle
										i.toggle__icon(aria-hidden='true')
										| 87&hairsp;.&hairsp;04&hairsp;.&hairsp;13&hairsp;-&hairsp;231&hairsp;.&hairsp;78
									.accordion__content.form__group.u-padding--round--tiny.u-spacer--none
										p Vrouw, 13 April 1987

							.col--3-12.u-align--right
								a.button.button--narrow.u-spacer--top--tiny.delete-me-toggle-mandate-new-next Selecteer

					.u-border--light--bottom.u-padding--tb--small
						.grid
							.col--9-12
								.description-data__value Joost Geert Venken
								.description-data__label.js-accordion
									a.link--dark--light.toggle.toggle--arrow-down.js-accordion__toggle
										i.toggle__icon(aria-hidden='true')
										| 87&hairsp;.&hairsp;04&hairsp;.&hairsp;13&hairsp;-&hairsp;231&hairsp;.&hairsp;78
									.accordion__content.form__group.u-padding--round--tiny.u-spacer--none
										p Man, 13 April 1987

							.col--3-12.u-align--right
								a.button.button--narrow.u-spacer--top--tiny.delete-me-toggle-mandate-new-next Selecteer

					.u-border--light--bottom.u-padding--tb--small
						.grid
							.col--9-12
								.description-data__value Joost Geert Venken
								.description-data__label.js-accordion
									a.link--dark--light.toggle.toggle--arrow-down.js-accordion__toggle
										i.toggle__icon(aria-hidden='true')
										| 87&hairsp;.&hairsp;04&hairsp;.&hairsp;13&hairsp;-&hairsp;231&hairsp;.&hairsp;78
									.accordion__content.form__group.u-padding--round--tiny.u-spacer--none
										p Man, 13 April 1987

							.col--3-12.u-align--right
								a.button.button--narrow.u-spacer--top--tiny.delete-me-toggle-mandate-new-next Selecteer

					.pager.u-spacer--top
						ul.pager__list
							li.pager__element
								span.u-visually-hidden Rij
								strong 11 - 20
								|  van 673
							li.pager__element
								a(href='')
									i.vi.vi-arrow.vi-u-180deg.vi-u-s(aria-hidden='true')
									|  vorige
									span.u-visually-hidden  10 rijen
							li.pager__element
								a(href='') volgende
									span.u-visually-hidden  10 rijen
									i.vi.vi-arrow.vi-u-s(aria-hidden='true')


			.u-padding--round--small.u-border--light--top.u-align-right
				a.button.button--narrow.button--alt.toggle-mandate-new Annuleer

		.col--5-12.col--9-12--m.col--1-1--s.u-hidden.delete-me-mandate-edit-new-next.container-flex--contain
			.u-padding--trl--small.u-border--light--bottom
				.grid
					.col--9-12
						h2.h3 Voeg mandaten toe aan Joost Geert Venken
					.col--3-12.u-align-right.toggle-mandate-new.delete-me-toggle-modal-save
						a.link--icon--close(href='')
							span.u-visually-hidden Venster sluiten

			.container-flex--scroll.u-padding--round--small

				.u-spacer--bottom--tiny
					.grid
						.col--6-12
							.description-data__label Rijksregisternummer
							.description-data__value 87.04.13-231.78
						.col--6-12
							.description-data__label Geslacht
							.description-data__value Man
						.col--6-12
							.description-data__label Geboortedatum
							.description-data__value 13-04-1987
						.col--6-12
							.description-data__label Roepnaam
							.description-data__value Johnny

				.u-bg-block.u-padding--round--small.u-spacer--bottom--small
					label.form__label Mandaat
					.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
						.input-field-icon-container--right.input-field-icon-container--block
							input#mandaat.delete-me-toggle-search-mandaat.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek mandaat', onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
							i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
							span#selectFormInputDescriptionselecterken.u-visually-hidden
								| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

						.select__search-results.delete-me-search-results-mandaat.u-hidden
							.select__list-wrapper(role='listbox')
								section.select__list(data-records='')
									.select__item
										button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title Burgemeester
									.select__item
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title Schepen
									.select__item
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title Voorzitter
									.select__item
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title Secretaris
									.select__item
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title Gemeenteraadslid
									.select__item
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title OCMW-voorzitter

					label.form__label Bevoegdheden
					// javascript enriched multiselect component
					.js-select.u-spacer--bottom--small
						select#select-demo.select(multiple='', name='select-demo', data-multiselect='')
							option(value='', data-placeholder='') -- selecteer bevoegdheden --
							option(value='1') Geluk
							option(value='2') Creëer nieuwe bevoegdheid "Geluk"

					label.form__label(for='mandataris-rangorde') Rangorde
					input#mandataris-rangorde.input-field.input-field--block.u-spacer--bottom--small(name='mandataris-rangorde', placeholder='Eerste schepen' data-pattern='iban')

					//.grid.u-spacer--bottom--small
						.col--6-12
							.description-data__label Geplande start
							.description-data__value 01.01.2013
						.col--6-12
							.description-data__label Gepland einde
							.description-data__value 31-12-2018

					label.form__label(for='mandataris-status') Status
					input#mandataris-status.input-field.input-field--block.u-spacer--bottom--small(name='mandataris-status', placeholder='Titelvoerend, effectief, waarnemend', value="Effectief")

					//.u-spacer--small
						label.form__label.checkbox.checkbox--block.u-spacer--small
							input.checkbox__toggle(type='checkbox', name='checkbox', data-show-checked-target='showmoretarget', value='1')
							span
							span Tijdelijk vervangen door
						.js-show-checked(data-show-checked-trigger='showmoretarget')
							input#mandataris-vervanger.input-field.input-field--block.u-spacer--tiny(name='mandataris-vervanger', placeholder='Naam Familienaam', data-pattern='iban')

					.grid.u-spacer--bottom--small
						.col--6-12
							label.form__label(for='datepicker-from') Start
							.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
								input#datepicker-from.input-field.input-field--block(type='text', placeholder='01.01.2016', name='datepicker-from', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2017')
						.col--6-12
							label.form__label(for='datepicker-to') Einde
							.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
								input#datepicker-to.input-field.input-field--block(type='text', placeholder='01.01.2017', name='datepicker-to', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2018')

					label.form__label Fractie
					.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
						.input-field-icon-container--right.input-field-icon-container--block
							input#fractie.delete-me-toggle-search-fracties.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek fractie', onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
							i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
							span#selectFormInputDescriptionselecterken.u-visually-hidden
								| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

						.select__search-results.delete-me-search-results-fracties.u-hidden
							.select__list-wrapper(role='listbox')
								section.select__list(data-records='')
									.select__item.u-border--light--bottom
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title Onafhankelijk
									.select__item
										button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title N-VA
									.select__item
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title HELEMAAL HASSELT
									.select__item
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title CD&amp;V
									.select__item
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title GROEI met Open Vld
									.select__item
										button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
											a.select__cta__title Vlaams Belang

					.u-spacer--top--small
						a.button.button--small.button--narrow Voeg toe
						a.button.button--small.button--narrow.button--alt Annuleer

				.js-accordion
					// toggle
					.accordion__content
						.u-bg-block.u-padding--round--small.u-spacer--bottom--small
							label.form__label Mandaat
							.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
								.input-field-icon-container--right.input-field-icon-container--block
									input#mandaat.delete-me-toggle-search-mandaat.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek mandaat', onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
									i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
									span#selectFormInputDescriptionselecterken.u-visually-hidden
										| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

								.select__search-results.delete-me-search-results-mandaat.u-hidden
									.select__list-wrapper(role='listbox')
										section.select__list(data-records='')
											.select__item
												button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Burgemeester
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Schepen
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Voorzitter
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Secretaris
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Gemeenteraadslid
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title OCMW-voorzitter

							label.form__label Bevoegdheden
							// javascript enriched multiselect component
							.js-select.u-spacer--bottom--small
								select#select-demo.select(multiple='', name='select-demo', data-multiselect='')
									option(value='', data-placeholder='') -- selecteer bevoegdheden --
									option(value='1') Geluk
									option(value='2') Creëer nieuwe bevoegdheid "Geluk"

							label.form__label(for='mandataris-rangorde') Rangorde
							input#mandataris-rangorde.input-field.input-field--block.u-spacer--bottom--small(name='mandataris-rangorde', placeholder='Eerste schepen' data-pattern='iban')

							//.grid.u-spacer--bottom--small
								.col--6-12
									.description-data__label Geplande start
									.description-data__value 01.01.2013
								.col--6-12
									.description-data__label Gepland einde
									.description-data__value 31-12-2018

							label.form__label(for='mandataris-status') Status
							input#mandataris-status.input-field.input-field--block.u-spacer--bottom--small(name='mandataris-status', placeholder='Titelvoerend, effectief, waarnemend', value="Effectief")

							//.u-spacer--small
								label.form__label.checkbox.checkbox--block.u-spacer--small
									input.checkbox__toggle(type='checkbox', name='checkbox', data-show-checked-target='showmoretarget', value='1')
									span
									span Tijdelijk vervangen door
								.js-show-checked(data-show-checked-trigger='showmoretarget')
									input#mandataris-vervanger.input-field.input-field--block.u-spacer--tiny(name='mandataris-vervanger', placeholder='Naam Familienaam', data-pattern='iban')

							.grid.u-spacer--bottom--small
								.col--6-12
									label.form__label(for='datepicker-from') Start
									.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
										input#datepicker-from.input-field.input-field--block(type='text', placeholder='01.01.2016', name='datepicker-from', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2017')
								.col--6-12
									label.form__label(for='datepicker-to') Einde
									.date-range__datepicker.datepicker(style="max-width: none; width: auto;")
										input#datepicker-to.input-field.input-field--block(type='text', placeholder='01.01.2017', name='datepicker-to', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2018')

							label.form__label Fractie
							.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
								.input-field-icon-container--right.input-field-icon-container--block
									input#fractie.delete-me-toggle-search-fracties.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek fractie', onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
									i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
									span#selectFormInputDescriptionselecterken.u-visually-hidden
										| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

								.select__search-results.delete-me-search-results-fracties.u-hidden
									.select__list-wrapper(role='listbox')
										section.select__list(data-records='')
											.select__item.u-border--light--bottom
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Onafhankelijk
											.select__item
												button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title N-VA
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title HELEMAAL HASSELT
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title CD&amp;V
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title GROEI met Open Vld
											.select__item
												button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
													a.select__cta__title Vlaams Belang

							.u-spacer--top--small
								a.button.button--small.button--narrow Voeg toe
								a.button.button--small.button--narrow.button--alt Annuleer

					a.toggle.js-accordion__toggle.small.link--icon.u-spacer--bottom--small
						i.vi.vi-plus(aria-hidden='true')
						| Voeg mandaat toe

				.alert.alert--error
					.alert__icon(aria-hidden='true')
					.alert__content
						.alert__title U kan deze mandaten niet combineren.
						.alert__message
							p Voeg een ander mandaat toe, of beëindig een van de andere mandaten.

			.u-padding--round--small.u-border--light--top.u-align-right

				a.button.button--narrow.button--alt.delete-me-toggle-mandate-new-close Annuleer
				a.button.button--narrow.button--alt.delete-me-toggle-mandate-new-previous Vorige stap
				//- a.button.button--narrow.button--disabled.mandate-new-info-button.delete-me-toggle-mandate-new-close Voeg toe

		.col--5-12.col--9-12--m.col--1-1--s.u-hidden.delete-me-person-new.container-flex--contain
			.u-padding--trl--small.u-border--light--bottom
				.grid
					.col--9-12
						h2.h3 Voeg persoon toe
					.col--3-12.u-align-right.delete-me-toggle-person-new.delete-me-toggle-modal-save
						a.link--icon--close(href='')
							span.u-visually-hidden Venster sluiten

			.container-flex--scroll.u-padding--round--small.u-position--relative

				.form__row
					.grid.grid-collapse
						.col--6-12
							label(for='mandataris-naam') Naam
							input#mandataris-naam.input-field.input-field--block.u-spacer--tiny(name='mandataris-naam', placeholder='Naam')

						.col--6-12
							label(for='mandataris-familienaam') Familienaam
							input#mandataris-familienaam.input-field.input-field--block.u-spacer--tiny(name='mandataris-familienaam', placeholder='Familienaam')

					label(for='mandataris-roepnaam') Roepnaam
					input#mandataris-roepnaam.input-field.input-field--block.u-spacer--tiny(name='mandataris-roepnaam', placeholder='Roepnaam', data-pattern='iban')

				.form__row
					label(for='mandataris-rijksregister') Rijksregisternummer
					input#mandataris-rijksregister.input-field.input-field--block.input-field--error.u-spacer--tiny(name='mandataris-rijksregister', placeholder='00.00.00-000.00', data-pattern='iban')
					.form__error Dit rijksregisternummer is al gekoppeld aan een bestaande mandataris.

					label(for='mandataris-geboorte') Geboortedatum
					input#mandataris-geboorte.input-field.input-field--block.u-spacer--tiny(name='mandataris-geboorte', placeholder='24/08/1989', data-pattern='iban')

					label Geslacht
					.grid.u-spacer--bottom--tiny
						.col--6-12
							label.radio
								input.radio__toggle(type='radio', name='radio-buttons', value='1')
								span
								| Vrouw
						.col--6-12
							label.radio
								input.radio__toggle(type='radio', name='radio-buttons', value='2')
								span
								| Man

			.u-padding--round--small.u-border--light--top.u-align-right.delete-me-person-new--person
				a.button.button--narrow.button--alt.delete-me-toggle-person-new Annuleer
				a.button.button--narrow.delete-me-toggle-person-new Voeg persoon toe

			.u-padding--round--small.u-border--light--top.u-align-right.delete-me-person-new--mandate
				a.button.button--narrow.button--alt.delete-me-toggle-person-new Annuleer
				a.button.button--narrow.delete-me-show-mandate-edit-new-next Voeg persoon toe

		.col--5-12.col--9-12--m.col--1-1--s.u-hidden.delete-me-person-edit.container-flex--contain
			.u-padding--trl--small.u-border--light--bottom
				.grid
					.col--9-12
						h2.h3 Bewerk persoon
					.col--3-12.u-align-right.delete-me-toggle-person-edit.delete-me-toggle-modal-save
						a.link--icon--close(href='')
							span.u-visually-hidden Venster sluiten

			.container-flex--scroll.u-padding--round--small.u-position--relative

				.alert.alert--warning
					.alert__icon(aria-hidden='true')
					.alert__content
						// wordt enkel getoond indien er al mandaten toegewezen werden.
						.alert__title Deze persoon kreeg al mandaten toegewezen.
						.alert__message
							p Fouten verbeteren kan, de persoon verwijderen of wisselen wordt niet aangeraden.

				.form__row
					.grid.grid-collapse
						.col--6-12
							label(for='mandataris-naam') Naam
							input#mandataris-naam.input-field.input-field--block.u-spacer--tiny(name='mandataris-naam', placeholder='Naam', value="Joost Geert")

						.col--6-12
							label(for='mandataris-familienaam') Familienaam
							input#mandataris-familienaam.input-field.input-field--block.u-spacer--tiny(name='mandataris-familienaam', value="Venken" placeholder='Familienaam')

					label(for='mandataris-roepnaam') Roepnaam
					input#mandataris-roepnaam.input-field.input-field--block.u-spacer--tiny(name='mandataris-roepnaam', placeholder='Roepnaam', value="Jos" data-pattern='iban')

				.form__row
					label(for='mandataris-rijksregister') Rijksregisternummer
					input#mandataris-rijksregister.input-field.input-field--block.u-spacer--tiny(name='mandataris-rijksregister', placeholder='00.00.00-000.00', data-pattern='iban', value="87.04.13-231.78")

					label(for='mandataris-geboorte') Geboortedatum
					input#mandataris-geboorte.input-field.input-field--block.u-spacer--tiny(name='mandataris-geboorte', placeholder='24/08/1989', data-pattern='iban', value="13-14-1987")

					label Geslacht
					.grid.u-spacer--bottom--tiny
						.col--6-12
							label.radio
								input.radio__toggle(type='radio', name='radio-buttons', value='1')
								span
								| Vrouw
						.col--6-12
							label.radio
								input.radio__toggle(type='radio', name='radio-buttons', value='2', checked)
								span
								| Man

					.u-hr.u-spacer--tb

					p.u-spacer--small Een persoon kan enkel verwijderd worden als er geen mandaten aan toegewezen werden.
					a.button.button--block.button--alt.button--alt--warning.delete-me-toggle-person-edit.button--disabled Verwijder persoon


			.u-padding--round--small.u-border--light--top.u-align-right
				a.button.button--narrow.button--alt.delete-me-toggle-person-edit Verwerp wijzigingen
				a.button.button--narrow.delete-me-toggle-person-edit Bewaar



	script.
		$('.delete-me-toggle-mandate-edit').on('click', function(e) {
			$('.delete-me-mandate-edit-table').toggleClass("col--10-12").toggleClass("col--5-12").toggleClass("u-visible--tablet-landscape-up");
			$('.delete-me-mandate-edit-detail').toggleClass("u-hidden");
			$('.delete-me-mandate-edit-data').toggleClass("u-hidden");
			$('.delete-me-mandate-edit-data-active').toggleClass("data-table__row-active");
			e.preventDefault();
		});

		$('.toggle-mandate-new').on('click', function(e) {
			$('.delete-me-mandate-edit-table').toggleClass("col--10-12").toggleClass("col--5-12").toggleClass("u-visible--tablet-landscape-up");
			$('.delete-me-mandate-edit-data').toggleClass("u-hidden");
			$('.delete-me-mandate-edit-new').toggleClass("u-hidden");
			$('.delete-me-mandate-edit-new-next').addClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-mandate-new-next').on('click', function(e) {
			$('.delete-me-mandate-edit-new').addClass("u-hidden");
			$('.delete-me-mandate-edit-new-next').removeClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-mandate-new-close').on('click', function(e) {
			$('.delete-me-mandate-edit-table').toggleClass("col--10-12").toggleClass("col--5-12").toggleClass("u-visible--tablet-landscape-up");
			$('.delete-me-mandate-edit-data').toggleClass("u-hidden");
			$('.delete-me-mandate-edit-new').addClass("u-hidden");
			$('.delete-me-mandate-edit-new-next').addClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-mandate-new-previous').on('click', function(e) {
			$('.delete-me-mandate-edit-new').removeClass("u-hidden");
			$('.delete-me-mandate-edit-new-next').addClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-mandate-new-search').on('click', function(e) {
			$('.mandate-new-info').addClass("u-hidden");
			$('.mandate-new-loading').removeClass("u-hidden");
			$('.mandate-new-found').addClass("u-hidden");
			$('.mandate-new-unexisting').addClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-mandate-new-found').on('click', function(e) {
			$('.mandate-new-info').addClass("u-hidden");
			$('.mandate-new-loading').addClass("u-hidden");
			$('.mandate-new-found').removeClass("u-hidden");
			$('.mandate-new-unexisting').addClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-mandate-new-unexisting').on('click', function(e) {
			$('.mandate-new-info').addClass("u-hidden");
			$('.mandate-new-loading').addClass("u-hidden");
			$('.mandate-new-found').addClass("u-hidden");
			$('.mandate-new-unexisting').removeClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-mandate-new-unexisting-step-1').on('click', function(e) {
			$('.mandate-new-unexisting-step-1').addClass("u-hidden");
			$('.mandate-new-unexisting-step-2').removeClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-overview-personen').on('click', function(e) {
			$('.delete-me-overview-mandatarissen').toggleClass("u-hidden");
			$('.delete-me-overview-personen').toggleClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-person-new').on('click', function(e) {
			$('.delete-me-person-edit-table').toggleClass("col--10-12").toggleClass("col--5-12").toggleClass("u-visible--tablet-landscape-up");
			$('.delete-me-person-edit-data').toggleClass("u-hidden");
			$('.delete-me-person-edit-data-active').toggleClass("data-table__row-active");
			$('.delete-me-person-new').toggleClass("u-hidden");
			$('.delete-me-mandate-edit-new').addClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-person-new--mandate').on('click', function(e) {
			$('.delete-me-person-new--mandate').removeClass("u-hidden");
			$('.delete-me-person-new--person').addClass("u-hidden");
			$('.delete-me-person-edit-table').removeClass("col--6-12").addClass("col--10-12");
			$('.delete-me-person-edit-data').removeClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-person-new--person').on('click', function(e) {
			$('.delete-me-person-new--mandate').addClass("u-hidden");
			$('.delete-me-person-new--person').removeClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-show-mandate-edit-new-next').on('click', function(e) {
			$('.delete-me-mandate-edit-new-next').removeClass("u-hidden");
			$('.delete-me-person-new').addClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-person-edit').on('click', function(e) {
			$('.delete-me-person-edit-table').toggleClass("col--10-12").toggleClass("col--5-12").toggleClass("u-visible--tablet-landscape-up");
			$('.delete-me-person-edit-data').toggleClass("u-hidden");
			$('.delete-me-person-edit-data-active').toggleClass("data-table__row-active");
			$('.delete-me-person-edit').toggleClass("u-hidden");
			e.preventDefault();
		});


		$('.delete-me-toggle-search-fracties, .delete-me-search-results-fracties').on('click', function(e) {
			$('.delete-me-search-results-fracties').toggleClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-search-mandaat, .delete-me-search-results-mandaat').on('click', function(e) {
			$('.delete-me-search-results-mandaat').toggleClass("u-hidden");
			e.preventDefault();
		});




