extends /templates/_templates/header-loket

block loketoverview
	nav.sidebar.sidebar--slide--wide.sidebar--slide.sidebar--slide--in(role='navigation')
		.sidebar__header
			.grid.grid--collapse
				.col--10-12.u-padding--trl--tiny
					h1.sans-serif Menu
				.col--2-12.u-padding--trl--tiny.u-align-right.delete-me-toggle-sidebar--slide
					i.vi.vi-cross
					span.u-visually-hidden sluit navigatie

		.sidebar__content
			ul.side-navigation__group
				//- li.side-navigation__item
					a(href="/loket/loket-inbox.html") Inbox
				li.side-navigation__item
					a(href="/loket/loket-toezicht.html") Toezicht
				li.side-navigation__item
					a.active.message(href="/loket/loket-berichtencentrum.html") Berichtencentrum
				li.side-navigation__item
					a(href="/loket/loket-mandatenbeheer.html") Mandatenbeheer
				li.side-navigation__item
					a(href="/loket/loket-bbcdr.html") BBC DR
				//- li.side-navigation__item
					a(href="/loket/loket-organenbeheer.html") Organenbeheer
				//- li.side-navigation__item
					a(href="/loket/loket-leidinggevenden.html") Leidinggevenden
				//- li.side-navigation__item
					a(href="/loket/loket-personeelsaantallen.html") Personeelsaantallen
				//- li.side-navigation__item
					a(href="/loket/loket-administratievegegevens.html") Administratieve gegevens

		.sidebar__footer
			button.button.button--block.button--alt Persoonlijke gegevens

	.grid.grid--collapse
		.col--2-12.col--3-12--m.u-hidden-mobile
			.container-flex--contain
				.sidebar
					h1.u-visually-hidden Menu
					.sidebar__content
						nav.side-navigation
							.side-navigation__content
								ul.side-navigation__group
									// li.side-navigation__item
										a.message(href="/loket/loket-inbox.html") Inbox
									li.side-navigation__item
										a(href="/loket/loket-toezicht.html") Toezicht
									li.side-navigation__item
										a.active.message(href="/loket/loket-berichtencentrum.html") Berichtencentrum
									li.side-navigation__item
										a(href="/loket/loket-mandatenbeheer.html") Mandatenbeheer
									li.side-navigation__item
										a(href="/loket/loket-bbcdr.html") BBC DR
									//- li.side-navigation__item
										a(href="/loket/loket-organenbeheer.html") Organenbeheer
									//- li.side-navigation__item
										a(href="/loket/loket-leidinggevenden.html") Leidinggevenden
									//- li.side-navigation__item
										a(href="/loket/loket-personeelsaantallen.html") Personeelsaantallen
									//- li.side-navigation__item
										a(href="/loket/loket-administratievegegevens.html") Administratieve gegevens

					.sidebar__footer
						button.button.button--block.button--alt Persoonlijke gegevens

		// TODO: LOGGING
		.col--10-12.col--9-12--m.col--12-12--s.delete-me-melding-table.u-border--light--right
			.container-flex--contain
				.sidebar__toggle-menu.delete-me-toggle-sidebar--slide.u-visible-mobile.u-padding--tb--tiny.u-padding--rl--small.u-background--gray-lighter(type='button', title='Pas bestuur aan')
					h2.h2.sidebar__toggle-value Menu
				.u-border--light--bottom
					.u-padding--round--small.mandate-edit-table__header(id="main", itemprop="mainContentOfPage", role="main", tabindex="-1", class="main-content")
						.grid.u-spacer--tiny
							.col--6-12
								h1.h4.u-spacer--tiny Berichtencentrum Gemeente Hasselt
							.col--6-12.u-align--right
								button.button--tiny.button--link.button--link--dark.button--alt.button.button--narrow.delete-me-toggle-configure-berichtencentrum
									i.fa.fa-cog
									| Ontvang mails bij nieuwe berichten

						.js-accordion.u-visible-mobile
							// toggle
							a.toggle.toggle--arrow-down.js-accordion__toggle
								i.toggle__icon(aria-hidden='true')
								| Toon acties
							.accordion__content.u-spacer--top--tiny
								.input-field-icon-container--right.u-spacer--bottom--tiny
									input#input-field.input-field.input-field--block(type='text', placeholder='Zoek op type communicatie of dossiernummer, ...', style="min-width: 25rem;")
									i.input-field__icon.vi.vi-magnifier(aria-hidden='true')
								.input-field-icon-container--right.u-spacer--bottom--tiny
									input.input-field.input-field--block(name="datepicker-range", type='text', placeholder='01.01.2017 - heden').js-popover__toggle
									i.input-field__icon.vi.vi-calendar(aria-hidden='true')
									div.popover__content.u-padding--round--tiny
										form.form(action='')
											.date-range
												label.date-range__label.u-spacer--tiny(for='datepicker-from') van
												.date-range__datepicker.datepicker
													input#datepicker-from.input-field.input-field--block(type='text', placeholder='01.01.2016', name='datepicker-from', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2017')
												label.date-range__label(for='datepicker-to') tot
												.date-range__datepicker.datepicker
													input#datepicker-to.input-field.input-field--block(type='text', placeholder='01.01.2017', name='datepicker-to', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2018')

								//- a.button.button--narrow.delete-me-toggle-new Maak nieuwe melding

						.grid.u-hidden-mobile
							.col--12-12
								.input-field-icon-container--right.u-spacer--bottom--tiny
									input#input-field.input-field.input-field--block(type='text', placeholder='Type communicatie, dossiernummer, ...', style="min-width: 25rem;")
									i.input-field__icon.vi.vi-magnifier(aria-hidden='true')
								.popover.js-popover
									.input-field-icon-container--right.u-spacer--bottom--tiny
										input.input-field.input-field--block(name="datepicker-range", type='text', placeholder='01.01.2017 - heden').js-popover__toggle
										i.input-field__icon.vi.vi-calendar(aria-hidden='true')
										div.popover__content.u-padding--round--tiny
											form.form(action='')
												.date-range
													label.date-range__label.u-spacer--tiny(for='datepicker-from') van
													.date-range__datepicker.datepicker
														input#datepicker-from.input-field.input-field--block(type='text', placeholder='01.01.2016', name='datepicker-from', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2017')
													label.date-range__label(for='datepicker-to') tot
													.date-range__datepicker.datepicker
														input#datepicker-to.input-field.input-field--block(type='text', placeholder='01.01.2017', name='datepicker-to', data-datepicker='', data-datepicker-min='01.01.2016', data-datepicker-max='01.01.2018')
							//- .col--6-12.col--12-12--s.u-align--right

				.container-flex--scroll
					table.data-table.data-table--tight.data-table--nowrap
						thead
							tr.data-table__header
								//- th.delete-me-switch-hide-data.u-hidden-mobile.data-table__header-title
									a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
										| Orgaan
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.data-table__header-title(style="width: 28rem !important;")
									a.data-table__header-title--sortable(href='#', title='sort')
										| Betreft
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.data-table__header-title
									a.data-table__header-title--sortable(href='#', title='sort')
										| Type communicatie
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.data-table__header-title.u-hidden-mobile
									a.data-table__header-title--sortable(href='#', title='sort')
										| Dossier-
										br
										| nummer
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.data-table__header-title.u-visible--desktop-up.delete-me-switch-hide-data
									a.data-table__header-title--sortable(href='#', title='sort')
										| Reactietermijn
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								//- th.data-table__header-title
									a.data-table__header-title--sortable(href='#', title='sort')
										| Titel
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.data-table__header-title.u-hidden-mobile.u-visible--tablet-landscape-up.delete-me-switch-hide-data
									a.data-table__header-title--sortable(href='#', title='sort')
										| Laatste bericht
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								th.data-table__header-title.u-hidden-mobile.u-visible--tablet-landscape-up.delete-me-switch-hide-data
									a.data-table__header-title--sortable(href='#', title='sort')
										|  Laatste bericht
										br
										| verstuurd door
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow
								//- th.data-table__header-title.u-hidden-mobile
									a.data-table__header-title--sortable(href='#', title='sort')
										| Status
										i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow.vi-u-180deg
								th

						tbody
							tr.message-new
								td Meerjarenplanwijziging 2014-2018&nbsp;<span class="text-fade u-padding--left--tiny">3</span>
								td Opvraging in kader van een toezichtsdossier
								td.u-hidden-mobile 2018.00301
								td.u-visible--desktop-up.delete-me-switch-hide-data Binnen 30 dagen
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data 28-03-2018
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data Agentschap Binnenlands Bestuur
								//- td.u-hidden-mobile
									label.pill.pill--gray-light.pill--clickable(data-toggle='tooltip', title='Nog niet verstuurd', data-content='Nog niet verstuurd', data-placement='left', data-timer='25') Concept
								td
									a.delete-me-toggle-bericht Bekijk

							//- tr
								td Herinnering aan opvraging in kader van een toezichtsdossier
								td Meerjarenplanwijziging 2014-2018
								td.u-hidden-mobile 2018.00231
								td.u-visible--desktop-up.delete-me-switch-hide-data Binnen 30 dagen
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data 28-03-2018
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data Joke Verschueren
								//- td.u-hidden-mobile
									label.pill.pill--primary-blue.pill--clickable(data-toggle='tooltip', title='Wacht op afhandeling door Vlaamse Overheid', data-content='Wacht op afhandeling door Vlaamse Overheid', data-placement='left', data-timer='25') Verstuurd
								td
									a.delete-me-toggle-sent Bekijk

							tr
								td Meerjarenplanwijziging 2014-2018&nbsp;<span class="text-fade u-padding--left--tiny">3</span>
								td Kennisname aan bestuur
								td.u-hidden-mobile 2018.00540
								td.u-visible--desktop-up.delete-me-switch-hide-data Geen reactie vereist
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data 28-03-2018
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data Joke Verschueren
								//- td.u-hidden-mobile
									label.pill.pill--primary-yellow.pill--clickable.u-spacer--tiny(data-toggle='tooltip', title='Opmerking ontvangen, vereist actie', data-content='Opmerking ontvangen, vereist actie', data-placement='left', data-timer='25') Actie vereist
								td
									a.delete-me-toggle-message Bekijk

							tr
								td Meerjarenplanwijziging 2014-2018&nbsp;<span class="text-fade u-padding--left--tiny">3</span>
								td Kennisname vernietigingsbesluit
								td.u-hidden-mobile 2018.00230
								td.u-visible--desktop-up.delete-me-switch-hide-data Geen reactie vereist
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data 28-03-2018
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data Joke Verschueren
								//- td.u-hidden-mobile
									label.pill.pill--gray-dark.pill--clickable(data-toggle='tooltip', title='Afgehandeld door Vlaamse overheid', data-content='Afgehandeld door Vlaamse overheid', data-placement='left', data-timer='25') Afgehandeld
								td
									a.delete-me-toggle-approved Bekijk

							tr
								td Meerjarenplanwijziging 2014-2018&nbsp;<span class="text-fade u-padding--left--tiny">3</span>
								td Kennisname vernietigingsbesluit
								td.u-hidden-mobile 2018.00234
								td.u-visible--desktop-up.delete-me-switch-hide-data Geen reactie vereist
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data 28-03-2018
								td.u-visible--tablet-landscape-up.delete-me-switch-hide-data Agentschap Binnenlands Bestuur
								//- td.u-hidden-mobile
									label.pill.pill--gray-light.pill--clickable(data-toggle='tooltip', title='Nog niet verstuurd', data-content='Nog niet verstuurd', data-placement='left', data-timer='25') Concept
								td
									a.delete-me-toggle-bericht Bekijk

				.pager.u-padding--round--tiny.u-border--light--top
					ul.pager__list.pager__list-right
						li.pager__element
							span.u-visually-hidden Rij
							strong 11 - 20
							|  van 673
						li.pager__element
							a(href='#')
								i.vi.vi-arrow.vi-u-180deg.vi-u-s(aria-hidden='true')
								|  vorige
								span.u-visually-hidden  10 rijen
						li.pager__element
							a(href='#') volgende
								span.u-visually-hidden  10 rijen
								i.vi.vi-arrow.vi-u-s(aria-hidden='true')

		.delete-me-melding-new.col--5-12.col--9-12--m.col--12-12--s.u-hidden.container-flex--contain
			.u-padding--trl--small.u-border--light--bottom
				.grid
					.col--9-12
						label.pill.pill--gray-light.pill--clickable.u-spacer--tiny(data-toggle='tooltip', title='Nog niet verstuurd', data-content='Nog niet verstuurd', data-placement='left', data-timer='25') Concept
						h2.h3.u-spacer--tiny Nieuwe melding
					.col--3-12.u-align-right.delete-me-toggle-new
						a.link--icon--close.delete-me-toggle-modal(href='#')
							span.u-visually-hidden Venster sluiten

			.container-flex--scroll.u-padding--round--small
				.form__row
					.form__label
						label(form="titel").form__label Titel
					.form__input
						input.input-field.input-field--block.input-field--disabled(type='text', placeholder='Automatisch gegenereerd door formulier', name='titel', disabled)

				.form__row
					.form__label
						label(form="orgaan").form__label Documenttype
					.form__input
						select#orgaan.select(name='select')
							option(value='', disabled, selected, hidden) Selecteer een documenttype
							option(value='Inzendingsplichtig besluit') Inzendingsplichtig besluit
							option(value='Besluitenlijst') Besluitenlijst

				.form__row
					.form__label
						label(form="orgaan").form__label Type document
					.form__input
						.temporary-select__wrapper.temporary-select__wrapper--block(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
							.input-field-icon-container--right.input-field-icon-container--block
								input#fractie.delete-me-toggle-search-besluittype.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescription', aria-haspopup='listbox"', placeholder='Zoek type document', onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
								i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
								span#selectFormInputDescription.u-visually-hidden
									| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

							.select__search-results.delete-me-search-results-besluittype.u-hidden
								.select__list-wrapper(role='listbox')
									section.select__list(data-records='')
										.select__item
											button.select__cta(type='button', data-index='5', data-value='ADV', data-label='Advies eredienstbesturen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Advies eredienstbesturen
										.select__item
											button.select__cta.select__cta--active(type='button', data-index='5', data-value='BBC', data-label='Andere opgevraagde documenten BBC-beleidsrapporten', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Andere opgevraagde documenten BBC-beleidsrapporten
										.select__item
											button.select__cta(type='button', data-index='5', data-value='BEL', data-label='Belasting of retributie', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Belasting of retributie
										.select__item
											button.select__cta(type='button', data-index='5', data-value='ERE', data-label='Besluit i.v.m. financieel document eredienstbestuur', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit i.v.m. financieel document eredienstbestuur
										.select__item
											button.select__cta(type='button', data-index='5', data-value='BAGB', data-label='Besluit over budget AGB', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit over AGB
										.select__item
											button.select__cta(type='button', data-index='5', data-value='OCMW', data-label='Besluit over budget(wijziging) OCMW', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit over budget(wijziging) OCMW
										.select__item
											button.select__cta(type='button', data-index='5', data-value='OCMWV', data-label='Besluit over budget(wijziging) OCMW-vereniging', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit over budget(wijziging) OCMW-vereniging
										.select__item
											button.select__cta(type='button', data-index='5', data-value='JAGB', data-label='Besluit over jaarrekening AGB', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit over jaarrekening AGB
										.select__item
											button.select__cta(type='button', data-index='5', data-value='OCMW', data-label='Besluit over jaarrekening OCMW', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit over jaarrekening OCMW
										.select__item
											button.select__cta(type='button', data-index='5', data-value='OCMWV', data-label='Besluit over jaarrekening OCMW-vereniging', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit over jaarrekening OCMW-vereniging
										.select__item
											button.select__cta(type='button', data-index='5', data-value='MJAGB', data-label='Besluit over meerjarenplan AGB', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit over meerjarenplan AGB
										.select__item
											button.select__cta(type='button', data-index='5', data-value='OCMW', data-label='Besluit over meerjarenplan(aanpassing) OCMW', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit over meerjarenplan(aanpassing) OCMW
										.select__item
											button.select__cta(type='button', data-index='5', data-value='OCMWV', data-label='Besluit over meerjarenplan(aanpassing) OCMW-vereniging', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit over meerjarenplan(aanpassing) OCMW-vereniging
										.select__item
											button.select__cta(type='button', data-index='5', data-value='OBE', data-label='Besluit overruling betaling', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit overruling betaling
										.select__item
											button.select__cta(type='button', data-index='5', data-value='BSA', data-label='Besluit van de gemeenteraad houdende de principiële beslissing tot samenvoeging', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit van de gemeenteraad houdende de principiële beslissing tot samenvoeging
										.select__item
											button.select__cta(type='button', data-index='5', data-value='VSA', data-label='Besluit van de gemeenteraad houdende de gezamenlijk voorstel tot samenvoeging', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluit van de gemeenteraad houdende de gezamenlijk voorstel tot samenvoeging
										.select__item
											button.select__cta(type='button', data-index='5', data-value='BUD', data-label='Budget', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Budget
										.select__item
											button.select__cta(type='button', data-index='5', data-value='DOK', data-label='Dwingende en onvoorziene kosten', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Dwingende en onvoorziene kosten
										.select__item
											button.select__cta(type='button', data-index='5', data-value='GTO', data-label='Goedkeuringstoezicht overheidsopdrachten Voeren', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Goedkeuringstoezicht overheidsopdrachten Voeren
										.select__item
											button.select__cta(type='button', data-index='5', data-value='HEL', data-label='Herschikking leningen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Herschikking leningen
										.select__item
											button.select__cta(type='button', data-index='5', data-value='JAR', data-label='Jaarrekening', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Jaarrekening
										.select__item
											button.select__cta(type='button', data-index='5', data-value='LSF', data-label='Lening ter sanering financiën', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Lening ter sanering financiën

				.form__row
					.form__label
						label(form="orgaan").form__label Orgaan
							.text-fade dat het besluit nam
					.form__input
						select#orgaan.select(name='select')
							option(value='', disabled, selected, hidden) Selecteer een orgaan
							option(value='Gemeenteraad') Gemeenteraad
							option(value='College') College
							option(value='Burgemeester') Burgemeester
							option(value='OCMW') OCMW


				.form__row
					.form__label
						label.form__label(for='datepicker-besluit') Datum van het besluit
							.text-fade (niet van de beslissing)
					.form__input
						.date-range__datepicker.datepicker
							input#datepicker-besluit.input-field(type='text', placeholder='01-01-2016', name='datepicker-besluit', data-datepicker='', data-datepicker-min='01-01-2016')

				.form__row.u-spacer--tiny
					.form__label
						label.form__label(for='datepicker-besluit') URL
					.form__input
						.grid.grid--collapse.form-group
							.col--3-12
								input.input-field.input-field--block.input-field--disabled(type='text', placeholder='https://', name='URL-besluit-beschrijving')
							.col--9-12
								input.input-field.input-field--block(type='text', placeholder='wwww.besluiten.be/besluit', name='URL-besluit-URL')

				.js-accordion
					// toggle
					.form__row.u-spacer--tiny
						.accordion__content
							.form__label
								label.form__label(for='datepicker-besluit') URL
							.form__input
								.grid.grid--collapse.form-group
									.col--3-12
										input.input-field.input-field--block.input-field--disabled(type='text', placeholder='https://', name='URL-besluit-beschrijving')
									.col--9-12
										input.input-field.input-field--block(type='text', placeholder='wwww.besluiten.be/besluit', name='URL-besluit-URL')

						a.toggle.js-accordion__toggle.small.link--icon.u-spacer--bottom--small
							i.vi.vi-plus(aria-hidden='true')
							| Voeg nog een url toe




				.form__row
					.form__label
						label(for='bestanden') Upload de relevante bestanden
					.form__input
						.upload.js-upload(data-upload-t-close='Sluiten', data-upload-t-drop='Laat de bestanden hier los om op te laden', data-upload-allow-drop='')
							.upload__element
								input.upload__element__input(type='file', id='files1[1]', name='files1[1]', data-upload-multiple-caption='{count} files selected', multiple='', data-upload-error-message-filesize='Het bestand mag max :maxFsz zijn.', data-upload-max-size='20000000', accept='.pdf, .txt, .doc, .docx')
								label.upload__element__label(for='files1[1]')
									i.vi.vi-paperclip
									span Upload bestanden
									small Sleep de bestanden naar hier om toe te voegen

							.alert.alert--warning.u-hidden
								.alert__icon(aria-hidden='true')
								.alert__content
									.alert__title Upload de juiste bestanden om uw rapport te versturen.
						p.small PDF, txt, word files en geluids- en video bestanden kunnen opgeladen worden. De maximum bestandsgrootte is 1kb.

				.form__row
					.form__label
						label(for='document') Dossieromschrijving
					.form__input
						textarea#boodschap.textarea.textarea--block.component(name='boodschap', cols='40', rows='4', placeholder='Typ hier de omschrijving')

				.form__row
					.form__label
						label Voorbeeld radio buttons
					.form__input
						.grid.u-spacer--bottom--tiny
							.col--4-12
								label.radio
									input.radio__toggle(type='radio', name='radio-buttons', value='1')
									span
									| 1
							.col--4-12
								label.radio
									input.radio__toggle(type='radio', name='radio-buttons', value='2')
									span
									| 2
							.col--4-12
								label.radio
									input.radio__toggle(type='radio', name='radio-buttons', value='3')
									span
									| 3

				.form__row
					.form__label
						label Voorbeeld checkboxes

					.form__input
						label.checkbox.checkbox--block.checkbox--error
							input.checkbox__toggle(type='checkbox', name='checkbox', value='0')
							span
							span Lorem ipsum dolor sit amet.
							.form__error Dit is een foutmelding.
						label.checkbox.checkbox--block
							input.checkbox__toggle(type='checkbox', name='checkbox', value='1')
							span
							span Ik begrijp en accepteer de
								a(href='#') gebruiksvoorwaarden

				.form__row
					.form__label
						label Voorbeeld slider
					.form__input
						.range.js-range
							.range__from
								label.u-hidden-text(for='from')
								input#from.input-field.input-field--small.js-range__from(name='from', type='number', value='0', style="max-width: 6rem;")
							.range__to
								label.u-hidden-text(for='to')
								input#to.input-field.input-field--small.js-range__to(type='number', name='to', value='999', style="max-width: 6rem;")
							.range__slider-wrapper
								.js-range__slider

				.form__row
					.form__label
						label Voorbeeld input pill
					.form__input
						.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--tiny
							.js-select__input.js-select__input--small.js-select__input--multi.delete-me-toggle-search-pill(data-focus='')
								.pill.pill--closable
									span Example
									a.pill__close(href='#', data-value='6') verwijder optie
							.select__search-results.delete-me-search-results-pill.u-hidden
								.select__list-wrapper(role='listbox')
									section.select__list.select__list--checkboxes(data-records='')
										.select__item
											button.select__cta.select__cta--active(type='button', data-index='5', data-value='EXA', data-label='Example', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Example
										.select__item
											button.select__cta(type='button', data-index='5', data-value='AEXA', data-label='Another example', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Another example

				.form__row
					.form__label
						label Voorbeeld tabelvormige input

					.form__input
						table.data-table.data-table--tight.u-spacer--tb--small
							thead
								tr
									th Bedrag
									th Eenheid
									th Basis
									th Commentaar
							tbody
								tr
									td
										input.input-field.input-field--block.input-field--small(type="text", name="", placeholder="Bedrag")
									td
										input.input-field.input-field--block.input-field--small(type="text", name="", placeholder="Eenheid")
									td
										input.input-field.input-field--block.input-field--small(type="text", name="", placeholder="Basis")
									td
										input.input-field.input-field--block.input-field--small(type="text", name="", placeholder="Commentaar")
								tr
									td
										input.input-field.input-field--block.input-field--small(type="text", name="", placeholder="Bedrag")
									td
										input.input-field.input-field--block.input-field--small(type="text", name="", placeholder="Eenheid")
									td
										input.input-field.input-field--block.input-field--small(type="text", name="", placeholder="Basis")
									td
										input.input-field.input-field--block.input-field--small(type="text", name="", placeholder="Commentaar")

						a.toggle.js-accordion__toggle.small.link--icon.u-spacer--bottom--small
							i.vi.vi-plus(aria-hidden='true')
							| Voeg een record toe

						table.data-table.data-table--tight.u-spacer--top
							thead
								tr
									th Bedrag
									th Eenheid
									th Basis
									th Commentaar
									th
							tbody
								tr
									td Bedrag
									td Eenheid
									td Basis
									td Commentaar
									td
										a Bewerk
								tr
									td Bedrag
									td Eenheid
									td Basis
									td Commentaar
									td
										a Bewerk
								tr
									td Bedrag
									td Eenheid
									td Basis
									td Commentaar
									td
										a Bewerk
								tr
									td(colspan="5")
										.u-padding--tb--tiny
											h3.h6.u-spacer--small Nieuw record

											label(for='bedrag') Bedrag
											input.input-field.input-field--block.input-field--small.u-spacer--tiny(type="text", name="bedrag", placeholder="Bedrag")

											label(for='eenheid') Eenheid
											input.input-field.input-field--block.input-field--small.u-spacer--tiny(type="text", name="eenheid", placeholder="Eenheid")

											label(for='basis') Basis
											input.input-field.input-field--block.input-field--small.u-spacer--tiny(type="text", name="basis", placeholder="Basis")

											label(for='commentaar') Commentaar
											textarea.textarea.textarea--block.textarea--small.u-spacer--tiny(type="text", name="commentaar", placeholder="Commentaar")

											a.button.button--small.button--narrow Voeg toe
											a.button.button--small.button--narrow.button--alt Annuleer
								tr
									td(colspan="5")
										.u-padding--tb--tiny
											h3.h6.u-spacer--small Bewerk record

											label(for='bedrag') Bedrag
											input.input-field.input-field--block.input-field--small.u-spacer--tiny(type="text", name="bedrag", placeholder="Bedrag")

											label(for='eenheid') Eenheid
											input.input-field.input-field--block.input-field--small.u-spacer--tiny(type="text", name="eenheid", placeholder="Eenheid")

											label(for='basis') Basis
											input.input-field.input-field--block.input-field--small.u-spacer--tiny(type="text", name="basis", placeholder="Basis")

											label(for='commentaar') Commentaar
											textarea.textarea.textarea--block.textarea--small.u-spacer--tiny(type="text", name="commentaar", placeholder="Commentaar")

											a.button.button--small.button--narrow Sla wijzigingen op
											a.button.button--small.button--narrow.button--alt Annuleer

						a.toggle.js-accordion__toggle.small.link--icon.u-spacer--tb--small
							i.vi.vi-plus(aria-hidden='true')
							| Voeg een record toe
						.grid
							form.form.col--4-10.col--1-1--s(action='')
								.form__group.form__group--mobile-full-width.u-spacer--none
									.double-input.js-double-input
										.double-input__top-labels
											.double-input__top-label(data-double-input-label='1') Ik
											.double-input__top-label(data-double-input-label='2') Mijn partner
										label.double-input__label(for='di-1') Row label
										.double-input__inputs
											.double-input__input
												input#di-1.input-field.input-field--block(type='text', name='di-1', data-double-input-label-highlight='1', title='Row label. Ik', placeholder="placeholder")
											.double-input__input
												input#di-2.input-field.input-field--block(type='text', name='di-2', data-double-input-label-highlight='2', title='Row label. Mijn partner', placeholder="placeholder")
										label.double-input__label(for='di-3') Row label
										.double-input__inputs
											.double-input__input
												input#di-3.input-field.input-field--block(type='text', name='di-1', data-double-input-label-highlight='1', title='Row label Ik', placeholder="placeholder")
											.double-input__input
												input#di-4.input-field.input-field--block(type='text', name='di-2', data-double-input-label-highlight='2', title='Row label Mijn partner', placeholder="placeholder")
										label.double-input__label(for='di-3') Row label
										.double-input__inputs
											.double-input__input
												input#di-5.input-field.input-field--block(type='text', name='di-1', data-double-input-label-highlight='1', title='Row label. ik', placeholder="placeholder")
											.double-input__input
												input#di-6.input-field.input-field--block(type='text', name='di-2', data-double-input-label-highlight='2', title='Row label. Mijn partner', placeholder="placeholder")

			.u-padding--round--small.u-border--light--top.u-align-right
				a.button.button--narrow.button--alt.delete-me-toggle-new Annuleer
				a.button.button--narrow.button--alt Bewaar als concept

				a.button.button--disabled.delete-me-toggle-new.u-spacer--tiny Verstuur
					span.button__info.button__info--below naar Vlaamse Overheid

		.delete-me-bericht.col--5-12.col--9-12--m.col--12-12--s.u-hidden.container-flex--contain
			.u-padding--trl--small.u-border--light--bottom
				.grid
					.col--11-12
						.grid
							.col--12-12
								label.pill.pill--gray-light.u-spacer--tiny Dossiernummer: 2018.00301
								label.pill.pill--gray-light.u-spacer--tiny Reactietermijn: 30 dagen
							//- .col--10-12
								p.smaller Reactietermijn: 30 dagen
						h2.h3.u-spacer--none Opvraging in kader van een toezichtsdossier
						p.small.u-spacer--tiny Meerjarenplanwijziging 2014-2018
					.col--1-12.u-align-right.delete-me-toggle-bericht
						a.link--icon--close.delete-me-toggle-modal(href='#')
							span.u-visually-hidden Venster sluiten

			.container-flex--scroll.u-padding--round--small
				.js-accordion
					.grid.grid--collapse
						.col--6-12
							h3.h6 Agentschap Binnenlands Bestuur
						.col--5-12.u-align--right
							p.text-fade.smaller Aangekomen: 17 Sep 2018, 16:30
							p.smaller.text-fade Verzonden: 17 Sep 2018, 16:30
						.col--1-12.u-align--right
							span.js-accordion__toggle(type='button')
								i.vi.vi-expand.vi-u-s(aria-hidden='true')
								span.u-visually-hidden Toon / verberg bericht

					.accordion__content.u-spacer--top--small
						.u-spacer--tiny
							p.small Geachte Mijnheer,
								br
								| Geachte Mevrouw
								br
								br
								| Gelieve mijn bericht in de bijlage te vinden.
								br
								br
								| Hoogachtend
								| Agentschap Binnenlands Bestuur

						.upload__files.upload__files--has-files(data-upload-input-name='files2[4]')
							//- a.upload__files__close.link--icon--close(href='#')
								span.u-visually-hidden Sluiten
							.upload__files__container
								.upload__file(data-filename='doorsturenopvraging.pdf')
									p.upload__file__name
										| doorsturenopvraging.pdf
										span.upload__file__size (192 Bytes)
									small
										a.link--icon
											i.fa.fa-cloud-download
											| Download bestand

				.u-hr.u-spacer--tb--small

				.js-accordion
					.grid.grid--collapse
						.col--6-12
							h3.h6 Agentschap Binnenlands Bestuur
						.col--5-12.u-align--right
							p.text-fade.smaller Aangekomen: 17 Sep 2018, 16:30
							p.smaller.text-fade Verzonden: 17 Sep 2018, 16:30
						.col--1-12.u-align--right
							span.js-accordion__toggle(type='button')
								i.vi.vi-expand.vi-u-s(aria-hidden='true')
								span.u-visually-hidden Toon / verberg bericht

					.accordion__content.u-spacer--top--small
						.u-spacer--tiny
							p.small Geachte Mijnheer,
								br
								| Geachte Mevrouw
								br
								br
								| Gelieve mijn bericht in de bijlage te vinden.
								br
								br
								| Hoogachtend
								| Agentschap Binnenlands Bestuur

						.upload__files.upload__files--has-files(data-upload-input-name='files2[4]')
							//- a.upload__files__close.link--icon--close(href='#')
								span.u-visually-hidden Sluiten
							.upload__files__container
								.upload__file(data-filename='herinneringopvraging.pdf')
									p.upload__file__name
										| herinneringopvraging.pdf
										span.upload__file__size (192 Bytes)
									small
										a.link--icon
											i.fa.fa-cloud-download
											| Download bestand

				.u-hr.u-spacer--tb--small

				.js-accordion
					.grid.grid--collapse
						.col--6-12
							h3.h6 Vlavirgem &mdash; Joke Verschueren
						.col--5-12.u-align--right
							p.text-fade.smaller Aangekomen: 17 Sep 2018, 16:30
							p.smaller.text-fade Verzonden: 17 Sep 2018, 16:30
						.col--1-12.u-align--right
							span.js-accordion__toggle(type='button')
								i.vi.vi-expand.vi-u-s(aria-hidden='true')
								span.u-visually-hidden Toon / verberg bericht

					.accordion__content.u-spacer--top--small
						.upload__files.upload__files--has-files(data-upload-input-name='files2[4]')
							//- a.upload__files__close.link--icon--close(href='#')
								span.u-visually-hidden Sluiten
							.upload__files__container
								.upload__file(data-filename='doorsturenopvraging.pdf')
									p.upload__file__name
										| doorsturenopvraging.pdf
										span.upload__file__size (192 Bytes)
									small
										a.link--icon
											i.fa.fa-cloud-download
											| Download bestand

				.u-hr.u-spacer--tb--small

				.js-accordion
					.grid.grid--collapse
						.col--6-12
							h3.h6 Agentschap Binnenlands Bestuur
						.col--5-12.u-align--right
							p.text-fade.smaller Aangekomen: 17 Sep 2018, 16:30
							p.smaller.text-fade Verzonden: 17 Sep 2018, 16:30
						.col--1-12.u-align--right
							span.js-accordion__toggle(type='button')
								i.vi.vi-expand.vi-u-s(aria-hidden='true')
								span.u-visually-hidden Toon / verberg bericht

					.accordion__content.u-spacer--top--small
						.u-spacer--tiny
							p.small Geachte Mijnheer,
								br
								| Geachte Mevrouw
								br
								br
								| Gelieve mijn bericht in de bijlage te vinden.
								br
								br
								| Hoogachtend
								| Agentschap Binnenlands Bestuur

						.upload__files.upload__files--has-files(data-upload-input-name='files2[4]')
							//- a.upload__files__close.link--icon--close(href='#')
								span.u-visually-hidden Sluiten
							.upload__files__container
								.upload__file(data-filename='extraopvraging.pdf')
									p.upload__file__name
										| extraopvraging.pdf
										span.upload__file__size (192 Bytes)
									small
										a.link--icon
											i.fa.fa-cloud-download
											| Download bestand

				.u-hr.u-spacer--tb--small

				.js-accordion
					.grid.grid--collapse
						.col--6-12
							h3.h6 Vlavirgem &mdash; Joke Verschueren
						.col--5-12.u-align--right
							p.text-fade.smaller Aangekomen: 17 Sep 2018, 16:30
							p.smaller.text-fade Verzonden: 17 Sep 2018, 16:30
						.col--1-12.u-align--right
							span.js-accordion__toggle(type='button')
								i.vi.vi-expand.vi-u-s(aria-hidden='true')
								span.u-visually-hidden Toon / verberg bericht

					.accordion__content.u-spacer--top--small
						.upload__files.upload__files--has-files(data-upload-input-name='files2[4]')
							//- a.upload__files__close.link--icon--close(href='#')
								span.u-visually-hidden Sluiten
							.upload__files__container
								.upload__file(data-filename='extraantwoord.pdf')
									p.upload__file__name
										| extraantwoord.pdf
										span.upload__file__size (192 Bytes)
									small
										a.link--icon
											i.fa.fa-cloud-download
											| Download bestand

				.u-hr.u-spacer--tb--small

				.u-spacer--small
					.grid
						.col--6-12
							h3.h6 Agentschap Binnenlands Bestuur
						.col--6-12.u-align--right
							p.text-fade.smaller Verzonden: 17 Sep 2018, 16:30
							p.text-fade.smaller Aangekomen: 17 Sep 2018, 16:30

				.u-spacer--tiny
					p.small Geachte Mijnheer,
						br
						| Geachte Mevrouw
						br
						br
						| Gelieve mijn bericht in de bijlage te vinden.
						br
						br
						| Hoogachtend
						| Agentschap Binnenlands Bestuur

				.upload__files.upload__files--has-files(data-upload-input-name='files2[4]')
					//- a.upload__files__close.link--icon--close(href='#')
						span.u-visually-hidden Sluiten
					.upload__files__container
						.upload__file(data-filename='ontvangstkennisgeving.pdf')
							p.upload__file__name
								| ontvangstkennisgeving.pdf
								span.upload__file__size (192 Bytes)
							small
								a.link--icon
									i.fa.fa-cloud-download
									| Download bestand

				.js-accordion.u-spacer--small

					button(type='button').button.button--block.button--alt.delete-me-verberg-reply.delete-me-reply.js-accordion__toggle
						i.vi.vi-mail
						| Plaats reactie

					.accordion__content
						.u-hr.u-spacer--tb--small

						h3.h6.u-spacer--small Uw reactie
						.grid.u-spacer--tiny
							.col--2-12
								p.smaller
									strong Naar
							.col--10-12
								p.smaller Agentschap Binnenlands Bestuur
							.col--2-12
								p.smaller
									strong Van
							.col--10-12
								p.smaller Vlavirgem &mdash; Joke Verschueren

						p.smaller.u-spacer--tiny
							strong Uw antwoord als bijlage
						.form__row.u-spacer
							.form__input
								.upload.js-upload(data-upload-t-close='Sluiten', data-upload-t-drop='Laat de bestanden hier los om op te laden', data-upload-allow-drop='')

									.upload__element
										input.upload__element__input(type='file', id='files2[2]', name='files2[2]', data-upload-multiple-caption='{count} files selected', multiple='', data-upload-error-message-filesize='Het bestand mag max :maxFsz zijn.', data-upload-max-size='20000000', accept='.pdf, .txt, .doc, .docx')
										label.upload__element__label(for='files2[2]')
											i.vi.vi-paperclip
											span Upload bestanden
											small Sleep de bestanden naar hier om toe te voegen

									.alert.alert--warning.u-hidden
										.alert__icon(aria-hidden='true')
										.alert__content
											.alert__title Upload de juiste bestanden om uw rapport te versturen.

						button(type='button').button.button--narrow.button--small.delete-me-verberg-reply.js-accordion__toggle Verstuur bericht
						button(type='button').button.button--narrow.button--small.button--alt.js-accordion__toggle Bewaar concept
						button(type='button').button.button--narrow.button--small.button--alt.delete-me-verberg-reply.js-accordion__toggle Verwijder nieuw bericht

			.u-padding--round--small.u-border--light--top.u-align-right
				a.button.button--narrow.button--alt.delete-me-toggle-bericht.button--save Sluit venster
				//- !! are you sure? message unsaved!
				//- a.button.u-spacer--tiny.delete-me-toggle-nieuw-bericht Plaats reactie
					span.button__info.button__info--below naar ABB

	script.

		$('.delete-me-toggle-bericht').on('click', function(e) {
			$('.delete-me-switch-hide-data').toggleClass("u-hidden");
			$('tr.data-table__row-active').removeClass("data-table__row-active");
			$(this).parents("tr").toggleClass("data-table__row-active");
			$('.delete-me-melding-table').toggleClass("col--10-12").toggleClass("col--9-12--m").toggleClass("col--5-12").toggleClass("u-visible--tablet-landscape-up");
		});

		$('.delete-me-toggle-bericht').on('click', function(e) {
			$('.delete-me-bericht').toggleClass("u-hidden");
			$('.delete-me-nieuw-bericht').addClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-nieuw-bericht').on('click', function(e) {
			$('.delete-me-nieuw-bericht').removeClass("u-hidden");
			$('.delete-me-bericht').addClass("u-hidden");
			e.preventDefault();
		});

		$('.sluit-alle-berichten').on('click', function(e) {
			$('.delete-me-nieuw-bericht').addClass("u-hidden");
			$('.delete-me-bericht').addClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-search-besluittype, .delete-me-search-results-besluittype').on('click', function(e) {
			$('.delete-me-search-results-besluittype').toggleClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-search-pill').on('click', function(e) {
			$('.delete-me-search-results-pill').toggleClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-verberg-reply').on('click', function(e) {
			$('.delete-me-reply').toggleClass("u-hidden");
		});

		$('.js-accordion').on('click', function(e) {
			$(this).parents("tr").next().toggleClass("u-hidden");
		});

		$('.button--save').on('click', function(e) {
			$('.button--save').addClass("saved");
			setTimeout(function() {
				$('.button--save').removeClass('saved');
			} ,1000);
		});
