extends /templates/_templates/header-loket

block loketoverview
	nav.sidebar.sidebar--slide--wide.sidebar--slide.sidebar--slide--in(role='navigation')
		.sidebar__header
			.grid.grid--collapse
				.col--10-12.u-padding--trl--tiny
					h1.h3.sans-serif Menu
				.col--2-12.u-padding--trl--tiny.u-align-right.delete-me-toggle-sidebar--slide
					i.vi.vi-cross
					span.u-visually-hidden sluit navigatie

		.sidebar__content
			ul.side-navigation__group
				li.side-navigation__item
					a.active(href="/loket/loket-inbox.html") Inbox
				li.side-navigation__item
					a(href="/loket/loket-toezicht.html") Toezicht
				li.side-navigation__item
					a(href="/loket/loket-mandatenbeheer.html") Mandatenbeheer
				li.side-navigation__item
					a(href="/loket/loket-bbcdr.html") BBC DR
				li.side-navigation__item
					a(href="/loket/loket-organenbeheer.html") Organenbeheer
				li.side-navigation__item
					a(href="/loket/loket-leidinggevenden.html") Leidinggevenden
				li.side-navigation__item
					a(href="/loket/loket-personeelsaantallen.html") Personeelsaantallen
				li.side-navigation__item
					a(href="/loket/loket-administratievegegevens.html") Administratieve gegevens

		.sidebar__footer
			button.button.button--block.button--alt Persoonlijke gegevens
	.grid.grid--collapse
		.col--2-12.col--3-12--m.u-hidden--s
			.container-flex--contain
				.sidebar
					.sidebar__content
						nav.side-navigation
							.side-navigation__content
								ul.side-navigation__group
									li.side-navigation__item
										a.active.message(href="/loket/loket-inbox.html") Inbox
									li.side-navigation__item
										a(href="/loket/loket-toezicht.html") Toezicht
									li.side-navigation__item
										a(href="/loket/loket-mandatenbeheer.html") Mandatenbeheer
									li.side-navigation__item
										a(href="/loket/loket-bbcdr.html") BBC DR
									li.side-navigation__item
										a(href="/loket/loket-organenbeheer.html") Organenbeheer
									li.side-navigation__item
										a(href="/loket/loket-leidinggevenden.html") Leidinggevenden
									li.side-navigation__item
										a(href="/loket/loket-personeelsaantallen.html") Personeelsaantallen
									li.side-navigation__item
										a(href="/loket/loket-administratievegegevens.html") Administratieve gegevens

					.sidebar__footer
						button.button.button--block.button--alt Persoonlijke gegevens

		// TODO: LOGGING
		.col--10-12.col--9-12--m.col--1-1--s.delete-me-bbc-table.u-border--light--right
			.container-flex--contain
				.sidebar__toggle-menu.delete-me-toggle-sidebar--slide.u-visible-mobile.u-padding--tb--tiny.u-padding--rl--small.u-background--gray-lighter(type='button', title='Pas bestuur aan')
					h2.h2.sidebar__toggle-value Menu
				.u-border--light--bottom
					.grid.u-padding--round--small.mandate-edit-table__header
						.col--12-12.u-spacer--bottom
							h1.h3.u-spacer--none IN PROGRESS NOT FINISHED Toezicht Gemeente Hasselt

						.col--12-12
							ul.inline-list.inline-list--bordered.u-spacer--bottom--small
								li
									a(href="#") inbox
								li
									a(href="#") archief
								li
									a(href="#") concepten

						.col--6-12
							.input-field-icon-container--right
								input#input-field.input-field.input-field--block(type='text', placeholder='Zoek', style="min-width: 35rem;")
								i.input-field__icon.vi.vi-magnifier(aria-hidden='true')
						.col--6-12.u-align-right
							a.button.button--narrow.delete-me-toggle-new Stel nieuw bericht op

				.data-table__scroll
						table.data-table
							thead
								tr.data-table__header
									//th.data-table__header-title
										a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
											| Bestuur
											i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow.vi-u-180deg
									th.data-table__header-title
										a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
											| Documenttype
											// betere naam?
											i.data-table__header-title__sort-icon.vi.vi-u-link-after.vi-long-arrow.vi-u-180deg
									th.data-table__header-title
										a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
											| Type besluit
									th.data-table__header-title.delete-me-switch-hide-data
										a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
											| Documenten
									th.data-table__header-title
										a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
											|  Titel
									th.data-table__header-title.delete-me-switch-hide-data
										a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
											|  Status
									th.data-table__header-title.delete-me-switch-hide-data
										a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
											|  Afzender
									th.data-table__header-title
										a.data-table__header-title--sortable.data-table__header-title--sortable-active(href='#', title='sort')
											|  Datum
							tbody
								tr(datat-table-selectable, class="mandate-edit-data-active")
									// td Bestuur
									td Inzendplichtig besluit
									td Besluit van de gemeenteraad houdende de principiële beslissing tot samenvoeging
									td.delete-me-switch-hide-data
										a
											vi.vi.vi-news
											| Document name
										| ,
										a
											vi.vi.vi-document
											| Document name
									td Budget 2017, budgetwijziging 2017/2 en jaarrekening 2017
									td
										label.pill.pill--gray Voorbereiding
									td.delete-me-switch-hide-data Pieter Van Hastel
									td.delete-me-switch-hide-data 01-01-2017
								tr(datat-table-selectable, class="mandate-edit-data-active")
									// td Bestuur
									td Inzendplichtig besluit
									td Budget
									td.delete-me-switch-hide-data
										a
											vi.vi.vi-news
											| Document name
										| ,
										a
											vi.vi.vi-document
											| Document name
									td Budget 2017, budgetwijziging 2017/2 en jaarrekening 2017
									td
										label.pill.pill--primary-blue Naar toezicht
									td.delete-me-switch-hide-data Pieter Van Hastel
									td.delete-me-switch-hide-data 01-01-2017
								tr(datat-table-selectable, class="mandate-edit-data-active")
									// td Bestuur
									td Inzendplichtig besluit
									td Jaarrekening
									td.delete-me-switch-hide-data
										a
											vi.vi.vi-news
											| Document name
										| ,
										a
											vi.vi.vi-document
											| Document name
									td Budget 2017, budgetwijziging 2017/2 en jaarrekening 2017 met een iets langere naam
									td
										label.pill.pill--primary-blue Naar toezicht
									td.delete-me-switch-hide-data Pieter Van Hastel
									td.delete-me-switch-hide-data 01-01-2017

		.delete-me-bbc-new.col--4-12.u-hidden.container-flex--contain
			.u-padding--trl--small.u-border--light--bottom
				.grid
					.col--9-12
						h2.h3 Verstuur nieuw document
					.col--3-12.u-align-right.delete-me-toggle-new
						a.link--icon--close(href='')
							span.u-visually-hidden Venster sluiten

			.container-flex--scroll.u-padding--round--small
				.form__row
					.form__label
						label(for='titel') Titel
					.form__input
						input#titel.toggle-mandate-new-info.input-field.input-field--block.u-spacer--tiny(name='titel', placeholder='Titel', data-pattern='iban')

				.form__row
					.form__label
						label(for='document') Kies document type
					.form__input
						.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
							.input-field-icon-container--right.input-field-icon-container--block
								input#document.toggle-search-document.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek document type' autofocus, onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
								i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
								span#selectFormInputDescriptionselecterken.u-visually-hidden
									| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

							.select__search-results.delete-me-search-results-document.u-hidden
								.select__list-wrapper(role='listbox')
									section.select__list(data-records='')
										.select__item
											button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Inzendingsplichtig besluit
										.select__item.u-border--light--bottom
											button.select__cta(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Besluitenlijst
					.form__label
						label(for='besluit') Type besluit
					.form__input
						.temporary-select__wrapper.temporary-select__wrapper--block.u-spacer--bottom--small(data-content='', aria-labelledby='', data-show='true', aria-hidden='false')
							.input-field-icon-container--right.input-field-icon-container--block
								input#besluit.delete-me-toggle-search-besluit.input-field.input-field--block(type='text', autocomplete='off', data-input='', data-focus='', tabindex='-1', aria-describedby='selectFormInputDescriptionselecterken', aria-haspopup='listbox"', placeholder='Zoek document type' autofocus, onfocus="var temp_value=this.value; this.value=''; this.value=temp_value")
								i.input-field__icon.vi.vi-arrow.vi-u-90deg(aria-hidden='true')
								span#selectFormInputDescriptionselecterken.u-visually-hidden
									| U bevindt zich in de zoekfunctie van een dropdown menu in een formulier. Navigeer door de opties met ctrl + alt + pijltjes en selecteer met enter. Gebruik escape om de dropdown te sluiten.

							.select__search-results.delete-me-search-results-besluit.u-hidden
								.select__list-wrapper(role='listbox')
									section.select__list(data-records='')
										.select__item.u-border--light--bottom
											button.select__cta.select__cta--active(type='button', data-index='5', data-value='ANT', data-label='Antwerpen', data-record='', data-focus='', role='option', tabindex='-1', data-selected='true')
												a.select__cta__title Budget

				.form__row
					.form__label
						label(for='boodschap') Boodschap
					.form__input
						textarea#boodschap.textarea.textarea--block.component(name='boodschap', cols='40', rows='4', placeholder='Geef een korte boodschap mee')


				.form__row
					.form__label
						label(for='bestanden') Voeg bestanden toe
					.form__input
						.upload.js-upload(data-upload-t-close='Sluiten', data-upload-t-drop='Laat de bijlage hier los om op te laden', data-upload-allow-drop='')
							.upload__element
								input.upload__element__input(type='file', id='files2[0]', name='files2[0]', data-upload-multiple-caption='{count} files selected', multiple='', data-upload-error-message-filesize='Het bestand mag max :maxFsz zijn.', data-upload-max-size='20000000', accept='.jpg, .pdf, .txt')
								label.upload__element__label(for='files2[0]')
									i.vi.vi-paperclip
									span Bijlagen toevoegen
									small Sleep de bijlagen naar hier om toe te voegen


			.u-padding--round--small.u-border--light--top.u-align-right
				a.button.button--narrow.button--alt.delete-me-toggle-new Annuleer
				a.button.button--narrow.button--alt.delete-me-toggle-new Bewaar als concept
				a.button.button--narrow.delete-me-toggle-new Verstuur
					span.button__info.button__info--below naar Vlaamse Overheid



	script.
		$('.delete-me-toggle-new').on('click', function(e) {
			$('.delete-me-bbc-new').toggleClass("u-hidden");
			$('.delete-me-bbc-table').toggleClass("col--10-12").toggleClass("col--6-12");
			$('.delete-me-switch-hide-data').toggleClass("u-hidden");
			e.preventDefault();
		});

		$('.toggle-search-document, .delete-me-search-results-document').on('click', function(e) {
			$('.delete-me-search-results-document').toggleClass("u-hidden");
			e.preventDefault();
		});

		$('.delete-me-toggle-search-besluit, .delete-me-search-results-besluit').on('click', function(e) {
			$('.delete-me-search-results-besluit').toggleClass("u-hidden");
			e.preventDefault();
		});



