form.form(action='')
  .date-range
    .date-range__group
      label.date-range__label(for='datepicker-from') from
      .date-range__datepicker.datepicker
        input#datepicker-from.input-field.input-field--block(type='text', placeholder='01-01-2016', name='datepicker-from', data-datepicker='', data-datepicker-min='01-01-2016', data-datepicker-max='01-01-2017')
    .date-range__group
      label.date-range__label(for='datepicker-to') to
      .date-range__datepicker.datepicker
        input#datepicker-to.input-field.input-field--block(type='text', placeholder='01-01-2017', name='datepicker-to', data-datepicker='', data-datepicker-min='01-01-2016', data-datepicker-max='01-01-2018')
