.form__label
  label(for='iban-pattern') IBAN:
.form__input
  input#iban-pattern.input-field.input-field--block(name='iban-pattern', placeholder='BE123456789090', data-pattern='iban')

|
br

.form__label
  label(for='rrn-pattern') Rijksregisternummer:
.form__input
  input#rrn-pattern.input-field.input-field--block(name='rrn-pattern', placeholder='12.34.56-123.45', data-pattern='rrn')
