<div class="search search--inline">
  <label class="search__label" for="search-inline">Wat?</label>
  <input class="input-field search__input" type="search" name="search-inline" id="search-inline" value="" placeholder="Zoek een organisatie" title="Wat wil u zoeken?" required/>
  <button class="button search__submit" type="submit" aria-label="zoekterm">Zoeken</button>
</div>
