.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the left small
    .input-field-icon-container--left
        input#input-field.input-field.input-field--small.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the left normal
    .input-field-icon-container--left
        input#input-field.input-field.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the left large
    .input-field-icon-container--left
        input#input-field.input-field--large.input-field.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the right small
    .input-field-icon-container--right
        input#input-field.input-field.input-field--small.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the right normal
    .input-field-icon-container--right
        input#input-field.input-field.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the right large
    .input-field-icon-container--right
        input#input-field.input-field--large.input-field.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')





.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the left small
    .input-field-icon-container--left.input-field-icon-container--block
        input#input-field.input-field.input-field--small.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the left normal
    .input-field-icon-container--left.input-field-icon-container--block
        input#input-field.input-field.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the left large
    .input-field-icon-container--left.input-field-icon-container--block
        input#input-field.input-field--large.input-field.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the right small
    .input-field-icon-container--right.input-field-icon-container--block
        input#input-field.input-field.input-field--small.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the right normal
    .input-field-icon-container--right.input-field-icon-container--block
        input#input-field.input-field.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')

.u-spacer--large
    label.form__label.form__label--block(for='select-remote-custom') Icon on the right large
    .input-field-icon-container--right.input-field-icon-container--block
        input#input-field.input-field--large.input-field.input-field--block(type='text', placeholder='Search')
        i.input-field__icon.vi.vi-magnifier(aria-hidden='true')
