ul.inline-list
  li
    span This is a span in an inline list
  li This is a link in an inline list
  li
    a.link--icon--caret(href='#') This is a link in an inline list
  li
    a.link--icon--caret(href='#') This is a link in an inline list

br

ul.inline-list.inline-list--bordered
  li
    span This is a span in an inline list
  li This is a link in an inline list
  li
    a.link--icon--caret(href='#') This is a link in an inline list
  li
    a.link--icon--caret(href='#') This is a link in an inline list
