.grid.grid--is-stacked.js-equal-height-container
  // component
  .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
    .info-tile.info-tile--m.info-tile--center.info-tile--v-center.js-equal-height
      div
        .info-tile__header
          i.info-tile__header__icon.vi.vi-tag(aria-hidden='true')
        .info-tile__content
          p
            | beschrijvende text dat ook een
            strong highlight
            |  kan bevatten nibh ultricies ut justo odio.
        footer.info-tile__footer
          a.button.button--block(href='#') standaard button
  // end component
  // component
  .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
    .info-tile.info-tile--m.info-tile--center.info-tile--v-center.js-equal-height
      div
        header.info-tile__header
          i.info-tile__header__icon.vi.vi-tag
          .info-tile__header__wrapper
            h3.info-tile__header__title H4 mogelijke titel
        .info-tile__content
          p
            | beschrijvende text id dolor id nibh ultricies vehicula ut id elitc ras justo odio.
        footer.info-tile__footer
          p
            a.link--icon.link--icon--caret(href='#') textlink
  // end component
  // component
  .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
    .info-tile.info-tile--m.info-tile--center.info-tile--v-center.js-equal-height
      div
        header.info-tile__header
          .info-tile__header__wrapper
            h3.info-tile__header__title mogelijke titel
            p.info-tile__header__subtitle subtitel onderaan
        .info-tile__content
          p
            | beschrijvende text id dolor id nibh ultricies vehicula ut id elitc ras justo odio.
  // end component
  // component
  .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
    .info-tile.info-tile--m.info-tile--center.info-tile--v-center.info-tile--alt.js-equal-height
      div
        header.info-tile__header
          .info-tile__header__icon.badge.badge--white.badge--border.badge--l.badge--icon
            i.badge__icon.vi.vi-tag(aria-hidden='true')
          .info-tile__header__wrapper
            h3.info-tile__header__title mogelijke titel
        .info-tile__content
          p
            | beschrijvende text id dolor id nibh ultricies vehicula ut id elitc ras justo odio.
  // end component
