.grid
  .col--6-12.col--12-12--s
    .document-miniature
      .document-miniature__type
        span.document-miniature__type__text DOCX
      .document-miniature__content
        a.document-miniature__title(href='#', data-clamp='2') Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus!
        .document-miniature__metadata PDF - 580 kB
  .col--6-12.col--12-12--s
    .document-miniature
      .document-miniature__type
        span.document-miniature__type__text JPEG
      .document-miniature__content
        a.document-miniature__title(href='#', data-clamp='2')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae deserunt, voluptatum praesentium quis ratione pariatur dolorem maxime, facere rerum porro libero suscipit officia blanditiis, magni laboriosam quae vel sit commodi.
        .document-miniature__metadata PDF - 1.4 MB
// end component
