.description-data.description-data--bordered
  .grid.grid--is-stacked
    .col--1-3.col--1-3--s.col--1-2--xs
      .description-data__icon-wrapper
        i.description-data__icon.vi.vi-pin(aria-hidden='')
        .description-data__value(itemprop='hiringOrganization', itemscope='', itemtype='http://schema.org/Organization')
          span(itemprop='name') De Vlaamse Maatschappij NV
          br
          span(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
            span(itemprop='addressLocality') Brussel
    .col--1-3.col--1-3--s.col--1-2--xs
      .description-data__icon-wrapper
        i.description-data__icon.vi.vi-clock(aria-hidden='')
        .description-data__value
          | Contractueel onbepaalde duur
          br
          span(itemprop='employmentType') Voltijds
    .col--1-3.col--1-3--s.col--1-2--xs
      .description-data__icon-wrapper
        i.description-data__icon.vi.vi-graduate(aria-hidden='')
        .description-data__value(itemprop='educationRequirements') Niveau A (Universitair diploma)
// end component
