header.content-header.content-header--large.u-spacer--large
    .content-header__wrapper
        picture.content-header__bg
            img(sizes='100vw', src='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg', srcset='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_mobile_alt/header.jpg 320w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_narrow/header.jpg 1024w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg 1600w', alt='', title='')
        .layout.layout--wide
            .content-header__content
                .content-header__logo-wrapper
                    h1.content-header__entity-logo
                        span.content-header__entity-logo__prefix Instituut
                        span.content-header__entity-logo__title Naam van instituut

header.content-header.content-header--large.content-header--alt.u-spacer--large
    .content-header__wrapper
        picture.content-header__bg
            img(sizes='100vw', src='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg', srcset='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_mobile_alt/header.jpg 320w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_narrow/header.jpg 1024w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg 1600w', alt='', title='')
        .layout.layout--wide
            .content-header__content
                .content-header__logo-wrapper
                    h1.content-header__entity-logo.content-header__entity-logo
                        span.content-header__entity-logo__prefix Instituut
                        span.content-header__entity-logo__title Naam van instituut

header.content-header.content-header--large.u-spacer--large
    .content-header__wrapper
        picture.content-header__bg
            img(sizes='100vw', src='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg', srcset='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_mobile_alt/header.jpg 320w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_narrow/header.jpg 1024w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg 1600w', alt='', title='')
        .layout.layout--wide
            .content-header__content
                .content-header__logo-wrapper
                    .content-header__entity-logo.content-header__entity-logo--small
                        span.content-header__entity-logo__prefix Instituut
                        span.content-header__entity-logo__title Naam van instituut
                h1.content-header__title
                    span.content-header__title__content Themapagina titel

header.content-header.content-header--large.content-header--has-context.u-spacer--large
    .content-header__wrapper
        picture.content-header__bg
            img(sizes='100vw', src='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg', srcset='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_mobile_alt/header.jpg 320w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_narrow/header.jpg 1024w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg 1600w', alt='', title='')
        .layout.layout--wide
            .content-header__content
                .content-header__logo-wrapper
                    a.content-header__entity-logo.content-header__entity-logo--small(href='#')
                        span.content-header__entity-logo__prefix Instituut
                        span.content-header__entity-logo__title Naam van instituut
                .content-header__context.content-header__context--has-link
                    a.content-header__context__link(href='') Thema
                .content-header__title.content-header__title--has-link(itemprop='name')
                    a.content-header__title__link(href='') Portal domein

header.content-header.content-header--large.content-header--alt.u-spacer--large
    .content-header__wrapper
        picture.content-header__bg
            img(sizes='100vw', src='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg', srcset='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_mobile_alt/header.jpg 320w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_narrow/header.jpg 1024w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg 1600w', alt='', title='')
        .layout.layout--wide
            .content-header__content
                .content-header__logo-wrapper
                    .content-header__entity-logo.content-header__entity-logo--small
                        span.content-header__entity-logo__prefix Instituut
                        span.content-header__entity-logo__title Naam van instituut
                h1.content-header__title
                    span.content-header__title__content Themapagina titel

header.content-header.content-header--large.content-header--alt.content-header--has-actions.content-header--has-context.u-spacer--large
    .content-header__wrapper
        picture.content-header__bg
            img(sizes='100vw', src='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg', srcset='//www.vlaanderen.be/sites/default/files/ip_acm/page_banner_mobile_alt/header.jpg 320w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_narrow/header.jpg 1024w, //www.vlaanderen.be/sites/default/files/ip_acm/page_banner_wide_alt/header.jpg 1600w', alt='', title='')
        .layout.layout--wide
            .content-header__actions
                ul
                    li.content-header__action Koen Peeters
                    li.content-header__action
                        button.link Meld af
            .content-header__content
                .content-header__logo-wrapper
                    a.content-header__entity-logo.content-header__entity-logo--small(href='#')
                        span.content-header__entity-logo__prefix Instituut
                        span.content-header__entity-logo__title Naam van instituut
                .content-header__context.content-header__context--has-link
                    a.content-header__context__link(href='') Thema
                .content-header__title.content-header__title--has-link(itemprop='name')
                    a.content-header__title__link(href='') Portal domein
