.alert.alert--error
  .alert__icon(aria-hidden='true')
  .alert__content
    .alert__title Alert met foutmelding indicatie
    .alert__message
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt exercitationem et aspernatur. Perferendis, deleniti similique blanditiis ab eos eligendi sint.
