.alert.alert--small
    .alert__message
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

.alert.alert--small
  .alert__content
    .alert__title Standaard alert
    .alert__message
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

.alert.alert--small
  .alert__icon(aria-hidden='true')
  .alert__content
    .alert__title Standaard alert
    .alert__message
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

.alert.alert--small.alert--success
  .alert__icon(aria-hidden='true')
  .alert__content
    .alert__title Alert met succes indicatie
    .alert__message
      p
        | Het formulier werd met succes verstuurd. We nemen zo snel mogelijk contact met U op.

.alert.alert--small.alert--warning
  .alert__icon(aria-hidden='true')
  .alert__content
    .alert__title Alert met waarschuwings indicatie
    .alert__message
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut earum perspiciatis voluptatem in labore repudiandae!


.alert.alert--small.alert--error
  .alert__icon(aria-hidden='true')
  .alert__content
    .alert__title Alert met foutmelding indicatie
    .alert__message
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt exercitationem et aspernatur. Perferendis, deleniti similique blanditiis ab eos eligendi sint.
