form.form(action='')
  label.radio.radio--large
    input.radio__toggle(type='radio', name='radio-buttons', value='1')
    span
    |  eerste optie
  label.radio.radio--large
    input.radio__toggle(type='radio', name='radio-buttons', value='2')
    span
    |  tweede optie
  label.radio.radio--large
    input.radio__toggle(type='radio', name='radio-buttons', value='3')
    span
    |  derde optie
