.grid
    .col--3-12
        .u-background--gray
            p u-background--gray
        br
    .col--3-12
        .u-background--gray-light
            p u-background--gray-light
        br
    .col--3-12
        .u-background--gray-lighter
            p u-background--gray-lighter
        br
    .col--3-12
        .u-background--gray-lighter
            p u-background--gray-lightest
        br
