.grid
    .col--4-12
        .u-border--round.u-background--gray-lighter
            p u-border--round
        br

    .col--4-12
        .u-border--top.u-background--gray-lighter
            p u-border--top
        br

    .col--4-12
        .u-border--bottom.u-background--gray-lighter
            p u-border--bottom
        br

    .col--4-12
        .u-border--left.u-background--gray-lighter
            p u-border--left
        br

    .col--4-12
        .u-border--right.u-background--gray-lighter
            p u-border--right

    .col--12-12
        br

    .col--4-12
        .u-border--light--round.u-background--gray-lighter
            p u-border--round
        br

    .col--4-12
        .u-border--light--top.u-background--gray-lighter
            p u-border--top
        br

    .col--4-12
        .u-border--light--bottom.u-background--gray-lighter
            p u-border--bottom
        br

    .col--4-12
        .u-border--light--left.u-background--gray-lighter
            p u-border--left
        br

    .col--4-12
        .u-border--light--right.u-background--gray-lighter
            p u-border--right

    .col--12-12
        br

    .col--4-12
        .u-border--medium--round.u-background--gray-lighter
            p u-border--round
        br

    .col--4-12
        .u-border--medium--top.u-background--gray-lighter
            p u-border--top
        br

    .col--4-12
        .u-border--medium--bottom.u-background--gray-lighter
            p u-border--bottom
        br

    .col--4-12
        .u-border--medium--left.u-background--gray-lighter
            p u-border--left
        br

    .col--4-12
        .u-border--medium--right.u-background--gray-lighter
            p u-border--right

    .col--12-12
        br

    .col--4-12
        .u-border--fat--round.u-background--gray-lighter
            p u-border--round
        br

    .col--4-12
        .u-border--fat--top.u-background--gray-lighter
            p u-border--top
        br

    .col--4-12
        .u-border--fat--bottom.u-background--gray-lighter
            p u-border--bottom
        br

    .col--4-12
        .u-border--fat--left.u-background--gray-lighter
            p u-border--left
        br

    .col--4-12
        .u-border--fat--right.u-background--gray-lighter
            p u-border--right
