br
h2.h2 Margin top

.grid
    .col--4-12
        .u-background--gray-lighter
            span.u-spacer--top.u-border--round.u-display--inline-block .u-spacer--top
        br
    .col--4-12
        .u-background--gray-lighter
            span.u-spacer--top--small.u-border--round.u-display--inline-block .u-spacer--top--small
        br
    .col--4-12
        .u-background--gray-lighter
            span.u-spacer--top--tiny.u-border--round.u-display--inline-block .u-spacer--top--tiny
        br
    .col--4-12
        .u-background--gray-lighter
            span.u-spacer--top--large.u-border--round.u-display--inline-block .u-spacer--top--large
        br
    .col--4-12
        .u-background--gray-lighter
            span.u-spacer--top--none.u-border--round.u-display--inline-block .u-spacer--top--none
        br


br
h2.h2 Margin right

.grid
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--right.u-border--round.u-display--inline-block .u-spacer--right
        br
        br
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--right--small.u-border--round.u-display--inline-block .u-spacer--right--small
        br
        br
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--right--tiny.u-border--round.u-display--inline-block .u-spacer--right--tiny
        br
        br
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--right--large.u-border--round.u-display--inline-block .u-spacer--right--large
        br
        br
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--right--none.u-border--round.u-display--inline-block .u-spacer--right--none
        br
        br


br
h2.h2 Margin bottom

.grid
    .col--4-12
        div.u-background--gray-lighter
            span.u-spacer--bottom.u-border--round.u-display--inline-block .u-spacer--bottom
        br
    .col--4-12
        div.u-background--gray-lighter
            span.u-spacer--bottom--small.u-border--round.u-display--inline-block .u-spacer--bottom--small
        br
    .col--4-12
        div.u-background--gray-lighter
            span.u-spacer--bottom--tiny.u-border--round.u-display--inline-block .u-spacer--bottom--tiny
        br
    .col--4-12
        div.u-background--gray-lighter
            span.u-spacer--bottom--large.u-border--round.u-display--inline-block .u-spacer--bottom--large
        br
    .col--4-12
        div.u-background--gray-lighter
            span.u-spacer--bottom--none.u-border--round.u-display--inline-block .u-spacer--bottom--none
        br


br
h2.h2 Margin left

.grid
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--left.u-border--round.u-display--inline-block .u-spacer--left
        br
        br
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--left--small.u-border--round.u-display--inline-block .u-spacer--left--small
        br
        br
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--left--tiny.u-border--round.u-display--inline-block .u-spacer--left--tiny
        br
        br
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--left--large.u-border--round.u-display--inline-block .u-spacer--left--large
        br
        br
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--left--none.u-border--round.u-display--inline-block .u-spacer--left--none
        br
        br


br
h2.h2 Margin round all sides

.grid
    .col--4-12
        div.u-background--gray-lighter
            span.u-spacer--round.u-border--round.u-display--inline-block .u-spacer--round
        br
    .col--4-12
        div.u-background--gray-lighter
            span.u-spacer--round--small.u-border--round.u-display--inline-block .u-spacer--round--small
        br
    .col--4-12
        div.u-background--gray-lighter
            span.u-spacer--round--tiny.u-border--round.u-display--inline-block .u-spacer--round--tiny
        br
    .col--4-12
        div.u-background--gray-lighter
            span.u-spacer--round--large.u-border--round.u-display--inline-block .u-spacer--round--tiny
        br
    .col--4-12
        span.u-background--gray-lighter
            span.u-spacer--none.u-border--round.u-display--inline-block .u-spacer--none
        br
