h2.h2 Spacing top
br

.grid
    .col--4-12
        span.u-background--gray-lighter.u-padding--top u-padding--top
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--top--small u-padding--top--small
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--top--tiny u-padding--top--tiny
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--top--large u-padding--top--large
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--top--none u-padding--top--none
        br
        br
        br

br
h2.h2 Spacing right
br

.grid
    .col--4-12
        span.u-background--gray-lighter.u-padding--right u-padding--right
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--right--small u-padding--right--small
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--right--tiny u-padding--right--tiny
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--right--large u-padding--right--large
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--right--none u-padding--right--none
        br
        br
        br


br
h2.h2 Spacing bottom
br

.grid
    .col--4-12
        span.u-background--gray-lighter.u-padding--bottom u-padding--bottom
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--bottom--small u-padding--bottom--small
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--bottom--tiny u-padding--bottom--tiny
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--bottom--large u-padding--bottom--large
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--bottom--none u-padding--bottom--none
        br
        br
        br


br
h2.h2 Spacing left
br

.grid
    .col--4-12
        span.u-background--gray-lighter.u-padding--left u-padding--left
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--left--small u-padding--left--small
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--left--tiny u-padding--left--tiny
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--left--large u-padding--left--large
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--left--none u-padding--left--none
        br
        br
        br


br
h2.h2 Spacing round all sides
br

.grid
    .col--4-12
        span.u-background--gray-lighter.u-padding--round u-padding--round
        br
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--round--small u-padding--round--small
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--round--tiny u-padding--round--tiny
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--round--large u-padding--round--large
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--round--none u-padding--round--none
        br
        br
        br

br
h2.h2 Spacing trl
br

.grid
    .col--4-12
        span.u-background--gray-lighter.u-padding--trl u-padding--trl
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--trl--small u-padding--trl--small
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--trl--tiny u-padding--trl--tiny
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--trl--large u-padding--trl--large
        br
        br
        br

br
h2.h2 Spacing right and left
br

.grid
    .col--4-12
        span.u-background--gray-lighter.u-padding--rl u-padding--rl
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--rl--small u-padding--rl--small
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--rl--tiny u-padding--rl--tiny
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--rl--large u-padding--rl--large
        br
        br
        br

br
h2.h2 Spacing top and bottom
br

.grid
    .col--4-12
        span.u-background--gray-lighter.u-padding--tb u-padding--tb
        br
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--tb--small u-padding--tb--small
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--tb--tiny u-padding--tb--tiny
        br
        br
        br

    .col--4-12
        span.u-background--gray-lighter.u-padding--tb--large u-padding--tb--large
        br
        br
        br

