.temporary-header
  .grid
    .col--8-12.col--1-1-s
      .temporary-header__logo
      .temporary-header__vlaanderen Vlaanderen
      .temporary-header__name.u-hidden-mobile
        p url.com
    .col--4-12.u-align-right.u-hidden-mobile
      .temporary-header__info
        p Demo
