nav.breadcrumb(data-show-menu-help='Toon navigatie menu', data-hide-menu-help='Verberg navigatie menu', data-expand-breadcrumbs-help='Expand hidden breadcrumbs', data-label-close='Sluiten')
    span.u-visually-hidden U bent hier:
    ul
        li.breadcrumb-element(data-navigation-depth='0')
            a.breadcrumb-element__text(href='/mandaten/mandatendatabank-overview.html', target='_self') Home
        li.breadcrumb-element
            span.breadcrumb-element__text(tabindex='0') Mandatendatabank
