extends /templates/_templates/header-loket-no-vo-header

block loketoverview
	h1.h1 Mockups loket &mdash; communicatie toezicht V1

	ol.numbered-list

		li.u-spacer--bottom--large
			.grid
				.col--9-12
					h2.h4 Kaartje in overzicht
					img(src="../images/lblod-communicatie-screenshots-v1/lblod-loket-communicatie-0-overzicht-a.png" class="u-border--round")

		li.u-spacer--bottom--large
			.grid
				.col--9-12
					h2.h4 Overzichtstabel met status
					p Aantekening: Verwijderen nodig? Archiveren nodig?
					img(src="../images/lblod-communicatie-screenshots-v1/lblod-loket-communicatie-1-0-berichten.png" class="u-border--round")

		li.u-spacer--bottom--large
			.grid
				.col--9-12
					h2.h4 Concept
					img(src="../images/lblod-communicatie-screenshots-v1/lblod-loket-communicatie-1-1-berichten-nieuw.png" class="u-border--round")

		li.u-spacer--bottom--large
			.grid
				.col--9-12
					h2.h4 Gewoon bericht
					img(src="../images/lblod-communicatie-screenshots-v1/lblod-loket-communicatie-1-2-berichten-verstuurd.png" class="u-border--round")

		li.u-spacer--bottom--large
			.grid
				.col--9-12
					h2.h4 Thread
					img(src="../images/lblod-communicatie-screenshots-v1/lblod-loket-communicatie-1-3-berichten-thread.png" class="u-border--round")
