extends /templates/_templates/header-loket-no-vo-header

block loketoverview
	h1.h1 Mockups loket &mdash; klacht V1

	ol.numbered-list

		li.u-spacer--bottom--large
			.grid
				.col--9-12
					h2.h4 Formulier vlaanderen.be - mail
					img(src="../images/lblod-klachten-screenshots-v1/lblod-lblod-klachten-formulier-0-0-a.png" class="u-border--round")

		li.u-spacer--bottom--large
			.grid
				.col--9-12
					h2.h4 Formulier vlaanderen.be - post
					p Aantekening: Verwijderen nodig? Archiveren nodig?
					img(src="../images/lblod-klachten-screenshots-v1/lblod-lblod-klachten-formulier-0-0-b.png" class="u-border--round")

		li.u-spacer--bottom--large
			.grid
				.col--9-12
					h2.h4 Formulier vlaanderen.be - type klacht
					img(src="../images/lblod-klachten-screenshots-v1/lblod-lblod-klachten-formulier-0-1.png" class="u-border--round")

		li.u-spacer--bottom--large
			.grid
				.col--9-12
					h2.h4 Mailbox van burger - bericht ABB
					img(src="../images/lblod-klachten-screenshots-v1/lblod-lblod-klachten-formulier-0-2-verstuurd.png" class="u-border--round")
