<section class="wizard" id="test-wizard" data-wizard>
  <header class="wizard__heading">
    <hgroup>
      <h1 class="wizard__title">Wizard titel</h1>
      <h2 class="wizard__subtitle">"You're a wizard, Harry!"</h2>
    </hgroup>
  </header>
  <div class="progress-bar" role="progressbar">
    <div class="progress-bar__step progress-bar__step--active">
      <a href="#" class="progress-bar__bullet" data-toggle="popover" aria-label="Stap 1: Gegevens" data-content="Gegevens" data-placement="top" data-wizard-step></a>
    </div>
    <div class="progress-bar__step">
      <a href="#" class="progress-bar__bullet" data-toggle="popover" aria-label="Stap 2: Meer gegevens" data-content="Meer gegevens" data-placement="top" data-wizard-step></a>
    </div>
    <div class="progress-bar__step">
      <a href="#" class="progress-bar__bullet" data-toggle="popover" aria-label="Stap 3: Nog meer gegevens" data-content="Nog meer gegevens" data-placement="top" data-wizard-step></a>
    </div>
    <div class="progress-bar__step">
      <a href="#" class="progress-bar__bullet" data-toggle="popover" aria-label="Stap 4: En nog meer gegevens" data-content="En nog meer ggevens" data-placement="top" data-wizard-step></a>
    </div>
  </div>

  <div class="wizard__panes u-spacer">
    <div class="wizard__pane">
      <h3 class="h3">Uw gegevens</h3>
      <div class="form__row">
        <div class="form__label">
          <label class="label" for="">Naam</label>
        </div>
        <input class="input-field input-field--block" type="text" />
      </div>
      <div class="form__row">
        <div class="form__label">
          <label class="label" for="">Adres</label>
        </div>
        <input class="input-field input-field--block" type="text" />
      </div>
      <div class="form__row">
        <div class="form__label">
          <label class="label" for="">Telefoon</label>
        </div>
        <input class="input-field input-field--block" type="text" />
      </div>
      <div class="wizard__cta-wrapper">
        <button type="button" class="button wizard__cta" data-wizard-next>Volgende</button>
      </div>
    </div>

    <div class="wizard__pane">
      <h3 class="h3">Meer gegevens</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius velit tempore officia, doloremque qui voluptatibus dolor enim non, minima saepe reiciendis ex ratione natus accusantium nesciunt neque, cum veniam voluptatum deserunt ipsam. Est, nesciunt tenetur sit asperiores temporibus, deleniti, molestias distinctio vel suscipit maiores illum expedita at. Sapiente quam, suscipit. Nam natus nostrum repellat debitis rerum reprehenderit error odio quam asperiores numquam eaque accusamus, quaerat, obcaecati, harum doloribus quasi dolores molestiae explicabo earum ad quo facilis ab. Vero natus, eveniet. Quas ad tempora, quibusdam quisquam! Error iusto veritatis quod perspiciatis quisquam, porro deleniti, voluptatem culpa cum esse nobis mollitia. Autem.</p>
      <div class="wizard__cta-wrapper">
        <button type="button" class="button wizard__cta" data-wizard-next>Volgende</button>
        <br/> <br/>
        <a href="" class="link link--icon link--icon--caret link--icon--caret--back wizard__cta" data-wizard-prev>vorige</a>

      </div>
    </div>
    <div class="wizard__pane">
      <h3 class="h3">Nog meer gegevens</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet reiciendis, incidunt, mollitia rem officia facere non tempora architecto rerum sapiente ratione, in magnam iste perspiciatis officiis assumenda neque ullam. Quos quasi dolore quibusdam qui enim, reprehenderit quo accusantium, asperiores ad neque magnam ab consequatur. Nemo, eos ut itaque iste quod culpa earum ab ipsa magni hic sunt. Magni placeat, fuga quas, repellendus repudiandae vel totam blanditiis cupiditate dolore ea debitis dolor. Facilis explicabo enim nobis quod perferendis reiciendis cupiditate adipisci. Odio aut, incidunt eligendi voluptas necessitatibus cumque quae maiores cum ut facere excepturi asperiores debitis iure maxime culpa fugiat corrupti!</p>
      <div class="wizard__cta-wrapper">
        <button type="button" class="button wizard__cta" data-wizard-next>Volgende</button>
        <br/> <br/>
        <a href="" class="link link--icon link--icon--caret link--icon--caret--back wizard__cta" data-wizard-prev>vorige</a>
      </div>
    </div>
    <div class="wizard__pane">
      <h3 class="h3">En nog meer gegevens</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet reiciendis, incidunt, mollitia rem officia facere non tempora architecto rerum sapiente ratione, in magnam iste perspiciatis officiis assumenda neque ullam. Quos quasi dolore quibusdam qui enim, reprehenderit quo accusantium, asperiores ad neque magnam ab consequatur. Nemo, eos ut itaque iste quod culpa earum ab ipsa magni hic sunt. Magni placeat, fuga quas, repellendus repudiandae vel totam blanditiis cupiditate dolore ea debitis dolor. Facilis explicabo enim nobis quod perferendis reiciendis cupiditate adipisci. Odio aut, incidunt eligendi voluptas necessitatibus cumque quae maiores cum ut facere excepturi asperiores debitis iure maxime culpa fugiat corrupti!</p>
      <div class="wizard__cta-wrapper">
        <a href="" class="button wizard__cta">Voltooien</a> <br/>
        <a href="" class="link link--icon link--icon--caret link--icon--caret--back wizard__cta" data-wizard-prev>vorige</a>
      </div>
    </div>
  </div>
</section>
