.alert.alert--cta
  .alert__content
    .grid
        .col--11-12
            .alert__title Alert met call to action
            .alert__close
            .alert__message
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              p
                | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            .alert__actions
              a.button(href='#') Call to action

        .col--1-12.u-align--right
            a.link--icon--close(href='')
                span.u-visually-hidden Venster sluiten

.alert
  .alert__icon(aria-hidden='true')
  .alert__content
    .grid
        .col--11-12
            .alert__title Standaard alert
            .alert__message
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        .col--1-12.u-align--right
            a.link--icon--close(href='')
                span.u-visually-hidden Venster sluiten
