p Warning: the arrow does not appear where it needs to appear in the component library. It does in the templates.

.region.u-position--relative
  .grid.grid--is-stacked.grid--equal-height.u-spacer--tb
    .col--4-12.col--12-12--s.col--1-1--xs
      .info-tile.info-tile--m.info-tile--center.info-tile--v-center.grid--equal-height__item.toggle--arrow-down(href='#link-to-detailpage', data-drawer-id='123', data-drawer-content-id='fractie')
        div
          header.info-tile__header
            .info-tile__header__icon.badge.badge--accent.badge--l.badge--icon
              i.badge__icon.fa.fa-tag
            .info-tile__header__wrapper
              h3.info-tile__header__title Fractie
          .info-tile__content
            p Bijvoorbeeld CD&amp;V, Groen, N-VA of Open VLD.
          footer.info-tile__footer
            p
              a.link--icon.link--icon--caret(href='#') Zoek fractie

    .col--4-12.col--12-12--s.col--1-1--xs
      .info-tile.info-tile--m.info-tile--center.info-tile--v-center.grid--equal-height__item.toggle--arrow-down(href='#link-to-detailpage', data-drawer-id='123', data-drawer-content-id='bestuur')
        div
          .info-tile__header
            .info-tile__header__icon.badge.badge--accent.badge--l.badge--icon
              i.badge__icon.fa.fa-building-o(aria-hidden='true')
            .info-tile__header__wrapper
              h3.info-tile__header__title Bestuur
          .info-tile__content
            p Bijvoorbeeld de provincieraad, gemeentebestuur of OCMW.
          footer.info-tile__footer
            p
              a.link--icon.link--icon--caret(href='#') Zoek Bestuur

    .col--4-12.col--12-12--s.col--1-1--xs
      .info-tile.info-tile--m.info-tile--center.info-tile--v-center.grid--equal-height__item.toggle--arrow-down(href='#link-to-detailpage', data-drawer-id='123', data-drawer-content-id='persoon')
        div
          header.info-tile__header
            .info-tile__header__icon.badge.badge--accent.badge--l.badge--icon
              i.badge__icon.fa.fa-user(aria-hidden='true')
            .info-tile__header__wrapper
              h3.info-tile__header__title Persoon
          .info-tile__content
            p Bijvoorbeeld de naam van jouw burgemeester of een raadslid.
          footer.info-tile__footer
            p
              a.link--icon.link--icon--caret(href='#') Zoek persoon

  .grid
    .col--1-1
      .drawer.drawer--white(data-drawer='123', tabindex='-1')
        a.link--icon--close.drawer__close.js-drawer__close(href='')
          span.u-visually-hidden Venster sluiten

        .layout.layout--wide
          .drawer__content(data-drawer-content='fractie')
            .u-spacer--bottom--small
              h2.h3.title-alt.sans-serif.text-light.u-spacer--bottom--large Mandaten in een fractie

          .drawer__content(data-drawer-content='bestuur')
            h2.h3.title-alt.sans-serif.text-light.u-spacer--bottom--large Mandaten in een bestuur

          .drawer__content(data-drawer-content='persoon')
            .u-spacer--bottom--small
              h2.h3.title-alt.sans-serif.text-light.u-spacer--bottom--large Mandaten van een persoon



p Warning: the arrow does not appear where it needs to appear in the component library. It does in the templates.
.region.u-position--relative
  .grid.grid--is-stacked.grid--equal-height.u-spacer--tb
    .col--4-12.col--12-12--s.col--1-1--xs
      .info-tile.info-tile--m.info-tile--center.info-tile--v-center.grid--equal-height__item.toggle--arrow-down(href='#link-to-detailpage', data-drawer-id='1234', data-drawer-content-id='fractie1')
        div
          header.info-tile__header
            .info-tile__header__icon.badge.badge--accent.badge--l.badge--icon
              i.badge__icon.fa.fa-tag
            .info-tile__header__wrapper
              h3.info-tile__header__title Fractie
          .info-tile__content
            p Bijvoorbeeld CD&amp;V, Groen, N-VA of Open VLD.
          footer.info-tile__footer
            p
              a.link--icon.link--icon--caret(href='#') Zoek fractie

    .col--4-12.col--12-12--s.col--1-1--xs
      .info-tile.info-tile--m.info-tile--center.info-tile--v-center.grid--equal-height__item.toggle--arrow-down(href='#link-to-detailpage', data-drawer-id='1234', data-drawer-content-id='bestuur2')
        div
          .info-tile__header
            .info-tile__header__icon.badge.badge--accent.badge--l.badge--icon
              i.badge__icon.fa.fa-building-o(aria-hidden='true')
            .info-tile__header__wrapper
              h3.info-tile__header__title Bestuur
          .info-tile__content
            p Bijvoorbeeld de provincieraad, gemeentebestuur of OCMW.
          footer.info-tile__footer
            p
              a.link--icon.link--icon--caret(href='#') Zoek Bestuur

    .col--4-12.col--12-12--s.col--1-1--xs
      .info-tile.info-tile--m.info-tile--center.info-tile--v-center.grid--equal-height__item.toggle--arrow-down(href='#link-to-detailpage', data-drawer-id='1234', data-drawer-content-id='persoon3')
        div
          header.info-tile__header
            .info-tile__header__icon.badge.badge--accent.badge--l.badge--icon
              i.badge__icon.fa.fa-user(aria-hidden='true')
            .info-tile__header__wrapper
              h3.info-tile__header__title Persoon
          .info-tile__content
            p Bijvoorbeeld de naam van jouw burgemeester of een raadslid.
          footer.info-tile__footer
            p
              a.link--icon.link--icon--caret(href='#') Zoek persoon

  .grid
    .col--1-1
      .drawer(data-drawer='1234', tabindex='-1')
        a.link--icon--close.drawer__close.js-drawer__close(href='')
          span.u-visually-hidden Venster sluiten

        .layout.layout--wide
          .drawer__content(data-drawer-content='fractie1')
            .u-spacer--bottom--small
              h2.h3.title-alt.sans-serif.text-light.u-spacer--bottom--large Mandaten in een fractie

          .drawer__content(data-drawer-content='bestuur2')
            h2.h3.title-alt.sans-serif.text-light.u-spacer--bottom--large Mandaten in een bestuur

          .drawer__content(data-drawer-content='persoon3')
            .u-spacer--bottom--small
              h2.h3.title-alt.sans-serif.text-light.u-spacer--bottom--large Mandaten van een persoon

