.region.u-padding--round--large
  ul.grid.grid--is-stacked.js-equal-height-container
    li.col--4-12.col--6-12--m.col--12-12--xs
      a.doormat.doormat--alt.js-equal-height(href='#')
        img.doormat__image(src='http://placehold.it/100x150', alt='publication cover')
        h2.doormat__title(data-clamp='2')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore,
          | iste.
        .doormat__text(data-clamp='3')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Excepturi id molestiae neque tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, placeat.
    li.col--4-12.col--6-12--m.col--12-12--xs
      a.doormat.doormat--alt.js-equal-height(href='#')
        h2.doormat__title(data-clamp='2')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore,
          | iste.
        .doormat__text
          ul.bullet-list.bullet-list--tag
            li.bullet-list__item
              | Huurwoning renoveren
            li.bullet-list__item
              | Min. 9 jaar verhuren aan sociaal verhuurkantoor
    li.col--4-12.col--6-12--m.col--12-12--xs
      a.doormat.doormat--alt.js-equal-height(href='#')
        h2.doormat__title(data-clamp='2')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore,
          | iste.
        .doormat__text(data-clamp='3')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Excepturi id molestiae neque tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, placeat.

.region.region--alt.u-padding--round--large
  ul.grid.grid--is-stacked.js-equal-height-container
    li.col--4-12.col--6-12--m.col--12-12--xs
      a.doormat.doormat--alt.js-equal-height(href='#')
        img.doormat__image(src='http://placehold.it/100x150', alt='publication cover')
        h2.doormat__title(data-clamp='2')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore,
          | iste.
        .doormat__text(data-clamp='3')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Excepturi id molestiae neque tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, placeat.
    li.col--4-12.col--6-12--m.col--12-12--xs
      a.doormat.doormat--alt.js-equal-height(href='#')
        h2.doormat__title(data-clamp='2')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore,
          | iste.
        .doormat__text
          ul.bullet-list.bullet-list--tag
            li.bullet-list__item
              | Huurwoning renoveren
            li.bullet-list__item
              | Min. 9 jaar verhuren aan sociaal verhuurkantoor
    li.col--4-12.col--6-12--m.col--12-12--xs
      a.doormat.doormat--alt.js-equal-height(href='#')
        h2.doormat__title(data-clamp='2')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore,
          | iste.
        .doormat__text(data-clamp='3')
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.Excepturi id molestiae neque tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, placeat.
  // end component
