label.pill.pill--checkable(for='checkbox-1')
  input#checkbox-1.pill--checkable__checkbox(type='checkbox', name='checkbox', value='1')
  span
  |  Opleiding
label.pill.pill--checkable(for='checkbox-2')
  input#checkbox-2.pill--checkable__checkbox(type='checkbox', name='checkbox', value='2')
  span
  |  Technisch
label.pill.pill--checkable(for='checkbox-3')
  input#checkbox-3.pill--checkable__checkbox(type='checkbox', name='checkbox', value='3')
  span
  |  Full-time
label.pill.pill--checkable(for='checkbox-4')
  input#checkbox-4.pill--checkable__checkbox(type='checkbox', name='checkbox', value='4')
  span
  |  Bachelor diploma
