.pill.pill--closable
  span Opleiding
  a.pill__close(href='#') sluiten
.pill.pill--closable
  span Technisch
  a.pill__close(href='#') sluiten
.pill.pill--closable
  span Full-time
  a.pill__close(href='#') sluiten
.pill.pill--closable
  span Bachelor diploma
  a.pill__close(href='#') sluiten
