.grid.grid--is-stacked
  .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
    .badge.badge--border.badge--s.badge--icon
      i.badge__icon.vi.vi-calendar(aria-hidden='true')
  .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
    .badge.badge--border.badge--m.badge--icon.badge--icon--highlighted
      i.badge__icon.vi.vi-calendar(aria-hidden='true')
  .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
    .badge.badge--border.badge--l.badge--icon
      i.badge__icon.vi.vi-plus(aria-hidden='true')
  .col--3-12.col--6-12--m.col--6-12--s.col--1-1--xs
    .badge.badge--border.badge--xl.badge--icon
      i.badge__icon.vi.vi-minus(aria-hidden='true')

  .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
    i.vi.vi-plus.vi-u-badge.vi-u-badge--xxsmall.vi-u-badge--neutral(aria-hidden='true')
  .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
    i.vi.vi-plus.vi-u-badge.vi-u-badge--xsmall.vi-u-badge--neutral(aria-hidden='true')
  .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
    i.vi.vi-plus.vi-u-badge.vi-u-badge--small.vi-u-badge--neutral(aria-hidden='true')
  .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
    i.vi.vi-plus.vi-u-badge.vi-u-badge--medium.vi-u-badge--neutral(aria-hidden='true')
  .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
    i.vi.vi-plus.vi-u-badge.vi-u-badge--large.vi-u-badge--neutral(aria-hidden='true')
