.grid.grid--is-stacked
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-u-badge.vi-u-badge--xxsmall.vi-u-badge--action.vi-tag(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-u-badge.vi-u-badge--xsmall.vi-u-badge--action.vi-tag(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-u-badge.vi-u-badge--small.vi-u-badge--action.vi-tag(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-u-badge.vi-u-badge--medium.vi-u-badge--action.vi-tag(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-u-badge.vi-u-badge--large.vi-u-badge--action.vi-tag(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
br
.grid.grid--is-stacked
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-plus.vi-u-badge.vi-u-badge--xxsmall.vi-u-badge--neutral(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-plus.vi-u-badge.vi-u-badge--xsmall.vi-u-badge--neutral(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-plus.vi-u-badge.vi-u-badge--small.vi-u-badge--neutral(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-plus.vi-u-badge.vi-u-badge--medium.vi-u-badge--neutral(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
    .col--2-12.col--4-12--m.col--4-12--s.col--1-1--xs
        i.vi.vi-plus.vi-u-badge.vi-u-badge--large.vi-u-badge--neutral(data-toggle='tooltip', title='Tooltip', data-content='Tooltip', data-placement='right', data-timer='25')
