.grid.grid--is-stacked
  .col--6-12.col--12-12--s
    .document-miniature.document-miniature--small
      .document-miniature__type
        span.document-miniature__type__text XBRL
      .document-miniature__content
        a.document-miniature__title Text
        .document-miniature__metadata 1.4 MB

  .col--6-12.col--12-12--s
    .document-miniature.document-miniature--small
      .document-miniature__type
        span.document-miniature__type__text XML
      .document-miniature__content
        a.document-miniature__title Text
        .document-miniature__metadata 1.4 MB
