ul.link-list
  li
    a.link--icon--caret(href='#') This is a link in a list
  li
    a.link--icon--caret(href='#') This is a link in a list
  li
    a.link--icon--caret(href='#') This is a link in a list
  li
    a.link--icon--caret(href='#') This is a link in a list

ul.link-list.link-list--small
  li
    a.link--icon--caret(href='#') This is a link in a list
  li
    a.link--icon--caret(href='#') This is a link in a list
  li
    a.link--icon--caret(href='#') This is a link in a list
  li
    a.link--icon--caret(href='#') This is a link in a list
