.grid.grid--collapse
  .col--4-12.u-border--light--round
      .sidebar
        .sidebar__header
          h3.h3 Sidebar Header
        //.sidebar--dark
        .sidebar__content(style="max-height: 200px;")
          nav.side-navigation
            .side-navigation__content
              ul.side-navigation__group
                li.side-navigation__item
                  a(href='#') Inbox
                li.side-navigation__item
                  a.active(href='#') Mandatenbeheer
                li.side-navigation__item
                  a(href='#') Inzendplichtige besluiten
                li.side-navigation__item
                  a(href='#') Toezicht
                li.side-navigation__item
                  a(href='#') Personeelsaantallen
          nav.side-navigation
            .side-navigation__content
              ul.side-navigation__group
                li.side-navigation__item
                  a(href='#') Inbox
                li.side-navigation__item
                  a(href='#') Mandatenbeheer
                li.side-navigation__item
                  a(href='#') Inzendplichtige besluiten
                li.side-navigation__item
                  a(href='#') Toezicht

        .sidebar__footer
          button.button.button--block.button--alt Persoonlijke gegevens
